
{% extends 'partialsBase/base.html' %}

{% load static %}


{% block meta %}
<!-- HTML Meta Tags -->
<title>Hakkımızda | Eşyala</title>
<meta name="description" content="{{ description }}">

<meta property="og:url" content="https://esyala.com/about/">
<meta property="og:type" content="website">
<meta property="og:title" content="Hakkımızda | Eşyala">
<meta property="og:description" content="{{ description }}">

<meta property="og:image" content="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/banners/WhatsApp_Image_2024-05-04_at_15.webp">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="esyala.com">
<meta property="twitter:url" content="https://esyala.com/about/">
<meta name="twitter:title" content="Hakkımızda | Eşyala">
<meta name="twitter:description" content="{{ description }}">

<meta name="twitter:image" content="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/banners/WhatsApp_Image_2024-05-04_at_15.webp">

{% endblock %}




{% block content %}

<style>
   .img-holder a img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 233px; 
      overflow: hidden; 
      position: relative; 
  }
  a img {
      max-width: 100%;
      max-height: 100%;
  }
</style>

<!-- main container of all the page elements -->
<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'images/svg/rings.svg' %}" alt="loader">
        </div>
    </div> 
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}

        <main id="mt-main">
            <!-- Mt Content Banner of the Page -->
            <section class="mt-contact-banner wow fadeInUp" data-wow-delay="0.4s" style="background-image: url({% static 'images/img43.jpg' %}); background-size: cover; background-position: center;">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <h1>Hakkımızda</h1>
                    <nav class="breadcrumbs">
                      <ul class="list-unstyled">
                        <li><a href="{% url 'main:home' %}">Ana Sayfa <i class="fa fa-angle-right"></i></a></li>
                        <li>Hakkımızda</li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </section>
            <!-- Mt Content Banner of the Page end -->
            <!-- Mt About Section of the Page -->
            <section class="mt-about-sec">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="txt wow fadeInUp" data-wow-delay="0.4s">
                      <h2>Biz Kimiz?</h2>
                      <p>Merhaba! Biz Esyala.com ekibi olarak, sizlere en iyi kiralama ve satın alma deneyimini sunmak için buradayız. Misyonumuz, kullanıcılarımıza geniş bir ürün yelpazesi sunarak onların ihtiyaçlarına uygun çözümler sağlamaktır.</p>
                      <p>Esyala.com olarak, güvenilirlik, kalite ve müşteri memnuniyetini ön planda tutuyoruz. Her adımda sizin için en iyisini sunmak için çalışıyor ve her talebi özenle değerlendiriyoruz.</p>
                        <p>Sunduğumuz ürünler arasında mobilya, elektronik eşyalar, ev aletleri ve daha fazlası bulunmaktadır. Ayrıca, esnek kiralama seçenekleri ve uygun fiyatlarla, ihtiyaçlarınıza uygun çözümler sunuyoruz.</p>
                        <p>Siz değerli müşterilerimizin memnuniyeti bizim için en önemli önceliktir. Her zaman daha iyiye ve daha iyisine ulaşmak için çalışıyoruz. Sizlere hizmet etmekten mutluluk duyuyoruz ve her zaman yanınızdayız.</p>
                        <p><strong>Teşekkür ederiz, Esyala.com Ekibi </strong></p>
                    </div>
                    <div class="mt-follow-holder">
                      <span class="title">Bizi Takip Edin</span>
                      <!-- Social Network of the Page -->
                      {% if social_media_links.count > 0 %}
                            <ul class="list-unstyled social-network">
                            {% for social_media in social_media_links %}
                                    {% if social_media.name == 'facebook' %}
                                    <li><a target="_blank" href="{{ social_media.link }}"><i class="fa fa-facebook"></i></a></li>
                                    {% elif social_media.name == 'twitter' %}
                                    <li><a target="_blank" href="{{ social_media.link }}"><i class="fa fa-twitter"></i></a></li>
                                    {% elif social_media.name == 'instagram' %}
                                    <li><a target="_blank" href="{{ social_media.link }}"><i class="fa fa-instagram"></i></a></li>
                                    {% elif social_media.name == 'linkedin' %}
                                    <li><a target="_blank" href="{{ social_media.link }}"><i class="fa fa-linkedin"></i></a></li>
                                    {% elif social_media.name == 'youtube' %}
                                    <li><a target="_blank" href="{{ social_media.link }}"><i class="fa fa-youtube"></i></a></li>
                                    {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                      <!-- Social Network of the Page end -->
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="mt-team-sec">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <h3>Takımımız</h3>
            
                    <div class="holder">
                      <div class="row">
                        {% for team_member in teamsMembers|dictsort:"level" %}
                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
                            <div class="img-holder">
                                <a href="javascript:void(0)">
                                    <img src="{{ team_member.image.url }}" alt="{{ team_member.full_name }}">
                                    <ul class="list-unstyled social-icon">
                                        {% for platform, link in team_member.get_social_media_links.items %}
                                            <li data-link="{{ link }}"><i class="fa fa-{{ platform }}"></i></li>
                                        {% endfor %}
                                    </ul>
                                </a>
                            </div>
                            <div class="mt-txt">
                                <h4><a href="#">{{ team_member.full_name|title }}</a></h4>
                                <span class="sub-title">{{ team_member.position|title }}</span>
                            </div>
                        </div>
                    {% endfor %}

                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </section>
          </main>

        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>


<script>

var socialIcons = document.querySelectorAll('.social-icon li');

// Her bir sosyal medya ikonuna tıklanma olayı ekle
socialIcons.forEach(function(icon) {
    icon.addEventListener('click', function() {
        // İkona ait bağlantıyı al
        var url = icon.getAttribute('data-link');
        // Linki yeni sekmede aç
        window.open(url, '_blank');
    });
    
    // Her bir ikona fare geldiğinde
    icon.addEventListener('mouseenter', function() {
        icon.style.cursor = 'pointer'; // İmleci el işareti yap
    });
});

</script>


{%  endblock %}









    
     

 