{% extends 'partialsBase/base.html' %}

{% load static %}

{% block title %} İletişim - Esyala {% endblock title %}

{% block content %}

<!-- main container of all the page elements -->
<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
        </div>
    </div>
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}

        <main id="mt-main">
  
          <!-- Mt Map Descrp of the Page -->
          <section class="mt-map-descrp wow fadeInUp" data-wow-delay="0.4s">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h1>İletişim</h1>
                  <p>Açıklama Gelecek</p>
                </div>
              </div>
            </div>
          </section>
          <!-- Mt Map Descrp of the Page end -->
          <!-- Mt Contact Detail of the Page -->
          <div class="mt-contact-detail wow fadeInUp" data-wow-delay="0.4s">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-4 mt-paddingbottomxs text-center">
                  <span class="icon"><i class="fa fa-map-marker"></i></span>
                  <strong class="title">ADDRESS</strong>
                  <address>Suite 18B, 148 Connaught Road Central <br>New Yankee</address>
                </div>
                <div class="col-xs-12 col-sm-4 mt-paddingbottomxs text-center">
                  <span class="icon"><i class="fa fa-phone"></i></span>
                  <strong class="title">PHONE</strong>
                  <a href="#">+1 (555) 333 22 11</a>
                </div>
                <div class="col-xs-12 col-sm-4 mt-paddingbottomxs text-center">
                  <span class="icon"><i class="fa fa-envelope-o"></i></span>
                  <strong class="title">E_MAIL</strong>
                  <a href="#">info@esyala.com</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Mt Contact Detail of the Page end -->
          <!-- Mt Form Section of the Page -->
          <section class="mt-form-sec wow fadeInUp" data-wow-delay="0.4s">
            <div class="container">
              <div class="row">
                <header class="col-xs-12 text-center header">
                  <h2>Have a question?</h2>
                  <p> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>Duis aute irure dolor in reprehenderit in voluptate velit sse cillum dolore eu fugiat nulla pariatur.</p>
                </header>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <!-- Contact Form of the Page -->
                  <form class="contact-form" id="contact-form-ajax" method="POST">
                       {% csrf_token %}
                    <fieldset>
                      <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Adını ve soyadını gir"  required>
                      <input type="email" class="form-control" name="email" id="email" placeholder="isim@örnek.com"  required >
                      <input type="tel" class="form-control"class="form-control" id="phone" name="telphone" placeholder="888 888 8888"  maxlength="12"  title="Ten digits code" required/> 
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu"  required>
                      <textarea class="form-control" name="message" id="message" placeholder="Mesajını detaylı olarak yazabilirsin" required></textarea>
                      <button class="btn-type3" id="contact-form-ajax" type="submit">Gönder</button>
                    </fieldset>
                  </form>
                  <!-- Contact Form of the Page end -->
                </div>
              </div>
            </div>
          </section>
          <!-- Mt Form Section of the Page -->
        </main>
      


        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>
<a id="newsletter-hiddenlink" href="#popup2" class="lightbox" style="display: none;">NEWSLETTER</a>
<!-- Popup Holder of the Page -->
<div class="popup-holder">
    <!-- Popup of the Page -->
    <div id="popup1" class="lightbox">
        <!-- Mt Product Detial of the Page -->
        <section class="mt-product-detial">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Slider of the Page -->
                        <div class="slider">
                            <!-- Comment List of the Page -->
                            <ul class="list-unstyled comment-list">
                                <li><a href="#"><i class="fa fa-heart"></i>27</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i>12</a></li>
                                <li><a href="#"><i class="fa fa-share-alt"></i>14</a></li>
                            </ul><!-- Comment List of the Page end -->
                            <!-- Product Slider of the Page -->
                            <div class="product-slider">
                                <div class="slide">
                                    <img src="images/img03.jpg" alt="image descrption">
                                </div>
                                <div class="slide">
                                    <img src="images/img03.jpg" alt="image descrption">
                                </div>
                                <div class="slide">
                                    <img src="images/img03.jpg" alt="image descrption">
                                </div>
                                <div class="slide">
                                    <img src="images/img03.jpg" alt="image descrption">
                                </div>
                            </div><!-- Product Slider of the Page end -->
                            <!-- Pagg Slider of the Page -->
                            <ul class="list-unstyled slick-slider pagg-slider">
                                <li><img src="images/img03.jpg" alt="image description"></li>
                                <li><img src="images/img03.jpg" alt="image description"></li>
                                <li><img src="images/img03.jpg" alt="image description"></li>
                                <li><img src="images/img03.jpg" alt="image description"></li>
                                <li><img src="images/img03.jpg" alt="image description"></li>
                                <li><img src="images/img03.jpg" alt="image description"></li>
                            </ul><!-- Pagg Slider of the Page end -->
                        </div><!-- Slider of the Page end -->
                        <!-- Detail Holder of the Page -->
                        <div class="detial-holder">
                            <!-- Breadcrumbs of the Page -->
                            <ul class="list-unstyled breadcrumbs">
                                <li><a href="#">Chairs <i class="fa fa-angle-right"></i></a></li>
                                <li>Products</li>
                            </ul>
                            <!-- Breadcrumbs of the Page end -->
                            <h2>KAILA FABRIC CHAIR</h2>
                            <!-- Rank Rating of the Page -->
                            <div class="rank-rating">
                                <ul class="list-unstyled rating-list">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                </ul>
                                <span class="total-price">Reviews (12)</span>
                            </div><!-- Rank Rating of the Page end -->
                            <ul class="list-unstyled list">
                                <li><a href="#"><i class="fa fa-share-alt"></i>SHARE</a></li>
                                <li><a href="#"><i class="fa fa-exchange"></i>COMPARE</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>ADD TO WISHLIST</a></li>
                            </ul>
                            <div class="txt-wrap">
                                <p>Koila is a chair designed for restaurants and food lovers in general. Designed in collaboration with restaurant professionals, it ensures comfort and an ideal posture, as there are armrests on both sides of the chair.</p>
                                <p>Koila is a seat designed for restaurants and gastronomic places in general. Designed in collaboration with professional of restaurants and hotels field, this armchair is composed of a curved shell with a base in oak who has pinched the back upholstered in fabric or leather. It provides comfort and holds for ideal sitting position,the arms may rest on the sides ofthe armchair.</p>
                            </div>
                            <div class="text-holder">
                                <span class="price">$ 79.00 <del>399,00</del></span>
                            </div><!-- Product Form of the Page -->
                            <form action="#" class="product-form">
                                <fieldset>
                                    <div class="row-val">
                                        <label for="qty">qty</label>
                                        <select id="clr">
                                            <option>1</option>
                                        </select>
                                    </div>
                                    <div class="row-val">
                                        <button type="submit">ADD TO CART</button>
                                    </div>
                                </fieldset>
                            </form><!-- Product Form of the Page end -->
                        </div><!-- Detail Holder of the Page end -->
                    </div>
                </div>
            </div>
        </section><!-- Mt Product Detial of the Page end -->
    </div><!-- Popup of the Page end -->
    <!-- Popup of the Page -->
    <!-- Popup of the Page -->
    <div id="popup2" class="lightbox">
        <!-- Mt Newsletter Popup of the Page -->
        <section class="mt-newsletter-popup">
            <span class="title">NEWSLETTER</span>
            <div class="holder">
                <div class="txt-holder">
                    <h1>JOIN OUR NEWSLETTER</h1>
                    <span class="txt">Subscribe now to get <b>15%</b> off on any product!</span>
                    <!-- Newsletter Form of the Page -->
                    <form action="#" class="newsletter-form">
                        <fieldset>
                            <input type="email" class="form-control" placeholder="Enter your e-mail">
                            <button type="submit">SUBSCRIBE</button>
                        </fieldset>
                    </form><!-- Newsletter Form of the Page -->
                </div>
                <div class="img-holder">
                    <img src="{% static 'basestatic/images/img02.png' %}" alt="image description">
                </div>
            </div><!-- Popup Form of the Page -->
            <form action="#" class="popup-form">
                <fieldset>
                    <input type="checkbox" class="form-control">Don’t show this popup again
                </fieldset>
            </form><!-- Popup Form of the Page end -->
        </section><!-- Mt Newsletter Popup of the Page -->
    </div><!-- Popup of the Page end -->
</div><!-- Popup Holder of the Page end -->


{%  endblock %}