{% extends 'partialsBase/base.html' %}

{% load static %}


{% block meta %}
<!-- HTML Meta Tags -->
<title>İletişim | Eşyala</title>
<meta name="description" content="{{ description }}">

<meta property="og:url" content="https://esyala.com/contact/">
<meta property="og:type" content="website">
<meta property="og:title" content="İletişim | Eşyala">
<meta property="og:description" content="{{ description }}">

<meta property="og:image" content="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/Site-Images/quino-al-4SNUcHPiC8c-unsplash.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="esyala.com">
<meta property="twitter:url" content="https://esyala.com/contact/">
<meta name="twitter:title" content="İletişim | Eşyala">
<meta name="twitter:description" content="{{ description }}">

<meta name="twitter:image" content="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/Site-Images/quino-al-4SNUcHPiC8c-unsplash.jpg">

{% endblock %}

{% block content %}
<!-- main container of all the page elements -->
<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'images/svg/rings.svg' %}" alt="loader">
        </div>
    </div> 
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}
        <main id="mt-main">
  
          <!-- Mt Map Descrp of the Page -->
          <section class="mt-contact-banner wow fadeInUp" data-wow-delay="0.4s" style="background-image: url({% static 'images/img43.jpg' %}); background-size: cover; background-position: center;">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h1>İletişim</h1>
                  <nav class="breadcrumbs">
                    <ul class="list-unstyled">
                      <li><a href="{% url 'main:home' %}">Ana Sayfa <i class="fa fa-angle-right"></i></a></li>
                      <li>İletişim</li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </section>
          <!-- Mt Map Descrp of the Page end -->
          
          <!-- Mt Contact Detail of the Page -->
          <div class="mt-contact-detail wow fadeInUp" data-wow-delay="0.4s">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-4 mt-paddingbottomxs text-center">
                  <span class="icon"><i class="fa fa-map-marker"></i></span>
                  <strong class="title">Adres</strong>
                  <address>Veysel Karani, Çolakoğlu Sokağı No: 10, 34885 Rings Rezidans Kat :5 Daire :87  <br>Sancaktepe/İstanbul</address>
                </div>
                <div class="col-xs-12 col-sm-4 mt-paddingbottomxs text-center">
                  <span class="icon"><i class="fa fa-phone"></i></span>
                  <strong class="title">Telefon</strong>
                  <a href="tel:+908503048400" class="tel">0 850 304 84 00</a>
                </div>
                <div class="col-xs-12 col-sm-4 mt-paddingbottomxs text-center">
                  <span class="icon"><i class="fa fa-envelope-o"></i></span>
                  <strong class="title">E-Mail</strong>
                  <a href="mailto:info@esyala.com">info@esyala.com</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Mt Contact Detail of the Page end -->
          
          <!-- Mt Form Section of the Page -->
          <section class="mt-form-sec wow fadeInUp" data-wow-delay="0.4s">
            <div class="container">
              <div class="row">
                <header class="col-xs-12 text-center header">
                  <h2>Sorunuz mu var?</h2>
                  <p>Aşağıdaki formu doldurarak bizimle iletişime geçebilirsiniz.</p>
                </header>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <!-- Contact Form of the Page -->
                  <form class="contact-form" method="POST" action="{% url 'main:contact' %}">
                    {% csrf_token %}
                    <fieldset>
                        <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Adınızı ve soyadınızı girin" maxlength="100" required>
                        <input type="email" class="form-control" name="email" id="email" placeholder="isim@örnek.com" maxlength="100" required>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="(500) 123 1234" maxlength="17" title="Telefon numaranızı girin" oninput="formatPhoneNumber(this)" required>
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" maxlength="100" required>
                        <textarea class="form-control" name="message" id="message" placeholder="Mesajınızı detaylı olarak yazabilirsiniz" maxlength="500" required></textarea>
                        <button class="btn-type3" type="submit">Gönder</button>
                    </fieldset>
                </form>
                </div>
              </div>
            </div>
          </section>
        </main>

        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>

<script>
  function formatPhoneNumber(input) {
      let value = input.value.replace(/\D/g, ''); // Sadece rakamları al
      if (value.length > 10) {
          value = value.substring(0, 10); // 10 rakamdan fazlasını al
      }
      let formattedValue = '';
      if (value.length > 0) {
          formattedValue += '(' + value.substring(0, 3); // İlk 3 rakamı parantez içine al
      }
      if (value.length > 3) {
          formattedValue += ') ' + value.substring(3, 6); // Sonraki 3 rakamı ekle
      }
      if (value.length > 6) {
          formattedValue += ' ' + value.substring(6, 10); // Son 4 rakamı ekle
      }
      input.value = formattedValue;
  }
</script>

{% endblock %}
