{% extends 'partialsBase/base.html' %}

{% load static %}

{% block title %} İletişim - Esyala {% endblock title %}

{% block content %}

<!-- main container of all the page elements -->
<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
        </div>
    </div>
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}
        <main id="mt-main">
  
          <!-- Mt Map Descrp of the Page -->
          <section class="mt-contact-banner wow fadeInUp" data-wow-delay="0.4s" style="background-image: url({% static 'basestatic/images/img43.jpg' %}); background-size: cover; background-position: center;">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h1>İletişim</h1>
                  <nav class="breadcrumbs">
                    <ul class="list-unstyled">
                      <li><a href="{% url 'main:home' %}">Ana Sayfa <i class="fa fa-angle-right"></i></a></li>
                      <li>İletişim</li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </section>
          <!-- Mt Map Descrp of the Page end -->
          <!-- Mt Contact Detail of the Page -->
          <div class="mt-contact-detail wow fadeInUp" data-wow-delay="0.4s">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-4 mt-paddingbottomxs text-center">
                  <span class="icon"><i class="fa fa-map-marker"></i></span>
                  <strong class="title">Adres</strong>
                  <address>Veysel Karani, Çolakoğlu Sokağı No: 10, 34885 Rings Rezidans Kat :5 Daire :87  <br>Sancaktepe/İstanbul</address>
                </div>
                <div class="col-xs-12 col-sm-4 mt-paddingbottomxs text-center">
                  <span class="icon"><i class="fa fa-phone"></i></span>
                  <strong class="title">Telefon</strong>
                  <a href="#">0530 582 04 55</a>
                </div>
                <div class="col-xs-12 col-sm-4 mt-paddingbottomxs text-center">
                  <span class="icon"><i class="fa fa-envelope-o"></i></span>
                  <strong class="title">E-Mail</strong>
                  <a href="#">info@esyala.com</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Mt Contact Detail of the Page end -->
          <!-- Mt Form Section of the Page -->
          <section class="mt-form-sec wow fadeInUp" data-wow-delay="0.4s">
            <div class="container">
              <div class="row">
                <header class="col-xs-12 text-center header">
                  <h2>Sorunuz mu var?</h2>
                  <p> Aşağıdaki formu dolduraraki bizimle iletişime geçebilirsiniz.</p>
                </header>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <!-- Contact Form of the Page -->
                  <form class="contact-form" id="contact-form-ajax" method="POST">
                       {% csrf_token %}
                    <fieldset>
                      <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Adını ve soyadını gir"  required>
                      <input type="email" class="form-control" name="email" id="email" placeholder="isim@örnek.com"  required >
                      <input type="tel" class="form-control"class="form-control" id="phone" name="telphone" placeholder="888 888 8888"  maxlength="12"  title="Ten digits code" required/> 
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu"  required>
                      <textarea class="form-control" name="message" id="message" placeholder="Mesajını detaylı olarak yazabilirsin" required></textarea>
                      <button class="btn-type3" id="contact-form-ajax" type="submit">Gönder</button>
                    </fieldset>
                  </form>
                  <!-- Contact Form of the Page end -->
                </div>
              </div>
            </div>
          </section>
          <!-- Mt Form Section of the Page -->
        </main>
      


        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>


{%  endblock %}