{% extends 'partialsBase/base.html' %}

{% load static %}

{% block title %} Nasıl Çalışır | Eşyala {% endblock title %}

{% block meta %}
<!-- HTML Meta Tags -->
<title>Nasıl Çalışır | Eşyala</title>
<meta name="description" content="{{ description }}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://esyala.com/how-does-it-work/">
<meta property="og:type" content="website">
<meta property="og:title" content="Nasıl Çalışır | Eşyala">
<meta property="og:description" content="{{ description }}">

<meta property="og:image" content="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/Site-Images/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="esyala.com">
<meta property="twitter:url" content="https://esyala.com/how-does-it-work/">
<meta name="twitter:title" content="Nasıl Çalışır | Eşyala">
<meta name="twitter:description" content="{{ description }}">

<meta name="twitter:image" content="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/Site-Images/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg">

{% endblock %}

{% block content %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
<style>
  .swiper {
    width: 100%;
    height: 100%; /* Yükseklik ayarı */
    margin-bottom: 20px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    border-radius: 5px;
    overflow: hidden;
  }

  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Görselleri orantılı şekilde gösterir */
  }

  .swiper-button-next, .swiper-button-prev {
    color: #333; /* Düğmelerin rengi */
  }

  .swiper-pagination-bullet {
    background-color: #333; /* Sayfa göstergesinin rengi */
  }
</style>

<!-- main container of all the page elements -->
<div id="wrapper">
  <div class="w1">
    {% include 'coreBase/header.html' %}
    <main id="mt-main">
      <section class="mt-contact-banner" style="background-image: url({% static 'images/img43.jpg' %}); background-size: cover; background-position: center;">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h1>Nasıl Çalışır</h1>
              <nav class="breadcrumbs">
                <ul class="list-unstyled">
                  <li><a href="{% url 'main:home' %}">Ana Sayfa <i class="fa fa-angle-right"></i></a></li>
                  <li>Nasıl Çalışır</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>

      <!-- Swiper Slider -->
      <div class="container">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/images/doesItWork/1.png" alt="Adım 1">
            </div>
            <div class="swiper-slide">
              <img src="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/images/doesItWork/2.png" alt="Adım 2">
            </div>
            <div class="swiper-slide">
              <img src="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/images/doesItWork/3.png" alt="Adım 3">
            </div>
            <div class="swiper-slide">
              <img src="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/images/doesItWork/4.png" alt="Adım 4">
            </div>
          </div>
        </div>
      </div>
      
    </main>
    {% include 'coreBase/footer.html' %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
    slidesPerView: 1,
    spaceBetween: 20,
    loop: true,
    autoplay: {
      delay: 3000,  // Slaytlar arasındaki bekleme süresi (ms)
      disableOnInteraction: false,  // Kullanıcı etkileşimi sonrası durdurulmaz
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
{% endblock %}
