<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sipariş PDF</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 14px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <img src="https://filestorages.fra1.digitaloceanspaces.com/EmailFolder/esyalacom.png" alt="Your Logo" style="max-width: 100%; height: auto;">
    <h1>{{ order.order_number }} Sipariş Detayları</h1>
    <p><strong>Sipariş Tarihi:</strong> {{ order.created_at }}</p>
    <p><strong>Adres:</strong> {{ order.order_adress }}</p>
    <p><strong>Fatura Adresi:</strong> {{ order.billing_adress }}</p>
    <p><strong>Toplam Tutar:</strong> {{ order.total_amount }} TL</p>
    <h2>Ürünler</h2>
    <ul>
        {% for order_item in order.order_items.all %}
            <li>{{ order_item.product.name }} - {{ order_item.quantity }}</li>
        {% endfor %}
    </ul>
    <p><strong>Sipariş Durumu:</strong> {{ order.status }}</p>
    <p><strong>Kargo Durumu:</strong> {{ order.shipping_status }}</p>
    <!-- Diğer sipariş detayları buraya gelebilir -->
</body>
</html>
