{% extends 'partialsBase/base.html' %}
{% load static %}
{% block content %}

<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
        </div>
    </div>
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}
        <!-- mt header style4 end here -->
        <!-- mt side menu start here -->
    
        <main id="mt-main">
            <!-- Mt Contact Banner of the Page -->
            <section class="mt-contact-banner style4" style="background-image: url({% static 'basestatic/images/img11.jpg' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h1>CHAIRS</h1>
                            <!-- Breadcrumbs of the Page -->
                            <nav class="breadcrumbs">
                                <ul class="list-unstyled">
                                    <li><a href="#">Home <i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="#">Products <i class="fa fa-angle-right"></i></a></li>
                                    <li>Chairs</li>
                                </ul>
                            </nav><!-- Breadcrumbs of the Page end -->
                        </div>
                    </div>
                </div>
            </section><!-- Mt Contact Banner of the Page end -->
            <div class="container">
                <div class="row">
                    <!-- sidebar of the Page start here -->
                    <aside id="sidebar" class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                        <!-- shop-widget filter-widget of the Page start here -->
                        <section class="shop-widget filter-widget bg-grey">
                            <h2>FILTER</h2>
                            <span class="sub-title">Filter by Brands</span>
                            <!-- nice-form start here -->
                            <ul class="list-unstyled nice-form">
                                <li>
                                    <label for="check-1">
                                        <input id="check-1" type="checkbox">
                                        <span class="fake-input"></span>
                                        <span class="fake-label">Casali</span>
                                    </label>
                                    <span class="num">2</span>
                                </li>
                                <li>
                                    <label for="check-2">
                                        <input id="check-2" type="checkbox">
                                        <span class="fake-input"></span>
                                        <span class="fake-label">Decar</span>
                                    </label>
                                    <span class="num">12</span>
                                </li>
                                <li>
                                    <label for="check-3">
                                        <input id="check-3" checked="checked" type="checkbox">
                                        <span class="fake-input"></span>
                                        <span class="fake-label">Fantini</span>
                                    </label>
                                    <span class="num">4</span>
                                </li>
                                <li>
                                    <label for="check-4">
                                        <input id="check-4" type="checkbox">
                                        <span class="fake-input"></span>
                                        <span class="fake-label">Flamentstyle</span>
                                    </label>
                                    <span class="num">4</span>
                                </li>
                                <li>
                                    <label for="check-5">
                                        <input id="check-5" type="checkbox">
                                        <span class="fake-input"></span>
                                        <span class="fake-label">Heerenhuis</span>
                                    </label>
                                    <span class="num">6</span>
                                </li>
                                <li>
                                    <label for="check-6">
                                        <input id="check-6" type="checkbox">
                                        <span class="fake-input"></span>
                                        <span class="fake-label">Hoffmann</span>
                                    </label>
                                    <span class="num">10</span>
                                </li>
                                <li>
                                    <label for="check-7">
                                        <input id="check-7" type="checkbox">
                                        <span class="fake-input"></span>
                                        <span class="fake-label">Italfloor</span>
                                    </label>
                                    <span class="num">3</span>
                                </li>
                            </ul><!-- nice-form end here -->
                            <span class="sub-title">Filter by Price</span>
                            <div class="price-range">
                                <div class="range-slider">
                                    <span class="dot"></span>
                                    <span class="dot dot2"></span>
                                </div>
                                <span class="price">Price &nbsp;   $ 10  &nbsp;  -  &nbsp;   $ 599</span>
                                <a href="#" class="filter-btn">Filter</a>
                            </div>
                        </section><!-- shop-widget filter-widget of the Page end here -->
                        <!-- shop-widget of the Page start here -->
                        <section class="shop-widget">
                            <h2>CATEGORIES</h2>
                            <!-- category list start here -->
                            <ul class="list-unstyled category-list">
                                <li>
                                    <a href="#">
                                        <span class="name">CHAIRS</span>
                                        <span class="num">12</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="name">SOFAS</span>
                                        <span class="num">24</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="name">ARMCHAIRS</span>
                                        <span class="num">9</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="name">BEDROOM</span>
                                        <span class="num">2</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="name">LIGHTING</span>
                                        <span class="num">17</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="name">KITCHEN</span>
                                        <span class="num">10</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="name">ACCESSORIES</span>
                                        <span class="num">23</span>
                                    </a>
                                </li>
                            </ul><!-- category list end here -->
                        </section><!-- shop-widget of the Page end here -->
                        <!-- shop-widget of the Page start here -->
                        <section class="shop-widget">
                            <h2>HOT SALE</h2>
                            <!-- mt product4 start here -->
                            <div class="mt-product4 mt-paddingbottom20">
                                <div class="img">
                                    <a href="product-detail.html"><img src="images/products/img14.jpg" alt="image description"></a>
                                </div>
                                <div class="text">
                                    <div class="frame">
                                        <strong><a href="product-detail.html">Egon Wooden Chair</a></strong>
                                        <ul class="mt-stars">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                    <del class="off">$75,00</del>
                                    <span class="price">$55,00</span>
                                </div>
                            </div><!-- mt product4 end here -->
                            <!-- mt product4 start here -->
                            <div class="mt-product4 mt-paddingbottom20">
                                <div class="img">
                                    <a href="product-detail.html"><img src="images/products/img15.jpg" alt="image description"></a>
                                </div>
                                <div class="text">
                                    <div class="frame">
                                        <strong><a href="product-detail.html">Oyo Cantilever Chair</a></strong>
                                    </div>
                                    <del class="off">$75,00</del>
                                    <span class="price">$55,00</span>
                                </div>
                            </div><!-- mt product4 end here -->
                            <!-- mt product4 start here -->
                            <div class="mt-product4 mt-paddingbottom20">
                                <div class="img">
                                    <a href="product-detail.html"><img src="images/products/img16.jpg" alt="image description"></a>
                                </div>
                                <div class="text">
                                    <div class="frame">
                                        <strong><a href="product-detail.html">Kurve Chair</a></strong>
                                        <ul class="mt-stars">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                    <del class="off">$75,00</del>
                                    <span class="price">$55,00</span>
                                </div>
                            </div><!-- mt product4 end here -->
                            <!-- mt product4 start here -->
                            <div class="mt-product4 mt-paddingbottom20">
                                <div class="img">
                                    <a href="product-detail.html"><img src="images/products/img20.jpg" alt="image description"></a>
                                </div>
                                <div class="text">
                                    <div class="frame">
                                        <strong><a href="product-detail.html">Marvelous Wooden Chair</a></strong>
                                    </div>
                                    <del class="off">$75,00</del>
                                    <span class="price">$55,00</span>
                                </div>
                            </div><!-- mt product4 end here -->
                        </section><!-- shop-widget of the Page end here -->
                    </aside><!-- sidebar of the Page end here -->
                    <div class="col-xs-12 col-sm-8 col-md-9 wow fadeInRight" data-wow-delay="0.4s">
                        <!-- mt shoplist header start here -->
                        <header class="mt-shoplist-header">
                            <!-- btn-box start here -->
                            <div class="btn-box">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="drop-link">
                                            Default Sorting <i aria-hidden="true" class="fa fa-angle-down"></i>
                                        </a>
                                        <div class="drop">
                                            <ul class="list-unstyled">
                                                <li><a href="#">ASC</a></li>
                                                <li><a href="#">DSC</a></li>
                                                <li><a href="#">Price</a></li>
                                                <li><a href="#">Relevance</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a class="mt-viewswitcher" href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
                                    <li><a class="mt-viewswitcher" href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a></li>
                                </ul>
                            </div><!-- btn-box end here -->
                            <!-- mt-textbox start here -->
                            <div class="mt-textbox">
                                <p>Showing  <strong>1–9</strong> of  <strong>65</strong> results</p>
                                <p>View   <a href="#">9</a> / <a href="#">18</a> / <a href="#">27</a> / <a href="#">All</a></p>
                            </div><!-- mt-textbox end here -->
                        </header><!-- mt shoplist header end here -->
                        <!-- mt productlisthold start here -->
                        <ul class="mt-productlisthold list-inline">
                            
                            {% for product in products %}
                            <li>
                                <!-- mt product2 start here -->
                                <div class="mt-product2 large bg-grey">
                                    <!-- box start here -->
                                    <div class="box">
                                        {% with first_image=product.related_products.first %}
                                                {% if first_image %}
                                                <a href="product-detail.html"><img src="{{ first_image.image.url }}" alt="{{ first_image.img_title }}"></a>
                                                {% endif %}
                                        {% endwith %}
                                        

                                        {% if product.get_precentage != None %}
                                        <span class="caption">
                                            <span class="off">{{product.get_precentage|floatformat:0}}%</span>
                                        </span>
                                        {% endif %}

                                        <ul class="mt-stars">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <ul class="links">
                                            {% if request.user.is_authenticated %}
                                                <li><a href="#"><i class="icon-handbag"></i></a></li>
                                            {% endif %}
                                            {% if request.user.is_authenticated %}
                                                <li><a  aria-label="Beğendiklerim" class="action-btn add-to-wishlist" data-product-item="{{product.id}}" href="#"><i class="icon-heart"></i></a></li>
                                            {% endif %}
                                            <li><a href="#popup{{product.id}}" class="lightbox" ><i class="icomoon icon-eye"></i></a></li>

                                        </ul>
                                    </div><!-- box end here -->
                                    <!-- txt end here -->

                                    <div class="txt">
                                        <strong class="title">{{ product.name }}</strong>
                                        {% if product.selling_old_price is not null %}
                                        <del class="off"><i class="fa fa-try"></i> <span>{{product.selling_old_price}}</span></del>
                                        {% endif %}
                                        <span class="price"><i class="fa fa-try"></i> <span>{{product.selling_price}}</span></span>
                                    </div><!-- txt end here -->
                                </div><!-- mt product2 end here -->
                            </li>
                            
                            
                            {% endfor %}
                            
                            
                            
                        </ul><!-- mt productlisthold end here -->
                        <!-- mt pagination start here -->
                        <nav class="mt-pagination">
                            <ul class="list-inline">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                            </ul>
                        </nav><!-- mt pagination end here -->
                    </div>
                </div>
            </div>
        </main><!-- mt main end here -->
        <!-- footer of the Page -->
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>



<div class="popup-holder">
    <!-- Popup of the Page -->
    {% for product in products %}
    <div id="popup{{product.id}}" class="lightbox" style="display: none;">
        <!-- Mt Product Detial of the Page -->
        <section class="mt-product-detial">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Slider of the Page -->
                        <div class="slider">
                            <!-- Comment List of the Page -->
                            <ul class="list-unstyled comment-list">
                                <li><a href="#"><i class="fa fa-heart"></i>27</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i>12</a></li>
                                <li><a href="#"><i class="fa fa-share-alt"></i>14</a></li>
                            </ul><!-- Comment List of the Page end -->
                            <!-- Product Slider of the Page -->
                            <div class="product-slider slick-initialized slick-slider">
                                <div aria-live="polite" class="slick-list draggable">
                                    <div class="slick-track" role="listbox" style="opacity: 1; width: 2284px;">
                                        <div class="slide slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1"
                                            role="option" aria-describedby="slick-slide50"
                                            style="width: 571px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;">
                                            <img src="{% static 'basestatic/images/img03.jpg' %}" alt="image descrption">
                                        </div>
                                        <div class="slide slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1"
                                            role="option" aria-describedby="slick-slide51"
                                            style="width: 571px; position: relative; left: -571px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;">
                                            <img src="{% static 'basestatic/images/img03.jpg' %}" alt="image descrption">
                                        </div>
                                        <div class="slide slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1"
                                            role="option" aria-describedby="slick-slide52"
                                            style="width: 571px; position: relative; left: -1142px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;">
                                            <img src="{% static 'basestatic/images/img03.jpg' %}" alt="image descrption">
                                        </div>
                                        <div class="slide slick-slide slick-current slick-active" data-slick-index="3"
                                            aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide53"
                                            style="width: 571px; position: relative; left: -1713px; top: 0px; z-index: 999; opacity: 1;">
                                            <img src="{% static 'basestatic/images/img03.jpg' %}" alt="image descrption">
                                        </div>
                                    </div>
                                </div>
        
        
        
                            </div><!-- Product Slider of the Page end -->
                            <!-- Pagg Slider of the Page -->
                            <ul class="list-unstyled slick-slider pagg-slider slick-initialized"><button type="button"
                                    data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button"
                                    style="display: block;">Previous</button>
                                <div aria-live="polite" class="slick-list draggable">
                                    <div class="slick-track" role="listbox" style="opacity: 1; width: 1680px; left: -840px;">
                                        <li class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true"
                                            tabindex="-1" style="width: 120px;"><img src="{% static 'basestatic/images/img03.jpg' %}"
                                                alt="image description"></li>
                                        <li class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true"
                                            tabindex="-1" style="width: 120px;"><img src="{% static 'basestatic/images/img03.jpg' %}"
                                                alt="image description"></li>
                                        <li class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true"
                                            tabindex="-1" style="width: 120px;"><img src="{% static 'basestatic/images/img03.jpg' %}"
                                                alt="image description"></li>
                                        <li class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true"
                                            tabindex="-1" style="width: 120px;"><img src="{% static 'basestatic/images/img03.jpg' %}"
                                                alt="image description"></li>
                                        <li class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1"
                                            role="option" aria-describedby="slick-slide60" style="width: 120px;"><img
                                                src="{% static 'basestatic/images/img03.jpg' %}" alt="image description"></li>
                                        <li class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1"
                                            role="option" aria-describedby="slick-slide61" style="width: 120px;"><img
                                                src="{% static 'basestatic/images/img03.jpg' %}" alt="image description"></li>
                                        <li class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1"
                                            role="option" aria-describedby="slick-slide62" style="width: 120px;"><img
                                                src="{% static 'basestatic/images/img03.jpg' %}" alt="image description"></li>
                                        <li class="slick-slide slick-current slick-active" data-slick-index="3"
                                            aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide63"
                                            style="width: 120px;"><img src="{% static 'basestatic/images/img03.jpg' %}" alt="image description"></li>
                                        <li class="slick-slide slick-active" data-slick-index="4" aria-hidden="false"
                                            tabindex="-1" role="option" aria-describedby="slick-slide64" style="width: 120px;">
                                            <img src="{% static 'basestatic/images/img03.jpg' %}" alt="image description"></li>
                                        <li class="slick-slide slick-active" data-slick-index="5" aria-hidden="false"
                                            tabindex="-1" role="option" aria-describedby="slick-slide65" style="width: 120px;">
                                            <img src="{% static 'basestatic/images/img03.jpg' %}" alt="image description"></li>
                                        <li class="slick-slide slick-cloned slick-active" data-slick-index="6"
                                            aria-hidden="false" tabindex="-1" style="width: 120px;"><img src="{% static 'basestatic/images/img03.jpg' %}"
                                                alt="image description"></li>
                                        <li class="slick-slide slick-cloned" data-slick-index="7" aria-hidden="true"
                                            tabindex="-1" style="width: 120px;"><img src="{% static 'basestatic/images/img03.jpg' %}"
                                                alt="image description"></li>
                                        <li class="slick-slide slick-cloned" data-slick-index="8" aria-hidden="true"
                                            tabindex="-1" style="width: 120px;"><img src="{% static 'basestatic/images/img03.jpg' %}"
                                                alt="image description"></li>
                                        <li class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true"
                                            tabindex="-1" style="width: 120px;"><img src="{% static 'basestatic/images/img03.jpg' %}"
                                                alt="image description"></li>

                                                
                                    </div>
                                </div>
        
        
        
        
        
                                <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next"
                                    role="button" style="display: block;">Next</button>
                            </ul><!-- Pagg Slider of the Page end -->
                        </div>
                        <!-- Slider of the Page end -->
                        <!-- Detail Holder of the Page -->
                        <div class="detial-holder">
                            <!-- Breadcrumbs of the Page -->
                            <ul class="list-unstyled breadcrumbs">
                                <li><a href="#">Chairs <i class="fa fa-angle-right"></i></a></li>
                                <li>Products</li>
                            </ul>
                            <!-- Breadcrumbs of the Page end -->
                            <h2>{{ product.name }}</h2>
                            <!-- Rank Rating of the Page -->
                            <div class="rank-rating">
                                <ul class="list-unstyled rating-list">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                </ul>
                                <span class="total-price">Reviews (12)</span>
                            </div><!-- Rank Rating of the Page end -->
                            <ul class="list-unstyled list">
                                <li><a href="#"><i class="fa fa-share-alt"></i>SHARE</a></li>
                                
                                {% if request.user.is_authenticated %}
                                    <li><a  aria-label="Beğendiklerim" class="action-btn add-to-wishlist" data-product-item="{{product.id}}" href="#"><i class="icon-heart"></i></a></li>
                                {% endif %}
                            </ul>
                            <div class="txt-wrap">
                                <p>{{ product.description }}</p>
                            </div>
                            <div class="text-holder">
                                {% if product.selling_old_price is not null %}
                                        <del class="off"><i class="fa fa-try"></i> <span>{{product.selling_old_price}}</span></del>
                                        {% endif %}
                                        <span class="price"><i class="fa fa-try"></i> <span>{{product.selling_price}}</span></span>
                            </div><!-- Product Form of the Page -->
                            <form action="#" class="product-form">
                                <fieldset>
                                    <div class="row-val">
                                        <label for="qty">qty</label>
                                        <select id="clr">
                                            <option>1</option>
                                        </select>
                                    </div>
                                    <div class="row-val">
                                        <button type="submit">ADD TO CART</button>
                                    </div>
                                </fieldset>
                            </form><!-- Product Form of the Page end -->
                        </div><!-- Detail Holder of the Page end -->
                    </div>
                </div>
            </div>
        </section><!-- Mt Product Detial of the Page end -->
    </div>
    {% endfor %}

    <!-- Diğer modallar buraya eklenebilir -->
</div>




{% endblock %}




