{% extends 'partialsBase/base.html' %}
{% load static %}
{% block content %}

<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
        </div>
    </div>
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}
        <!-- mt header style4 end here -->
        <!-- mt side menu start here -->
    
        <main id="mt-main">
            <!-- Mt Contact Banner of the Page -->
            <section class="mt-contact-banner style4" style="background-image: url({% static 'basestatic/images/img-76.jpg' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h1>{{ category_name.name }}</h1>
                            <!-- Breadcrumbs of the Page -->
                            <nav class="breadcrumbs">
                                <ul class="list-unstyled">
                                    <li><a href="{% url 'main:home' %}">AnaSayfa <i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="#">Ürünler <i class="fa fa-angle-right"></i></a></li>
                                    <li>{{ category_name.name }}</li>
                                </ul>
                            </nav><!-- Breadcrumbs of the Page end -->
                        </div>
                    </div>
                </div>
            </section><!-- Mt Contact Banner of the Page end -->
            <div class="container">
                <div class="row">
                    <!-- sidebar of the Page start here -->
                    <aside id="sidebar" class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                    
                        <!-- shop-widget of the Page start here -->
                        <section class="shop-widget">
                            <h2>Kategoriler</h2>
                            <!-- category list start here -->
                            <ul class="list-unstyled category-list">
                                {% for subcategory in subcategories %}
                                    <li>
                                        <a href="{% url 'main:dynamic-category-product-list' category_slugs=category.slug|add:'/'|add:subcategory.slug %}">
                                            <span class="name">{{ subcategory.name }}</span>
                                            <span class="num">{{ subcategory.product_count }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                                
                            </ul><!-- category list end here -->
                            <ul class="list-unstyled category-list">
                                {% for category in main_categories1 %}
                                <li>
                                    <a href="{% url 'main:dynamic-category-product-list' category_slugs=category.slug %}"><span class="name">{{ category.name }}</span></a>
                                    
                                </li>
                                {% endfor %}
                            </ul>
                            
                            
                            
                        </section><!-- shop-widget of the Page end here -->
                        <!-- shop-widget of the Page start here -->
                        <section class="shop-widget">
                            <h2>HOT SALE</h2>
                            <!-- mt product4 start here -->
                            <div class="mt-product4 mt-paddingbottom20">
                                <div class="img">
                                    <a href="product-detail.html"><img src="images/products/img14.jpg" alt="image description"></a>
                                </div>
                                <div class="text">
                                    <div class="frame">
                                        <strong><a href="product-detail.html">Egon Wooden Chair</a></strong>
                                        <ul class="mt-stars">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                    <del class="off">$75,00</del>
                                    <span class="price">$55,00</span>
                                </div>
                            </div><!-- mt product4 end here -->
                            <!-- mt product4 start here -->
                            <div class="mt-product4 mt-paddingbottom20">
                                <div class="img">
                                    <a href="product-detail.html"><img src="images/products/img15.jpg" alt="image description"></a>
                                </div>
                                <div class="text">
                                    <div class="frame">
                                        <strong><a href="product-detail.html">Oyo Cantilever Chair</a></strong>
                                    </div>
                                    <del class="off">$75,00</del>
                                    <span class="price">$55,00</span>
                                </div>
                            </div><!-- mt product4 end here -->
                            <!-- mt product4 start here -->
                            <div class="mt-product4 mt-paddingbottom20">
                                <div class="img">
                                    <a href="product-detail.html"><img src="images/products/img16.jpg" alt="image description"></a>
                                </div>
                                <div class="text">
                                    <div class="frame">
                                        <strong><a href="product-detail.html">Kurve Chair</a></strong>
                                        <ul class="mt-stars">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                    <del class="off">$75,00</del>
                                    <span class="price">$55,00</span>
                                </div>
                            </div><!-- mt product4 end here -->
                            <!-- mt product4 start here -->
                            <div class="mt-product4 mt-paddingbottom20">
                                <div class="img">
                                    <a href="product-detail.html"><img src="images/products/img20.jpg" alt="image description"></a>
                                </div>
                                <div class="text">
                                    <div class="frame">
                                        <strong><a href="product-detail.html">Marvelous Wooden Chair</a></strong>
                                    </div>
                                    <del class="off">$75,00</del>
                                    <span class="price">$55,00</span>
                                </div>
                            </div><!-- mt product4 end here -->
                        </section><!-- shop-widget of the Page end here -->
                    </aside><!-- sidebar of the Page end here -->
                    <div class="col-xs-12 col-sm-8 col-md-9 wow fadeInRight" data-wow-delay="0.4s">
                        <!-- mt shoplist header start here -->
                        <header class="mt-shoplist-header">
                            <!-- btn-box start here -->
                            <div class="btn-box">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="drop-link">
                                            Default Sorting <i aria-hidden="true" class="fa fa-angle-down"></i>
                                        </a>
                                        <div class="drop">
                                            <ul class="list-unstyled">
                                                <li><a href="#">ASC</a></li>
                                                <li><a href="#">DSC</a></li>
                                                <li><a href="#">Price</a></li>
                                                <li><a href="#">Relevance</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a class="mt-viewswitcher" href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
                                    <li><a class="mt-viewswitcher" href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a></li>
                                </ul>
                            </div><!-- btn-box end here -->
                            <!-- mt-textbox start here -->
                            <div class="mt-textbox">
                                <p><strong>{{ products.count }}</strong> sonuç</p>
                            </div><!-- mt-textbox end here -->
                        </header><!-- mt shoplist header end here -->
                        <!-- mt productlisthold start here -->
                        <ul class="mt-productlisthold list-inline">
                            
                            {% for product in products %}
                            <li>
                                <!-- mt product2 start here -->
                                <div class="mt-product2 large bg-grey">
                                    <!-- box start here -->
                                    <div class="box">
                                        {% with first_image=product.related_products.first %}
                                                {% if first_image %}
                                                <a href="{% url 'products:product-detail-view' product.slug %}"><img src="{{ first_image.image.url }}" alt="{{ first_image.img_title }}"></a>
                                                {% endif %}
                                        {% endwith %}
                                        

                                        {% if product.get_precentage != None %}
                                        <span class="caption">
                                            <span class="off">{{product.get_precentage|floatformat:0}}%</span>
                                        </span>
                                        {% endif %}

                                        <ul class="mt-stars">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <ul class="links">
                                            {% if request.user.is_authenticated %}
                                                <li><a href="#"><i class="icon-handbag"></i></a></li>
                                            {% endif %}
                                            {% if request.user.is_authenticated %}
                                                <li><a  aria-label="Beğendiklerim" class="action-btn add-to-wishlist" data-product-item="{{product.id}}" href="#"><i class="icon-heart"></i></a></li>
                                            {% endif %}
                                            <li><a href="#popup{{product.id}}" class="lightbox" ><i class="icomoon icon-eye"></i></a></li>

                                        </ul>
                                    </div><!-- box end here -->
                                    <!-- txt end here -->

                                    <div class="txt">
                                        <strong class="title">{{ product.name }}</strong>
                                        {% if product.selling_old_price is not null %}
                                        <del class="off"><i class="fa fa-try"></i> <span>{{product.selling_old_price}}</span></del>
                                        {% endif %}
                                        <span class="price"><i class="fa fa-try"></i> <span>{{product.selling_price}}</span></span>
                                    </div><!-- txt end here -->
                                </div><!-- mt product2 end here -->
                            </li>
                            
                            
                            {% endfor %}
                            
                            
                            
                        </ul><!-- mt productlisthold end here -->
                        <!-- mt pagination start here -->
                        <nav class="mt-pagination">
                            <ul class="list-inline">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                            </ul>
                        </nav><!-- mt pagination end here -->
                    </div>
                </div>
            </div>
        </main><!-- mt main end here -->
        <!-- footer of the Page -->
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>



<div class="popup-holder">
    <!-- Popup of the Page -->
    {% for product in products %}
    <div id="popup{{product.id}}" class="lightbox" style="display: none;">
        <!-- Mt Product Detial of the Page -->
        <section class="mt-product-detial">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Slider of the Page -->
                        <div class="slider">
                            <!-- Comment List of the Page -->
                            <ul class="list-unstyled comment-list">
                                <li><a href="#"><i class="fa fa-heart"></i>27</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i>12</a></li>
                                <li><a href="#"><i class="fa fa-share-alt"></i>14</a></li>
                            </ul><!-- Comment List of the Page end -->
                            
                        </div>
                        <!-- Slider of the Page end -->
                        <!-- Detail Holder of the Page -->
                        <div class="detial-holder">
                            <!-- Breadcrumbs of the Page -->
                            <ul class="list-unstyled breadcrumbs">
                                <li><a href="#">Chairs <i class="fa fa-angle-right"></i></a></li>
                                <li>Products</li>
                            </ul>
                            <!-- Breadcrumbs of the Page end -->
                            <h2>{{ product.name }}</h2>
                            <!-- Rank Rating of the Page -->
                            <div class="rank-rating">
                                <ul class="list-unstyled rating-list">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                </ul>
                                <span class="total-price">Reviews (12)</span>
                            </div><!-- Rank Rating of the Page end -->
                            <ul class="list-unstyled list">
                                <li><a href="#"><i class="fa fa-share-alt"></i>SHARE</a></li>
                                
                                {% if request.user.is_authenticated %}
                                    <li><a  aria-label="Beğendiklerim" class="action-btn add-to-wishlist" data-product-item="{{product.id}}" href="#"><i class="icon-heart"></i></a></li>
                                {% endif %}
                            </ul>
                            <div class="txt-wrap">
                                <p>{{ product.description }}</p>
                            </div>
                            <div class="text-holder">
                                {% if product.selling_old_price is not null %}
                                        <del class="off"><i class="fa fa-try"></i> <span>{{product.selling_old_price}}</span></del>
                                        {% endif %}
                                        <span class="price"><i class="fa fa-try"></i> <span>{{product.selling_price}}</span></span>
                            </div><!-- Product Form of the Page -->
                            <form action="#" class="product-form">
                                <fieldset>
                                    <div class="row-val">
                                        <label for="qty">qty</label>
                                        <select id="clr">
                                            <option>1</option>
                                        </select>
                                    </div>
                                    <div class="row-val">
                                        <button type="submit">ADD TO CART</button>
                                    </div>
                                </fieldset>
                            </form><!-- Product Form of the Page end -->
                        </div><!-- Detail Holder of the Page end -->
                    </div>
                </div>
            </div>
        </section><!-- Mt Product Detial of the Page end -->
    </div>
    {% endfor %}

    <!-- Diğer modallar buraya eklenebilir -->
</div>




{% endblock %}




