{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div id="__next">
    <div class="site-container">

        {% include 'core/header.html' %}
        <main class="site-main">
            <div class="container">
                <div class="categories">
                    {% for category in categories %}
                    {% if category.name == "Tüm Ürünler" %}
                        <div class="categories__item" role="button" data-url="{% url 'main:category-product-list' category.slug %}">
                            <div class="item__image">
                                <img alt="{{ category.alt }}" src="{{ category.image.url }}" style="max-width: 256px; max-height: 154px; width: auto; height: auto;">
                            </div>
                            <div class="item__label body-medium-14-17">{{ category.name }}</div>
                        </div>
                        {% endif %}
                    {% endfor %}    

                    {% for category in categories %}
                        {% if category.name != "Tüm Ürünler" %}
                        <div class="categories__item" role="button" data-url="{% url 'main:category-product-list' category.slug %}">
                            <div class="item__image">
                                <img alt="{{ category.alt }}" src="{{ category.image.url }}" style="max-width: 256px; max-height: 154px; width: auto; height: auto;">
                            </div>
                            <div class="item__label body-medium-14-17">{{ category.name }}</div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </main>
        {% include 'core/footer.html' %}
    </div>
</div>

<style>
  .item__image {
    position: relative;
    overflow: hidden;
  }

  .scaled-image {
    width: 100%;
    height: auto;
    display: block;
  }
</style>

<script>
    // JavaScript ile tüm categories__item elementlerini seç
    var categoryItems = document.querySelectorAll('.categories__item');

    // Her bir element için tıklanma olayını dinle
    categoryItems.forEach(function(item) {
        item.addEventListener('click', function() {
            // Elementin data-url attribute'ünden URL'yi al
            var url = this.getAttribute('data-url');
            
            // Yönlendirme işlemi
            if (url) {
                window.location.href = url;
            }
        });
    });
</script>

{% endblock %}
