{% extends 'partialsBase/base.html' %}
{% load custom_filters %}
{% load static %} {% block title %} Sepetim - Esyala {% endblock title %}
{% load social_share %}

{% block content %}



<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
        </div>
    </div>
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}
        <!-- mt header style4 end here -->

        <!-- mt search popup start here -->
        <div class="mt-search-popup">
            <div class="mt-holder">
                <a href="#" class="search-close"><span></span><span></span></a>
                <div class="mt-frame">
                    <form action="#">
                        <fieldset>
                            <input type="text" placeholder="Search...">
                            <span class="icon-microphone"></span>
                            <button class="icon-magnifier" type="submit"></button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div><!-- mt search popup end here -->
        <!-- mt main start here -->
        <main id="mt-main">
            <section class="mt-contact-banner mt-banner-22" style="background-image: url({% static 'basestatic/images/img-76.jpg' %}); background-size: cover; background-position: center;">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 class="text-center">Sepetim</h1>
                      <!-- Breadcrumbs of the Page -->
                      <nav class="breadcrumbs">
                        <ul class="list-unstyled">
                          <li><a href="{% url 'main:home' %}">Anasayfa <i class="fa fa-angle-right"></i></a></li>
                          <li><a href="{% url 'products:order_shopping_card' %}">Sepetim </a></li>
                        </ul>
                      </nav>
                      <!-- Breadcrumbs of the Page end -->
                    </div>
                  </div>
                </div>
              </section>
            <!-- Mt Process Section of the Page -->
            <div class="mt-process-sec">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="list-unstyled process-list">
                      <li class="active">
                        <span class="counter">01</span>
                        <a href="{% url 'products:order_shopping_card' %}"><strong class="title">Sepetim</strong></a>
                      </li>
                      <li>
                        <span class="counter">02</span>
                        <strong class="title">Siparişi Onayla</strong>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div><!-- Mt Process Section of the Page end -->
            <!-- Mt Product Table of the Page -->
            <div class="mt-product-table">
                <div class="container">
                    <div class="row border">
                        <div class="col-xs-12 col-sm-6">
                            <strong class="title">Ürün</strong>
                        </div>

                        <div class="col-xs-12 col-sm-2">
                            <strong class="title">Fiyat</strong>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <strong class="title">Adet</strong>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <strong class="title">Toplam Tutar</strong>
                        </div>
                    </div>
                    {% for cart_item in cart_items %}
                    <div class="row border">
                        <div class="col-xs-12 col-sm-2">
                            <div class="img-holder">
                                {% with first_image=cart_item.product.related_products.first %}
                                {% if first_image %}
                                <a href="{% url 'products:product-detail-view' cart_item.product.slug %}"><img src="{{ first_image.image.url }}" alt="{{ first_image.img_title }}"></a>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="{% url 'products:product-detail-view' cart_item.product.slug %}">
                                <strong class="product-name">{{ cart_item.product.name }}</strong>
                            </a>
                            {% if cart_item.is_rental %}
                            <span class="availability">Kiralama</span>
                            <span class="rental-period">Kiralama Süresi: {{ cart_item.rental_period }} Ay</span>
                            {% else %}
                            <span class="availability">Satın Alma</span>
                            {% endif %}
                            
                        </div>

                        <div class="col-xs-12 col-sm-2">
                            {% if cart_item.is_rental %}
                            <strong class="price"><i class="fa fa-try"></i> {{ cart_item.rental_price }}</strong>
                            {% else %}
                            <strong class="price"><i class="fa fa-try"></i> {{ cart_item.selling_price }}</strong>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <strong class="product-name">{{ cart_item.quantity }}</strong>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <strong class="price"><i class="fa fa-try"></i> {{ cart_item.subtotal }}</strong>
                            <a href="{% url 'products:remove_from_cart' cart_item_id=cart_item.id %}"><i class="fa fa-close"></i></a>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <!-- Mt Product Table of the Page end -->
            <!-- Mt Detail Section of the Page -->
            <section class="mt-detail-sec style1">
              <div class="container">
                <div class="row">

                  <div class="col-xs-12 col-sm-12">
                    <h2>Sepet Tutarı</h2>
                    <ul class="list-unstyled block cart">
                      <li>
                        <div class="txt-holder">
                          <strong class="title sub-title pull-left">Toplam Tutar</strong>
                          <div class="txt pull-right">
                            <span><i class="fa fa-try"></i> {{ cart_total }}</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="txt-holder">
                          <strong class="title sub-title pull-left">Kargo</strong>
                          <div class="txt pull-right">
                            <strong>Ücretsiz</strong>
                          </div>
                        </div>
                      </li>
                      <li style="border-bottom: none;">
                        <div class="txt-holder">
                          <strong class="title sub-title pull-left">Toplam Tutar</strong>
                          <div class="txt pull-right">
                            <span><i class="fa fa-try"></i>{{ cart_total }}</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <a href="{% url 'products:order_checkout' %}" class="process-btn">Sepeti Onayla <i class="fa fa-check"></i></a>
                  </div>
                </div>
              </div>
            </section>
            <!-- Mt Detail Section of the Page end -->
          </main>
        <!-- footer of the Page -->
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>



{% endblock %}




		



	