{% extends 'partialsBase/base.html' %}
{% load custom_filters %}
{% load static %} {% block title %} Sepetim - Esyala {% endblock title %}
{% load social_share %}

{% block content %}


<style>
.quantity-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    width: 20px;
    height: 20px;
    font-size: 14px; 
    margin: 0 2px; 
    background-color: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.quantity-controls button:hover {
    background-color: #bbb;
}

.quantity-input {
    width: 25px; 
    height: 25px; 
    text-align: center; 
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0;
    margin: 0 2px; 
    font-size: 12px; 
    background-color: #fff;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.quantity-form input:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}


</style>

<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'images/svg/rings.svg' %}" alt="loader">
        </div>
    </div> 
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}
        <!-- mt header style4 end here -->

        <!-- mt main start here -->
        <main id="mt-main">
            <section class="mt-contact-banner mt-banner-22" style="background-image: url({% static 'images/img-76.jpg' %}); background-size: cover; background-position: center;">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 class="text-center">Sepetim</h1>
                      <!-- Breadcrumbs of the Page -->
                      <nav class="breadcrumbs">
                        <ul class="list-unstyled">
                          <li><a href="{% url 'main:home' %}">Anasayfa <i class="fa fa-angle-right"></i></a></li>
                          <li><a href="{% url 'products:order_shopping_card' %}">Sepetim </a></li>
                        </ul>
                      </nav>
                      <!-- Breadcrumbs of the Page end -->
                    </div>
                  </div>
                </div>
              </section>
            <!-- Mt Process Section of the Page -->
            {% if cart_items.count > 0 %}
            <div class="mt-process-sec">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="list-unstyled process-list">
                      <li class="active">
                        <span class="counter">01</span>
                        <a href="{% url 'products:order_shopping_card' %}"><strong class="title">Sepetim</strong></a>
                      </li>
                      <li>
                        <span class="counter">02</span>
                        <strong class="title">Siparişi Onayla</strong>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div><!-- Mt Process Section of the Page end -->
            <!-- Mt Product Table of the Page -->
            
            <div class="mt-product-table">
                <div class="container">
                    
                      <div class="row border">
                          <div class="col-xs-12 col-sm-6">
                              <strong class="title">Ürün</strong>
                          </div>

                          <div class="col-xs-12 col-sm-2">
                              <strong class="title">Fiyat</strong>
                          </div>
                          <div class="col-xs-12 col-sm-2">
                              <strong class="title">Adet</strong>
                          </div>
                          <div class="col-xs-12 col-sm-2">
                              <strong class="title">Toplam Tutar</strong>
                          </div>
                      </div>
                    
                      {% for cart_item in cart_items %}
                      <div class="row border">
                          <div class="col-xs-12 col-sm-2">
                              <div class="img-holder">
                                  {% with first_image=cart_item.product.related_products.first %}
                                  {% if first_image %}
                                  <a href="{% url 'products:product-detail-view' cart_item.product.slug %}"><img src="{{ first_image.image.url }}" alt="{{ first_image.img_title }}"></a>
                                  {% endif %}
                                  {% endwith %}
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                              <a href="{% url 'products:product-detail-view' cart_item.product.slug %}">
                                  <strong class="product-name">{{ cart_item.product.name }}</strong>
                              </a>
                              {% if cart_item.is_rental %}
                              <span class="availability">Kiralama</span>
                              <span class="rental-period">Kiralama Süresi: {{ cart_item.rental_period }} Ay</span>
                              {% else %}
                              <span class="availability">Satın Alma</span>
                              {% endif %}
                              
                          </div>

                          <div class="col-xs-12 col-sm-2">
                              {% if cart_item.is_rental %}
                              <strong class="price"><i class="fa fa-try"></i> {{ cart_item.rental_price }}</strong>
                              {% else %}
                              <strong class="price"><i class="fa fa-try"></i> {{ cart_item.selling_price }}</strong>
                              {% endif %}
                          </div>
                          <div class="col-xs-12 col-sm-2">
                            <form method="post" action="{% url 'products:update_cart_item_quantity' cart_item.id %}" class="quantity-form">
                                {% csrf_token %}
                                <div class="quantity-controls">
                                    <button type="button" class="btn-decrease" data-cart-item-id="{{ cart_item.id }}">-</button>
                                    <input type="number" name="quantity" value="{{ cart_item.quantity }}" min="1" class="form-control quantity-input" readonly data-cart-item-id="{{ cart_item.id }}">
                                    <button type="button" class="btn-increase" data-cart-item-id="{{ cart_item.id }}">+</button>
                                </div>
                            </form>
                        </div>
                        
                        
                          <div class="col-xs-12 col-sm-2">
                              <strong class="price"><i class="fa fa-try"></i> {{ cart_item.subtotal }}</strong>
                              <a href="{% url 'products:remove_from_cart' cart_item_id=cart_item.id %}"><i class="fa fa-close"></i></a>
                          </div>
                          
                      </div>
                      {% endfor %}
                    
                </div>
            </div>
            
            <!-- Mt Product Table of the Page end -->
            <!-- Mt Detail Section of the Page -->
            <section class="mt-detail-sec style1">
              <div class="container">
                <div class="row">

                  <div class="col-xs-12 col-sm-12">
                    <h2>Sepet Tutarı</h2>
                    <ul class="list-unstyled block cart">
                      <li>
                        <div class="txt-holder">
                          <strong class="title sub-title pull-left">Toplam Tutar</strong>
                          <div class="txt pull-right">
                            <span><i class="fa fa-try"></i> {{ cart_total }}</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="txt-holder">
                          <strong class="title sub-title pull-left">Kargo</strong>
                          <div class="txt pull-right">
                            <strong>Ücretsiz</strong>
                          </div>
                        </div>
                      </li>
                      <li style="border-bottom: none;">
                        <div class="txt-holder">
                          <strong class="title sub-title pull-left">Toplam Tutar</strong>
                          <div class="txt pull-right">
                            <span><i class="fa fa-try"></i>{{ cart_total }}</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                    {% if user_verified %}
                    <a href="{% url 'products:order_checkout' %}" class="process-btn">Sepeti Onayla <i class="fa fa-check"></i></a>
                    {% else %}
                    <a href="{% url 'customerauth:profile' %}" class="process-btn">Devam Etmek için Bilgilerini Güncelle <i class="fa fa-check"></i></a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </section>

            {% else %}
              <div class="container text-center">
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <h3 class="title">Sepetinizde ürün bulunmamaktadır</h3>
                    <button class="btn-type3" onclick="handleArrowClick()" type="submit">Anasayfa</button> 
                  </div>
                </div>
              </div>
              {% endif %}


            <!-- Mt Detail Section of the Page end -->
          </main>
        <!-- footer of the Page -->
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>

<script>

document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.btn-increase').forEach(function (button) {
        button.addEventListener('click', function () {
            const input = this.parentElement.querySelector('.quantity-input');
            input.value = parseInt(input.value) + 1;
            input.form.submit(); 
        });
    });

    document.querySelectorAll('.btn-decrease').forEach(function (button) {
        button.addEventListener('click', function () {
            const input = this.parentElement.querySelector('.quantity-input');
            if (parseInt(input.value) > 1) { 
                input.value = parseInt(input.value) - 1;
                input.form.submit(); 
            }
        });
    });
});



  function handleArrowClick() {
      var redirectURL = "{% url 'main:home' %}";
      window.location.href = redirectURL;
  }
</script>

  
{% endblock %}




		



	