{% extends 'partialsBase/base.html' %}
{% load custom_filters %}
{% load static %} {% block title %} Sepetim | Eşyala {% endblock title %}
{% load social_share %}

{% block content %}


<style>
    /* Popup stilini gizleyin */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Popup içeriği */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Kapatma düğmesi */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.card {
    background-color: #ffffff; /* Kart arka plan rengi */
    border: 1px solid #ddd; /* Kart kenar rengi */
    border-radius: 8px; /* Köşe yuvarlama */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Gölgelendirme */
    margin: 20px; /* Kartlar arası boşluk */
    padding: 20px; /* İç boşluk */
    transition: box-shadow 0.3s; /* Geçiş animasyonu */
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hover efektinde gölge artışı */
}

.card-header {
    background-color: #f5f5f5; /* Başlık arka plan rengi */
    font-size: 1.25rem; /* Başlık font boyutu */
    font-weight: bold; /* Kalın yazı */
    padding: 10px; /* Başlık iç boşluğu */
    border-bottom: 1px solid #ddd; /* Başlık ve içerik arasındaki sınır */
    border-top-left-radius: 8px; /* Sol üst köşe yuvarlama */
    border-top-right-radius: 8px; /* Sağ üst köşe yuvarlama */
}

.card-body {
    padding: 15px; /* İçerik alanı iç boşluğu */
}

.card-body p {
    margin: 10px 0; /* Paragraf arası boşluk */
    font-size: 1rem; /* Paragraf font boyutu */
    line-height: 1.5; /* Satır yüksekliği */
    color: #333; /* Yazı rengi */
}

strong {
    color: #000; /* Kalın yazı rengi */
}

.title_header {
    font-size: 2.5rem; /* Başlık boyutu */
    font-weight: bold; /* Kalın yazı */
    color: #333; /* Yazı rengi */
    text-align: center; /* Ortalanmış yazı */
    margin-bottom: 20px; /* Alt boşluk */
    text-transform: uppercase; /* Büyük harfle yazma */
    letter-spacing: 1px; /* Harfler arası boşluk */
    font-family: 'Arial', sans-serif; /* Yazı tipi */
}
.title_header::after {
    content: ""; /* İçerik eklemek için boş bir element */
    display: block; /* Blok düzende göster */
    width: 50%; /* Genişlik */
    height: 4px; /* Yükseklik */
    background-color: #007bff; /* Alt çizgi rengi */
    margin: 10px auto; /* Ortalamak için margin */
}


</style>

<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'images/svg/rings.svg' %}" alt="loader">
        </div>
    </div> 
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}
        <!-- mt header style4 end here -->


        <!-- mt main start here -->
        <main id="mt-main">
            <section class="mt-contact-banner mt-banner-22" style="background-image: url({% static 'images/img-76.jpg' %}); background-size: cover; background-position: center;">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 class="text-center">Sipariş Onayla</h1>
                      <!-- Breadcrumbs of the Page -->
                      <nav class="breadcrumbs">
                        <ul class="list-unstyled">
                          <li><a href="{% url 'main:home' %}">Anasayfa <i class="fa fa-angle-right"></i></a></li>
                          <li><a href="{% url 'products:order_checkout' %}">Sipariş Onayla </a></li>
                        </ul>
                      </nav>
                      <!-- Breadcrumbs of the Page end -->
                    </div>
                  </div>
                </div>
              </section>
            <!-- Mt Process Section of the Page -->
            {% if cart_items.count > 0 %}
            <div class="mt-process-sec">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <!-- Process List of the Page -->
                    <ul class="list-unstyled process-list">
                      <li class="active">
                        <span class="counter">01</span>
                        <a href="{% url 'products:order_shopping_card' %}"><strong class="title">Sepetim</strong></a>
                      </li>
                      <li class="active">
                        <span class="counter">02</span>
                        <a href="{% url 'products:order_checkout' %}"><strong class="title">Sipariş Onayla</strong></a>
                      </li>
                    </ul>
                    <!-- Process List of the Page end -->
                  </div>
                </div>
              </div>
            </div><!-- Mt Process Section of the Page end -->
            <!-- Mt Detail Section of the Page -->
            
            <section class="mt-detail-sec toppadding-zero">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            
                            
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-panel delivery" id="order-address" role="tabpanel" aria-labelledby="order-address-tab">
                                    {% if delivery_addresses.count > 0 %}

                                        <h1 class="title_header">Teslimat Adresim</h1>
                                        <form action="#" class="bill-detail">
                                            <fieldset>
                                                <div class="form-group">
                                                    <select class="form-control" id="order-address-select" onchange="fillOrderAddressDetails()">
                                                        <option value="">Adres Seçiniz</option>
                                                        {% for address in delivery_addresses %}
                                                        <option value="{{ address.id }}" {% if default_delivery_address and address.id == default_delivery_address.id %}selected{% endif %}>
                                                            {{ address.address_name }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                
                                                <div class="card">
                                                    <div class="card-body">
                                                        <p><strong>Alıcı Adı:</strong> <span id="name"></span></p>
                                                        <p><strong>Adress Adı:</strong> <span id="addresses_name"></span></p>
                                                        <p><strong>Adres:</strong> <span id="city_region_negn"></span></p>
                                                        <p><strong>Açık Adres:</strong> <span id="address_line1"></span></p>
                                                        <p><strong>Telefon:</strong> <span id="phone"></span></p>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    {% else %}
                                    <div class="container text-center">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                            <h3 class="title">Teslimat Adresi Ekleyin</h3>
                                            <button class="btn-type3" onclick="handleDeliveryAddressAddedClick()" type="submit">Adres Ekle</button> 
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="tab-panel billing" id="billing-address" role="tabpanel" aria-labelledby="billing-address-tab">
                                    {% if billing_addresses.count > 0 %}
                                    <h1 class="title_header">Fatura Adresim</h1>
                                    <form action="#" class="bill-detail" id="billing-form">
                                        <fieldset>
                                            <div class="form-group">
                                                <select class="form-control" id="billing-address-select" onchange="fillBillingAddressDetails()">
                                                    <option value="">Adres Seçiniz</option>
                                                    {% for address in billing_addresses %}
                                                    <option value="{{ address.id }}" {% if default_billing_address and address.id == default_billing_address.id %}selected{% endif %}>
                                                        {{ address.address_name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <p><strong>Alıcı Adı:</strong> <span id="name1"></span></p>
                                                    <p><strong>Adress Adı:</strong> <span id="addresses_name1"></span></p>
                                                    <p><strong>Adres:</strong> <span id="city_region_negn1"></span></p>
                                                    <p><strong>Açık Adres:</strong> <span id="address_line2"></span></p>
                                                    <p><strong>Telefon:</strong> <span id="phone1"></span></p>
                                                </div>
                                            </div>                                            
                                        </fieldset>
                                    </form>
                                    {% else %}
                                    <div class="container text-center">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                            <h3 class="title">Fatura Adresi Ekleyin</h3>
                                            <button class="btn-type3" onclick="handleBillingAddressAddedClick()" type="submit">Adres Ekle</button> 
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    

                        <div class="col-xs-12 col-sm-6">
                            <div class="holder">
                            <h2>Siparişlerim</h2>
                                <ul class="list-unstyled block">
                                <li>
                                    <div class="txt-holder">
                                        <div class="text-wrap pull-left">
                                            <strong class="title">Ürünler</strong>
                                            {% for cart_item in cart_items %}
                                            <span>{{ cart_item.product.name }} x{{ cart_item.quantity }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="text-wrap txt text-right pull-right">
                                            <strong class="title">Tutar</strong>
                                            <span><i class="fa fa-try"></i> {{ cart_total }}</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="txt-holder">
                                        <strong class="title sub-title pull-left">Sepet Tutarı</strong>
                                        <div class="txt pull-right">
                                            <span><i class="fa fa-try"></i> {{ cart_total }}</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="txt-holder">
                                        <strong class="title sub-title pull-left">Kargo</strong>
                                        <div class="txt pull-right">
                                            <span>Ücretsiz Kargo</span>
                                        </div>
                                    </div>
                                </li>
                                <li style="border-bottom: none;">
                                    <div class="txt-holder">
                                        <strong class="title sub-title pull-left">Sipariş Toplamı</strong>
                                        <div class="txt pull-right">
                                            <span><i class="fa fa-try"></i> {{ cart_total }}</span>
                                        </div>
                                    </div>
                                </li>
                                </ul>
                            </div>
                            <div class="block-holder">
                                <input type="checkbox" id="use-order-address"> Sipariş adresini fatura adresi olarak kullan
                            </div>
                            <div class="block-holder">
                                <input type="checkbox" id="termsCheckbox" checked>
                                <label for="termsCheckbox" onclick="openTermsPopup()">Şartları ve koşulları okudum ve kabul ediyorum.</label>
                                <div id="termsMessage" style="color: red; font-size: smaller; font-style: italic; display: block;"></div>

                            </div>
                            <div id="termsPopup" class="modal">
                                <div class="modal-content">
                                  <span class="close" onclick="closeTermsPopup()">&times;</span>
                                  <h2>Şartlar ve Koşullar</h2>
                                  {% include 'coreBase/paying.html' %}
                                  {% include 'coreBase/refund.html' %}
                                  {% include 'coreBase/distancesellingpromise.html' %}
                                </div>
                            </div>
                            <button type="submit" class="btn-type3 process-btn" id="submit-order-btn">Siparişi Tamamla</button>
                            <div id="hidden-order-form" style="display: none;">
                                <form id="order-form" action="{% url 'payment:payment_order' %}" method="post">
                                    <!-- Diğer form alanları -->
                                    <input type="hidden" id="selected-address-id" name="selected_address_id">
                                    <input type="hidden" id="selected-billing-address-id" name="selected_billing_address_id">
                                    <input type="hidden" id="card-id" name="card_id">
                                    <input type="hidden" id="order-total" name="order_total">
                                    <input type="hidden" id="created-date" name="created_date">
                                    <input type="hidden" id="order-status" name="order_status">
                                    <!-- Diğer gerekli gizli alanlar -->
                                    {% csrf_token %}
                                    <button type="submit" class="btn-type3" id="submit-order-btn">Siparişi Tamamla</button>

                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
            {% else %}
            <div class="container text-center">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                    <h3 class="title">Sepetinizde ürün bulunmamaktadır</h3>
                    <button class="btn-type3" onclick="handleArrowClick()" type="submit">Anasayfa</button> 
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- Mt Detail Section of the Page end -->
          </main>
        <!-- footer of the Page -->
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>



<script>
    var delivery_addresses = [
        {% for delivery in delivery_addresses %}
            {
                id: "{{ delivery.id }}",
                username: "{{ delivery.username }}",
                usersurname: "{{ delivery.usersurname }}",
                address_name: "{{ delivery.address_name }}",
                address_line1: "{{ delivery.address_line1 }}",
                city: "{{ delivery.city }}",
                region: "{{ delivery.region }}",
                neighborhood: "{{ delivery.neighborhood }}",
                phone: "{{ delivery.phone }}",
            },
        {% endfor %}
    ];
    
    function fillOrderAddressDetails() {
        var orderAddressSelect = document.getElementById('order-address-select');
        if (orderAddressSelect) {
            var selectedOrderId = orderAddressSelect.value;
            var selectedAddress = delivery_addresses.find(delivery => delivery.id == selectedOrderId);
            console.log("selectedAddress", selectedAddress);

            if (selectedAddress) {
                document.getElementById('name').innerText = selectedAddress.username + " " + selectedAddress.usersurname;
                document.getElementById('addresses_name').innerText = selectedAddress.address_name;
                document.getElementById('city_region_negn').innerText = selectedAddress.city + "/" + selectedAddress.region + "/" + selectedAddress.neighborhood;
                document.getElementById('address_line1').innerText = selectedAddress.address_line1;
                document.getElementById('phone').innerText = selectedAddress.phone;
            } else {
                document.getElementById('name').innerText = '';
                document.getElementById('addresses_name').innerText = '';
                document.getElementById('city_region_negn').innerText = '';
                document.getElementById('address_line1').innerText = '';
                document.getElementById('phone').innerText = '';
            }
        }
    }

    var billing_addresses = [
        {% for billing in billing_addresses %}
            {
                id: "{{ billing.id }}",
                username1: "{{ billing.username }}",
                usersurname1: "{{ billing.usersurname }}",
                address_name1: "{{ billing.address_name }}",
                address_line2: "{{ billing.address_line1 }}",
                city1: "{{ billing.city }}",
                region1: "{{ billing.region }}",
                neighborhood1: "{{ billing.neighborhood }}",
                phone1: "{{ billing.phone }}",
            },
        {% endfor %}
    ];

    function fillBillingAddressDetails() {
        var billingAddressSelect = document.getElementById('billing-address-select');
        if (billingAddressSelect) {
            var selectedBillingId = billingAddressSelect.value;
            var selectedAddress = billing_addresses.find(billing => billing.id == selectedBillingId);

            if (selectedAddress) {
                document.getElementById('name1').innerText = selectedAddress.username1 + " " + selectedAddress.usersurname1;
                document.getElementById('addresses_name1').innerText = selectedAddress.address_name1;
                document.getElementById('city_region_negn1').innerText = selectedAddress.city1 + "/" + selectedAddress.region1 + "/" + selectedAddress.neighborhood1;
                document.getElementById('address_line2').innerText = selectedAddress.address_line2;
                document.getElementById('phone1').innerText = selectedAddress.phone1;
            } else {
                document.getElementById('name1').innerText = '';
                document.getElementById('addresses_name1').innerText = '';
                document.getElementById('city_region_negn1').innerText = '';
                document.getElementById('address_line2').innerText = '';
                document.getElementById('phone1').innerText = '';
            }
        }
    }

    document.getElementById("submit-order-btn")?.addEventListener("click", function(event) {
        var selectedAddressId = document.getElementById("order-address-select")?.value;
        var selectedBillingAddressId = document.getElementById("billing-address-select")?.value;
        var useOrderAddressCheckbox = document.getElementById('use-order-address').checked;
        var cardId = "{{ cart_id }}";  

        if (selectedAddressId && (selectedBillingAddressId || useOrderAddressCheckbox)) {
            document.getElementById("selected-address-id").value = selectedAddressId; 
            document.getElementById("selected-billing-address-id").value = useOrderAddressCheckbox ? selectedAddressId : selectedBillingAddressId; 
            document.getElementById("card-id").value = cardId; 
            document.getElementById("order-total").value = "{{ cart_total }}"; 
            document.getElementById("created-date").value = currentDate(); 
            document.getElementById("order-status").value = "Processing"; 
            document.getElementById("order-form").submit();
        } else {
            console.error("Addresses are not selected!");
        }

        event.preventDefault();
    });

    function currentDate() {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var year = now.getFullYear();
        return year + "-" + month + "-" + day;
    }

    function openTermsPopup() {
        var termsPopup = document.getElementById("termsPopup");
        if (termsPopup) {
            termsPopup.style.display = "block";
        }
    }

    function closeTermsPopup() {
        var termsPopup = document.getElementById("termsPopup");
        if (termsPopup) {
            termsPopup.style.display = "none";
        }
    }

    window.onclick = function(event) {
        var termsPopup = document.getElementById("termsPopup");
        if (event.target == termsPopup) {
            termsPopup.style.display = "none";
        }
    }

   
    function toggleSubmitButton() {
    var checkbox = document.querySelector('#termsCheckbox');
    var submitButtons = document.querySelectorAll('.btn-type3.process-btn');
    var termsMessage = document.getElementById('termsMessage');
    var orderAddress = document.getElementById('order-address-select');
    var billingAddress = document.getElementById('billing-address-select');
    var useOrderAddressCheckbox = document.getElementById('use-order-address');

    var billing_addresses_tab = document.getElementById('billing-address');

    // Eğer "Teslimat adresini fatura adresi olarak kullan" seçildiyse fatura adresini gizle
    if (useOrderAddressCheckbox.checked) {
        if (billingAddress && billingAddress.parentElement) {
            billing_addresses_tab.style.display = 'none';
        }
    } else {
        if (billingAddress && billingAddress.parentElement) {
            billing_addresses_tab.style.display = 'block';
        }
    }

    // Uyarı mesajlarını ve buton durumunu kontrol et
    if (checkbox.checked) {
        if (useOrderAddressCheckbox.checked) {
            // Eğer "Fatura adresini kullan" işaretliyse sadece sipariş adresine bak
            if (orderAddress && orderAddress.value) {
                submitButtons.forEach(function(button) {
                    button.disabled = false;
                });
                termsMessage.style.display = 'none';
            } else {
                submitButtons.forEach(function(button) {
                    button.disabled = true;
                });
                termsMessage.textContent = 'Lütfen sipariş adresini seçiniz.';
                termsMessage.style.display = 'block';
            }
        } else {
            // Fatura adresi kullanılıyorsa her iki adresin de seçildiğinden emin ol
            if (orderAddress && orderAddress.value && billingAddress && billingAddress.value) {
                submitButtons.forEach(function(button) {
                    button.disabled = false;
                });
                termsMessage.style.display = 'none';
            } else {
                submitButtons.forEach(function(button) {
                    button.disabled = true;
                });

                if (!orderAddress || !orderAddress.value) {
                    termsMessage.textContent = 'Lütfen sipariş adresini seçiniz.';
                } else if (!billingAddress || !billingAddress.value) {
                    termsMessage.textContent = 'Lütfen fatura adresini seçiniz.';
                }
                termsMessage.style.display = 'block';
            }
        }
    } else {
        submitButtons.forEach(function(button) {
            button.disabled = true;
        });
        termsMessage.textContent = 'Şartları kabul etmelisiniz.';
        termsMessage.style.display = 'block';
    }
}

    window.onload = function() {
        toggleSubmitButton();
        fillOrderAddressDetails(); 
        fillBillingAddressDetails();
        var checkbox = document.querySelector('#termsCheckbox');
        checkbox?.addEventListener('change', toggleSubmitButton);
        var orderAddress = document.getElementById('order-address-select');
        orderAddress?.addEventListener('change', function() {
            fillOrderAddressDetails();
            toggleSubmitButton();
        });
        var billingAddress = document.getElementById('billing-address-select');
        billingAddress?.addEventListener('change', function() {
            fillBillingAddressDetails();
            toggleSubmitButton();
        });
        var useOrderAddressCheckbox = document.getElementById('use-order-address');
        useOrderAddressCheckbox?.addEventListener('change', toggleSubmitButton);
    };

    function handleArrowClick() {
        var redirectURL = "{% url 'main:home' %}";
        window.location.href = redirectURL;
    }

    function handleDeliveryAddressAddedClick() {
        var redirectURL = "{% url 'customerauth:create-address' %}?address_type=delivery";
        window.location.href = redirectURL;
    }

    function handleBillingAddressAddedClick() {
        var redirectURL = "{% url 'customerauth:create-address' %}?address_type=billing";
        window.location.href = redirectURL;
    }
</script>


{% endblock %}



