{% load static %}
{% block content %}


<style>
  /* Modal stilleri */
.modal {
    display: none; /* Modal başlangıçta görünmez */
    position: fixed; /* Sabit bir konumda olacak */
    z-index: 500; /* Diğer içeriklerin üstünde */
    left: 0;
    top: 0;
    width: 100%; /* Ekran genişliğinin tamamı */
    height: 100%; /* Ekran yüksekliğinin tamamı */
    overflow: auto; /* Küçük ekranlarda kaydırma çubuğunu etkinleştir */
    background-color: rgba(0,0,0,0.4); /* Arka plana bir opaklık ekler */
}

/* Modal içeriği */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Modalı dikey olarak ortalar ve yukarıda biraz daha az boşluk bırakır */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Modalın genişliğini küçültür */
    max-height: 80%; /* Modalın maksimum yüksekliğini sınırlar */
    overflow-y: auto; /* Modal içeriğinde scroll etkinleştirir */
}

/* Kapatma butonu */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Modal stilleri */


</style>

<footer id="mt-footer" class="style7 wow fadeInUp" data-wow-delay="0.4s">

  <aside class="f-promo-box dark">
    <div class="container divider">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 mt-paddingbottomsm">
          <!-- F Widget Item of the Page -->
          <div class="f-widget-item">
            <span class="widget-icon"><i class="fa fa-plane"></i></span>
            <div class="txt-holder">
              <p>Hızlı,ücretsiz teslimat ve montaj</p>
            </div>
          </div>
          <!-- F Widget Item of the Page end -->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mt-paddingbottomsm">
          <!-- F Widget Item of the Page -->
          <div class="f-widget-item">
            <span class="widget-icon"><i class="fa fa-check-circle"></i></span>
            <div class="txt-holder">
              <p>Uygun Kiralama ve Satın Alma Seçenekleri</p>
            </div>
          </div>
          <!-- F Widget Item of the Page -->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mt-paddingbottomxs">
          <!-- F Widget Item of the Page -->
          <div class="f-widget-item">
            <span class="widget-icon"><i class="fa fa-money"></i></span>
            <div class="txt-holder">
              <p>Tüm kiralamalarda düşük ön maliyetler</p>

            </div>
          </div>
          <!-- F Widget Item of the Page -->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <!-- F Widget Item of the Page -->
          <div class="f-widget-item">
            <span class="widget-icon"><i class="fa fa-dollar"></i></span>
            <div class="txt-holder">
              <p>Kiralanan ürünleri daha sonra satın alma esnekliği</p>
            </div>
          </div>
          <!-- F Widget Item of the Page -->
        </div>
      </div>
    </div>
  </aside>
    <div class="footer-holder bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 mt-paddingbottomsm">
            <!-- F Widget About of the Page -->
            <div class="f-widget-about">
              <div class="logo">
                <a href="{% url 'main:home' %}" title="Eşyala"><img src="{% static 'images/esyala_syh_noktalı.png' %}" alt="Esyala"></a>
              </div>
              <ul class="list-unstyled address-list">
                <li>
                  <i class="fa fa-map-marker">

                  </i>
                  <address>Veysel Karani, Çolakoğlu Sokağı No: 10<br></address>
                  <address>34885 Rings Rezidans Kat :5 Daire :87  <br>Sancaktepe/İstanbul</address></li>
                <li><i class="fa fa-phone"></i><a href="tel:905305820455" title="0530 582 04 55">0530 582 04 55</a></li>
                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@esyala.com" title="info@esyala.com">info@esyala.com</a></li>
              </ul>
            </div>
            <!-- F Widget About of the Page end -->
          </div>
          <nav class="col-xs-12 col-sm-8 col-md-5 mt-paddingbottomsm">
            <!-- Footer Nav of the Page -->
            <div class="nav-widget-1">
              <h3 class="f-widget-heading">Kategoriler</h3>

              
              <ul class="list-unstyled f-widget-nav">
                {% for category in footer_category %}
                  <li><a href="{% url 'main:dynamic-category-product-list' category_slugs=category.slug %}" title="{{ category.name }}">{{ category.name }}</a></li>
                    
                {% endfor %}
               
              </ul>
            </div>
            <!-- Footer Nav of the Page end -->
            <!-- Footer Nav of the Page -->
            <div class="nav-widget-1">
              <h3 class="f-widget-heading">Bilgilendirme</h3>
              <ul class="list-unstyled f-widget-nav">
                <li><a href="{% url 'main:home' %}" title="Ana Sayfa">Ana Sayfa</a></li>
                <li><a href="{% url 'main:about' %}" title="Hakkımızda">Hakkımızda</a></li>
                <li><a href="{% url 'main:contact' %}" title="İletişim"> İletişim</a></li>
                <li><a href="{% url 'main:itwork' %}" title="Nasıl Çalışır">Nasıl Çalışır</a></li>
                <li><a href="{% url 'main:faqs' %}" title="SSS">SSS</a></li>
                <li><a href="#" onclick="openModal1()" title="Üyelik Sözleşmesi">Üyelik Sözleşmesi</a></li>
                <li><a href="#" onclick="openModal2()" title="Aydınlatma Metni">Aydınlatma Metni</a></li>
                <li><a href="#" onclick="openModal3()" title="Cayma,Fesih ve İade Koşulları">Cayma,Fesih ve İade Koşulları</a></li>
                <li><a href="#" onclick="openModal4()" title="Çerez (Cookie) Politikası">Çerez (Cookie) Politikası</a></li>
                <li><a href="#" onclick="openModal5()" title="Kimlik ve Findeks Raporu">Kimlik ve Findeks Raporu</a></li>
                <li><a href="#" onclick="openModal6()" title="Ödeme ve Teslimat Bilgileri">Ödeme ve Teslimat Bilgileri</a></li>
                <li><a href="#" onclick="openModal7()" title="Mesafeli Satış Sözleşmesi">Mesafeli Satış Sözleşmesi</a></li>



              </ul>
            </div>

            <div id="myModal1" class="modal">
              <div class="modal-content">
                  <span class="close1 close">&times;</span>
                  {% include 'coreBase/terms.html' %}
              </div>
            </div>

            <div id="myModal2" class="modal">
              <div class="modal-content">
                  <span class="close2 close">&times;</span>
                  {% include 'coreBase/illumination.html' %}
              </div>
            </div>

            <div id="myModal3" class="modal">
              <div class="modal-content">
                  <span class="close3 close">&times;</span>
                  {% include 'coreBase/refund.html' %}
              </div>
            </div>
            <div id="myModal4" class="modal">
              <div class="modal-content">
                  <span class="close4 close">&times;</span>
                  {% include 'coreBase/cookie.html' %}
              </div>
            </div>

            <div id="myModal5" class="modal">
              <div class="modal-content">
                  <span class="close5 close">&times;</span>
                  {% include 'coreBase/identifier.html' %}
              </div>
            </div>

            <div id="myModal6" class="modal">
              <div class="modal-content">
                  <span class="close6 close">&times;</span>
                  {% include 'coreBase/paying.html' %}
              </div>
            </div>
            <div id="myModal7" class="modal">
              <div class="modal-content">
                  <span class="close7 close">&times;</span>
                  {% include 'coreBase/distancesellingpromise.html' %}
              </div>
            </div>
            

            <!-- Footer Nav of the Page end -->
            <!-- Footer Nav of the Page -->
            <div class="nav-widget-1">
              <h3 class="f-widget-heading">Hesap</h3>
              <ul class="list-unstyled f-widget-nav">
                <li><a href="{% url 'customerauth:dashboard' %}" title="Hesabım">Hesabım</a></li>
                <li><a href="{% url 'customerauth:orders-list' %}" title="Siparişlerim">Siparişlerim</a></li>
                <li><a href="{% url 'customerauth:wishlist' %}" title="Beğendiklerim">Beğendiklerim</a></li>
                <li><a href="{% url 'products:order_shopping_card' %}" title="Sepetim">Sepetim</a></li>

              </ul>
            </div>
            <!-- Footer Nav of the Page end -->
          </nav>
          <div class="col-xs-12 col-md-3 text-right hidden-sm">
            <!-- F Widget Newsletter of the Page -->
            <div class="f-widget-newsletter">


              <div class="holder">
                <form class="newsletter-form form2" method="POST" action="{% url 'main:subscribe' %}">
                    {% csrf_token %}
                    <fieldset>
                        <input 
                            type="email" 
                            class="form-control" 
                            name="email" 
                            placeholder="E-posta Adresinizi Girin" 
                            required 
                        />
                        <button type="submit">Abone Ol</button>
                    </fieldset>
                </form>
            </div>
            
         
              <h4 class="f-widget-heading follow">Bizi Takip Edin</h4>
              <!-- Social Network of the Page -->
              {% if social_media_links.count > 0 %}
                            <ul class="list-unstyled social-network">
                            {% for social_media in social_media_links %}
                                    {% if social_media.name == 'facebook' %}
                                    <li><a target="_blank" rel="nofollow" href="{{ social_media.link }}" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                    {% elif social_media.name == 'twitter' %}
                                    <li><a target="_blank" rel="nofollow" href="{{ social_media.link }}" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                    {% elif social_media.name == 'instagram' %}
                                    <li><a target="_blank" rel="nofollow" href="{{ social_media.link }}" title="instagram"><i class="fa fa-instagram"></i></a></li>
                                    {% elif social_media.name == 'linkedin' %}
                                    <li><a target="_blank" rel="nofollow" href="{{ social_media.link }}" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    {% elif social_media.name == 'youtube' %}
                                    <li><a target="_blank" rel="nofollow" href="{{ social_media.link }}" title="youtube"><i class="fa fa-youtube"></i></a></li>
                                    {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
              <!-- Social Network of the Page end -->
            </div>
            <!-- F Widget Newsletter of the Page end -->
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Area of the Page -->
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <p>© <a href="{% url 'main:home' %}" title="Eşyala">esyala.</a> - Her Hakkı Saklıdır</p>
          </div>
          <div class="col-xs-12">
            <div class="bank-card align-center">
              <img src="{% static 'images/iyzicologolar.png' %}" alt="Bank Card">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Area of the Page end -->
  </footer>


  <script>
    // Birinci Modalı açma işlevi
    function openModal1() {
        document.getElementById("myModal1").style.display = "block";
    }
    
    // Birinci Modalı kapama işlevi
    function closeModal1() {
        document.getElementById("myModal1").style.display = "none";
    }
    
    // İkinci Modalı açma işlevi
    function openModal2() {
        document.getElementById("myModal2").style.display = "block";
    }
    
    // İkinci Modalı kapama işlevi
    function closeModal2() {
        document.getElementById("myModal2").style.display = "none";
    }

    // İkinci Modalı açma işlevi
    function openModal3() {
        document.getElementById("myModal3").style.display = "block";
    }
    
    // İkinci Modalı kapama işlevi
    function closeModal3() {
        document.getElementById("myModal3").style.display = "none";
    }

    function openModal4() {
        document.getElementById("myModal4").style.display = "block";
    }
    
    // İkinci Modalı kapama işlevi
    function closeModal4() {
        document.getElementById("myModal4").style.display = "none";
    }
    
    function openModal5() {
        document.getElementById("myModal5").style.display = "block";
    }
    
    // İkinci Modalı kapama işlevi
    function closeModal5() {
        document.getElementById("myModal5").style.display = "none";
    }

    function openModal6() {
        document.getElementById("myModal6").style.display = "block";
    }
    
    // İkinci Modalı kapama işlevi
    function closeModal6() {
        document.getElementById("myModal6").style.display = "none";
    }

    function openModal7() {
        document.getElementById("myModal7").style.display = "block";
    }
    
    // İkinci Modalı kapama işlevi
    function closeModal7() {
        document.getElementById("myModal7").style.display = "none";
    }
    
    // Kapatma butonlarına tıklanınca modalları kapat
    document.getElementsByClassName("close1")[0].onclick = function() {
        closeModal1();
    }
    
    document.getElementsByClassName("close2")[0].onclick = function() {
        closeModal2();
    }

    document.getElementsByClassName("close3")[0].onclick = function() {
        closeModal3();
    }
    document.getElementsByClassName("close4")[0].onclick = function() {
        closeModal4();
    }
    document.getElementsByClassName("close5")[0].onclick = function() {
        closeModal5();
    }

    document.getElementsByClassName("close6")[0].onclick = function() {
        closeModal6();
    }
    document.getElementsByClassName("close7")[0].onclick = function() {
        closeModal7();
    }
    
    // Modalların dışına tıklanınca modalları kapat
    window.onclick = function(event) {
        if (event.target == document.getElementById("myModal1")) {
            closeModal1();
        }
        if (event.target == document.getElementById("myModal2")) {
            closeModal2();
        }
        if (event.target == document.getElementById("myModal3")) {
            closeModal3();
        }
        if (event.target == document.getElementById("myModal4")) {
            closeModal4();
        }
        if (event.target == document.getElementById("myModal5")) {
            closeModal5();
        }

        if (event.target == document.getElementById("myModal6")) {
            closeModal6();
        }
        if (event.target == document.getElementById("myModal7")) {
            closeModal7();
        }
    }
    </script>
    

{% endblock %}




