{% load static %}
{% block content %}

<!-- footer of the Page -->
<footer id="mt-footer" class="style1 wow fadeInUp" data-wow-delay="0.4s">
    <!-- Footer Holder of the Page -->
    <div class="footer-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 mt-paddingbottomsm">
                    <!-- F Widget About of the Page -->
                    <div class="f-widget-about">
                        <div class="logo">
                            <a href="#"><img src="{% static 'basestatic/images/esyalacom.png' %}" alt="Esyala"></a>
                        </div>
                        <p>Exercitation ullamco laboris nisi ut aliquip ex commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <!-- Social Network of the Page -->

                        {% if social_media_links.count > 0 %}
                            <ul class="list-unstyled social-network">
                            {% for social_media in social_media_links %}
                                    {% if social_media.name == 'facebook' %}
                                    <li><a target="_blank" href="{{ social_media.link }}"><i class="fa fa-facebook"></i></a></li>
                                    {% elif social_media.name == 'twitter' %}
                                    <li><a target="_blank" href="{{ social_media.link }}"><i class="fa fa-twitter"></i></a></li>
                                    {% elif social_media.name == 'instagram' %}
                                    <li><a target="_blank" href="{{ social_media.link }}"><i class="fa fa-instagram"></i></a></li>
                                    {% elif social_media.name == 'linkedin' %}
                                    <li><a target="_blank" href="{{ social_media.link }}"><i class="fa fa-linkedin"></i></a></li>
                                    {% elif social_media.name == 'youtube' %}
                                    <li><a target="_blank" href="{{ social_media.link }}"><i class="fa fa-youtube"></i></a></li>
                                    {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                       
                        <!-- Social Network of the Page end -->
                    </div>
                    <!-- F Widget About of the Page end -->
                </div>
             
                <div class="col-xs-12 col-sm-6 col-md-6 text-right">
                    <!-- F Widget About of the Page -->
                    <div class="f-widget-about">
                        <h3 class="f-widget-heading">İletişim</h3>
                        <ul class="list-unstyled address-list align-right">
                            <li><i class="fa fa-map-marker"></i><address>Veysel Karani, Çolakoğlu Sokağı No: 10, 34885 Rings Rezidans Kat :5 Daire :87  <br>Sancaktepe/İstanbul</address></li>
                            <li><i class="fa fa-phone"></i><a href="tel:15553332211">+1 (555) 333 22 11</a></li>
                            <li><i class="fa fa-envelope-o"></i><a href="mailto:info@esyala.com">info@esyala.com</a></li>
                        </ul>
                    </div>
                    <!-- F Widget About of the Page end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Holder of the Page end -->
    <!-- Footer Area of the Page -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p>© <a href="#">esyala.</a> - All rights Reserved</p>
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <div class="bank-card">
                        <img src="{% static 'basestatic/images/bank-card.png' %}" alt="bank-card">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Area of the Page end -->
</footer><!-- footer of the Page end -->


{% endblock %}
