{% load static %}
{% block content %}

<style>
    .user-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%; /* Yuvarlak şekil için */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
}


@media (max-width: 1024px) {
    .logo-img {
        width: 120px;
    }
}

/* Daha küçük ekranlar için logo genişliğini daha da küçültme */
@media (max-width: 768px) {
    .logo-img {
        width: 100px;
    }
}

/* En küçük ekranlar için */
@media (max-width: 480px) {
    .logo-img {
        width: 80px;
    }
}

</style>

<header id="mt-header" class="style14">
    <!-- mt bottom bar start here -->
    <div class="mt-bottom-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <!-- mt logo start here -->
                    <div class="mt-logo"><a href="{% url 'main:home' %}"><img class="logo-img" style="height:50px;" src="{% static 'images/esyala_syh_noktalı.png' %}" alt="Esyala"></a></div>
                    <!-- mt icon list start here -->
                    <ul class="mt-icon-list">
                        <li class="hidden-lg hidden-md">
                            <a href="#" class="bar-opener mobile-toggle">
                                <span class="bar"></span>
                                <span class="bar small"></span>
                                <span class="bar"></span>
                            </a>
                        </li>
                        <li><a href="#" class="icon-magnifier"></a></li>
                        <li class="">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'customerauth:wishlist' %}" class="icon-heart cart-opener"><span style="margin-bottom: -3px;" class="num wish-count">{{ wcount }}</span></a>
                            {% else %}
                            <a href="{% url 'customerauth:wishlist' %}" class="icon-heart cart-opener"><span style="margin-bottom: -3px;" class="num wish-count">{{ wcount }}</span></a>
                            {% endif %}
                            
                            <!-- mt drop start here -->
                            <div class="mt-drop">
                                <!-- mt drop sub start here -->
                                <div class="mt-drop-sub">
                                    <!-- mt side widget start here -->
                                    <div class="mt-side-widget">
                                    
                                        
                                        <div class="cart-row-total">
                                            <a href="{% url 'customerauth:wishlist' %}" class="btn-type2">Beğendiklerim</a>
                                        </div>
                                        <!-- cart row total end here -->
                                    </div><!-- mt side widget end here -->
                                </div>
                                <!-- mt drop sub end here -->
                            </div><!-- mt drop end here -->
                            <span class="mt-mdropover"></span>
                        </li>
                        <li class="drop">
                            <a href="#" class="cart-opener1">
                                <span class="icon-handbag"></span>
                                <span class="num">{{ hcount }}</span>
                            </a>
                            <!-- mt drop start here -->
                            <div class="mt-drop">
                                <!-- mt drop sub start here -->
                                <div class="mt-drop-sub">
                                    <!-- mt side widget start here -->
                                    <div class="mt-side-widget">
                                        {% if cart_items.count > 0 %}
                                            {% for cart_item in cart_items %}
                                                <div class="cart-row">
                                                    {% with first_image=cart_item.product.related_products.first %}
                                                    {% if first_image %}
                                                    <a href="{% url 'products:product-detail-view' cart_item.product.slug %}" class="img"><img class="img-responsive" src="{{ first_image.image.url }}" alt="{{ first_image.img_title }}"></a>
                                                    {% endif %}
                                                    {% endwith %}
                                                    <div class="mt-h">
                                                        <span class="mt-h-title"><a href="#">{{cart_item.product.name}}</a></span>
                                                        {% if cart_item.is_rental %}
                                                        <strong class="price"><i class="fa fa-try"></i> {{ cart_item.rental_price }}</strong>
                                                        {% else %}
                                                        <strong class="price"><i class="fa fa-try"></i> {{ cart_item.selling_price }}</strong>
                                                        {% endif %}
                                                        <span class="mt-h-title">Adet: {{ cart_item.quantity }}</span>
                                                    </div>
                                                    <a href="{% url 'products:remove_from_cart' cart_item_id=cart_item.id %}" class="close fa fa-times"></a>
                                                </div>
                                            {% endfor %}

                                            
                                            
                                            <div class="cart-row-total">
                                                <span class="mt-total">Toplam Tutar</span>
                                                <span class="mt-total-txt"><i class="fa fa-try" aria-hidden="true"></i>{{ cart_total }}</span>
                                            </div>
                                            <!-- cart row total end here -->
                                            <div class="cart-btn-row">
                                                <a href="{% url 'products:order_shopping_card' %}" class="btn-type2">Sepetim</a>
                                            </div>
                                        {% else %}
                                        <div class="cart-row text-center">
                                            <h4>Sepetinizde Ürün Bulunmamaktadır</h4>
                                        </div>
                                        {% endif %}

                                    </div><!-- mt side widget end here -->
                                </div>
                                <!-- mt drop sub end here -->
                            </div><!-- mt drop end here -->
                            <span class="mt-mdropover"></span>
                        </li>
                        <li id="user-icon">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'customerauth:address-list' %}">
                                    <div class="user-icon" id="dropdownIcon">{{ request.user.username|first|upper }}</div>
                                </a>
                            {% else %}
                                <a href="{% url 'customerauth:sign-in' %}">
                                    <div class="icon-user" id="dropdownIcon"></div>
                                </a>
                            {% endif %}
                        </li>

                        
                    </ul><!-- mt icon list end here -->
                    <!-- navigation start here -->
                    <nav id="nav">
                        <ul>
                            <li>
                                <a href="{% url 'main:home' %}">Anasayfa</a>
                                
                            </li>
                            
                            
                            <!-- category_menu.html -->
                            <li class="drop">
                                <a href="#">Kategoriler <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <!-- mt dropmenu start here -->
                                <div class="mt-dropmenu text-left">
                                    <!-- mt frame start here -->
                                    <div class="mt-frame">
                                        <!-- mt f box start here -->
                                        <div class="mt-f-box">
                                            {{ main_categories|safe }}

                                        </div>
                                        <!-- mt f box end here -->
                                    </div>
                                    <!-- mt frame end here -->
                                </div>
                                <!-- mt dropmenu end here -->
                                <span class="mt-mdropover"></span>
                            </li>
                            <li><a href="{% url 'main:about' %}">Hakkımızda</a></li>
                            <li><a href="{% url 'main:contact' %}">İletişim</a> </li>
                        </ul>
                    </nav>
                    <!-- mt icon list end here -->
                </div>
            </div>
        </div>
    </div>
    <!-- mt bottom bar end here -->
    <span class="mt-side-over"></span>
</header>





{% include 'coreBase/searchbar.html' %}

{%  endblock %}