{% extends 'partialsBase/base.html' %}
{% load custom_filters %}
{% load static %}


{% block meta %}
<!-- HTML Meta Tags -->
<title> Anasayfa | Eşyala </title>

<meta name="description" content="{{ description }}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://esyala.com/">
<meta property="og:type" content="website">
<meta property="og:title" content=" Anasayfa | Eşyala ">
<meta property="og:description" content="{{ description }}">

<meta property="og:image" content="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/banners/WhatsApp_Image_2024-05-04_at_15.webp">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="esyala.com">
<meta property="twitter:url" content="https://esyala.com/">
<meta name="twitter:title" content=" Anasayfa | Eşyala ">
<meta name="twitter:description" content="{{ description }}">

<meta name="twitter:image" content="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/banners/WhatsApp_Image_2024-05-04_at_15.webp">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
{% endblock %}


{% block content %}
<style>
    .address-list li {
    display: flex;
    align-items: center;
}

.address-list li i {
    margin-right: 0px; /* İkon ile metin arasındaki sağ boşluğu ayarlayın */
}

</style>

<style>

  .product-3 {
      display: flex;
      flex-direction: column;
      border: 1px solid #ddd;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      height: 500px; /* Sabit yükseklik */
      overflow: hidden; /* İçeriğin dışarı taşmasını önler */
      position: relative;
      text-align: center;
      background-color: #fff; /* Arka plan rengi */
  }

  .product-3 .img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 233px;
    overflow: hidden;
    position: relative;
}
  
   .img a img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 233px; 
      overflow: hidden; 
      position: relative; 
  }
  
  .img img {
      max-width: 100%;
      max-height: 100%;
  }
  
  .caption {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: #fff;
      padding: 5px;
  }
  
  .caption .off {
      font-size: 17px;
      color: #fff;
      display: inline-block;
      padding: 3px 8px;
      margin-bottom: 5px;
      background-color: #b2cc29;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      line-height: 1.2;
      border-radius: 3px;
  }
  
  .caption .best-price {
      font-size: 17px;
      color: #fff;
      padding: 5px 10px;
      background-color: #fed062;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      line-height: 1.2;
      border-radius: 3px;
      display: inline-block;
  }
  
  .mt-stars-container {
      margin-top: 10px;
  }
  
  .mt-stars {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
  }
  
  .mt-stars li {
      margin: 0 2px;
  }
  
  .mt-stars i {
      color: #FFD700;
  }
  
  .title a {
      color: #000;
      text-decoration: none;
  }
  
  .price, .off {
      display: block;
  }
  
  .links {
      list-style: none;
      padding: 0;
      margin: 10px 0;
      display: flex;
      justify-content: center;
  }
  
  .links li {
      margin: 0 5px;
  }
  
  .slide.slick-slide {
    padding: 15px;
  }

  .fadeInDown .btn-shop span{
  color: #878787;
}
  .fadeInDown .btn-shop:hover {
  color: #ff6060;
  text-decoration: none;
}
  

.shop {
  color: #3e3e4a;
  padding: 0 10px;
  margin: 26 0 20px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  display: inline-block;
  vertical-align: middle;
}

.banner-slider .img {
    width: 100%; /* Resimlerin genişliğini kapsayıcıya göre ayarlar */
    height: 600px; /* İstediğiniz yükseklik */
    object-fit: cover; /* Resmin kapsayıcıya tam oturmasını sağlar */
    display: block; /* Tarayıcıdan kaynaklı ara boşlukları kaldırır */
}

/* Mobil görünüm için ayarlar */
@media (max-width: 768px) {
    .banner-slider .img {
        height: 200px; /* Mobilde daha küçük bir yükseklik ayarlayabilirsiniz */
    }
}

/* Tablet ve küçük ekranlar için ayarlar */
@media (max-width: 1024px) {
    .banner-slider .img {
        height: 250px; /* Tablet için yükseklik */
    }
}

  </style>







<!-- main container of all the page elements -->
<div id="wrapper">
    <!-- Page Loader -->
    <!-- <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'images/svg/rings.svg' %}" alt="loader">
        </div>
    </div>   -->
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}

   

        <div class="mt-mainslider3">
            <!-- slider banner-slider start here -->
            <div class="slider banner-slider">
               
                {% for banner in homemainbanners %}
                <div class="holder">
                        <img class="img" src="{{ banner.image.url }}" alt="{{ banner.title }}" loading="lazy">
                    
                    <div class="txt-wrap {{ banner.title_position }}">
                        <a href="{{ banner.link }}" title="Alışverişe Başla"><strong style="color: {{ banner.text_color }};" class="title">{{ banner.title }}</strong></a>
                        
                        <a href="{{ banner.link }}" title="Alışverişe Başla"><h1 style="color: {{ banner.text_color }};">{{ banner.subtitle }}</h1></a>

                        <div class="txt">
                            <p style="color: {{ banner.text_color }};">{{ banner.description }}</p>
                        </div>
                    
                    </div>
                </div>
            {% endfor %}
            
            </div><!-- slider banner-slider start here -->
        </div>



        <main id="mt-main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        <div class="banner-frame mt-paddingsmzero">
                            {% for banner in banners %}
                                {% if banner.position == 'left' %}
                                    <div class="banner-box third wow fadeInLeft" >
                                        <div class="banner-12 right white wow fadeInUp" >
                                            <img src="{{ banner.image.url }}" alt="image description" loading="lazy">
                                            <div class="holder">
                                                <h2>
                                                    {% if banner.subtitle %}
                                                        <span>{{ banner.subtitle }}</span>
                                                    {% endif %}
                                                    <strong>{{ banner.title }}</strong>
                                                </h2>
                                                {% if banner.link %}
                                                    <a class="btn-shop" title="Alışverişe Başla" href="{{ banner.link }}">
                                                        <span>Alışverişe Başla</span>
                                                        
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% elif banner.position == 'right' %}
                                            <div class="banner-12 right wow fadeInDown" >
                                                <img src="{{ banner.image.url }}" alt="image description" loading="lazy">
                                                <div class="holder">
                                                    <h2><strong class="title">{{ banner.title }}</strong></h2>
                                                    {% if banner.subtitle %}
                                                        <span class="heading">{{ banner.subtitle }}</span>
                                                    {% endif %}
                                                    {% if banner.link %}
                                                        <a class="btn-shop" title="Alışverişe Başla" href="{{ banner.link }}">
                                                            <span >Alışverişe Başla</span>
                                                            
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                    </div>
                                {% endif %}

                                
                            {% endfor %}
                        
                            <div class="slider-7 wow fadeInRight" >
                                <div class="slider banner-slider">
                                    {% for slider in sliders %}
                                        <div class="s-holder">
                                            <img src="{{ slider.image.url }}" alt="image description" loading="lazy">
                                            <div class="s-box">
                                                <h2><strong class="title">{{ slider.title }}</strong></h2>
                                                {% if slider.subtitle %}
                                                    <span class="heading">{{ slider.subtitle }}</span>
                                                {% endif %}
                                                <div class="s-txt">
                                                    <p>{{ slider.description }}</p>
                                                </div>
                                                {% if slider.link %}
                                                    <a class="btn-shop" title="Alışverişe Başla" href="{{ slider.link }}">
                                                        <span>Alışverişe Başla</span>
                                                        
                                                    </a>
                                                {% endif %}
                                              
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!-- banner frame end here -->
                        <!-- mt producttabs start here -->
                        <div class="mt-producttabs wow fadeInUp" >
                            <!-- producttabs start here -->
                            <ul class="producttabs">
                                <li><a href="#tab1" title="Öne Çıkanlar" class="active">Öne Çıkanlar</a></li>
                                <li><a href="#tab2" title="Son Yüklenenler">Son Yüklenenler</a></li>
                            </ul>
                            <div class="tab-content text-center">
                                <div id="tab1">
                                    <div class="tabs-slider">
                                        {% for featured_product in featured_products %}
                                        {% if forloop.counter0|divisibleby:2 %}<div class="slide">{% endif %}
                                            <div class="mt-product1 mt-paddingbottom20">
                                                <div class="box">
                                                    <div class="b1">
                                                        <div class="b2">
                                                            {% with first_image=featured_product.related_products.all.0 %}
                                                            {% if first_image %}
                                                            <a href="{% url 'products:product-detail-view' featured_product.slug %}" title="{{ first_image.img_title }}">
                                                                <img src="{{ first_image.image.url }}" style="width: 216px; height: 265px;" alt="{{ first_image.img_title }}" loading="lazy">
                                                            </a>
                                                            {% endif %}
                                                            {% endwith %}
                                                            {% if featured_product.get_percentage %}
                                                                <span class="caption">
                                                                    <span class="off">{{ featured_product.get_percentage|floatformat:0 }}%</span>
                                                                    <span class="best-price">En İyi Fiyat</span>
                                                                </span>
                                                            {% endif %}
                                                            <ul class="mt-stars">
                                                                {% if featured_product.average_rating %}
                                                                {% for star in featured_product.average_rating|make_star_list %}
                                                                <li><i class="fa fa-star{% if not star %}-o{% endif %}"></i></li>
                                                                {% endfor %}
                                                                {% endif %}
                                                            </ul>
                                                            <ul class="links">
                                                                {% if request.user.is_authenticated %}
                                                                <li><a  aria-label="Beğendiklerim" class="action-btn add-to-wishlist" data-product-item="{{featured_product.id}}" ><i class="icon-heart"></i></a></li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="txt">
                                                    <strong class="title"><a href="{% url 'products:product-detail-view' featured_product.slug %}" title="{{ featured_product.name }}">{{ featured_product.name|truncatechars:20 }}</a></strong>
                                                    <h4>{{ featured_product.category.name }}</h4>
                                                    <strong class="title">Satış Fiyatı</strong>
                                                    {% if featured_product.selling_old_price != 0 %}
                                                    <del class="off"><i class="fa fa-try"></i> <span>{{ featured_product.selling_old_price }}</span></del>
                                                    {% endif %}
                                                    <span class="price"><i class="fa fa-try"></i> <span>{{ featured_product.selling_price }}</span></span>
                                                </div>
                                            </div><!-- mt product1 center end here -->
                                        {% if forloop.last or forloop.counter|divisibleby:2 %}</div>{% endif %}
                                        {% endfor %}
                                    </div>
                                    
                                </div>
                                <div id="tab2">
                                    <!-- tabs slider start here -->
                                    <div class="tabs-slider">
                                        {% for latest_product in latest_products %}
                                        {% if forloop.counter0|divisibleby:2 %}<div class="slide">{% endif %}
                                            <div class="mt-product1 mt-paddingbottom20">
                                                <div class="box">
                                                    <div class="b1">
                                                        <div class="b2">
                                                            {% with first_image=latest_product.related_products.all.0 %}
                                                            {% if first_image %}
                                                            <a href="{% url 'products:product-detail-view' latest_product.slug %}" title="{{ first_image.img_title }}"><img src="{{ first_image.image.url }}" style="width: 216px; height: 265px;" alt="{{ first_image.img_title }}" loading="lazy"></a>
                                                            {% endif %}
                                                            {% endwith %}
                                                            {% if latest_product.get_percentage %}
                                                                <span class="caption">
                                                                    <span class="off">{{ latest_product.get_percentage|floatformat:0 }}%</span>
                                                                    <span class="best-price">En İyi Fiyat</span>
                                                                </span>
                                                            {% endif %}
                                                            <ul class="mt-stars">
                                                                {% if latest_product.average_rating %}
                                                                {% for star in latest_product.average_rating|make_star_list %}
                                                                <li><i class="fa fa-star{% if not star %}-o{% endif %}"></i></li>
                                                                {% endfor %}
                                                                {% endif %}
                                                            </ul>
                                                            <ul class="links">
                                                                {% if request.user.is_authenticated %}
                                                                <li><a  aria-label="Beğendiklerim" class="action-btn add-to-wishlist" data-product-item="{{latest_product.id}}" ><i class="icon-heart"></i></a></li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="txt">
                                                    <strong class="title"><a href="{% url 'products:product-detail-view' latest_product.slug %}" title="{{ latest_product.name }}">{{ latest_product.name|truncatechars:20 }}</a></strong>
                                                    <h4>{{ latest_product.category.name }}</h4>
                                                    <strong class="title">Satış Fiyatı</strong>
                                                    {% if latest_product.selling_old_price != 0 %}
                                                    <del class="off"><i class="fa fa-try"></i> <span>{{ latest_product.selling_old_price }}</span></del>
                                                    {% endif %}
                                                    <span class="price"><i class="fa fa-try"></i> <span>{{ latest_product.selling_price }}</span></span>
                                                </div>
                                            </div><!-- mt product1 center end here -->
                                        {% if forloop.last or forloop.counter|divisibleby:2 %}</div>{% endif %}
                                        {% endfor %}
                                    </div>
                                    <!-- tabs slider end here -->
                                </div>
                            
                            </div>
                        </div>

                        {% if request.user.is_authenticated %}
                        <div class="mt-bestseller  text-center wow fadeInUp" >
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 mt-heading text-uppercase">
                                        <h2 class="heading">Son Gezdiğin Ürünler</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="bestseller-slider">
                                            {% for user_product in user_product_view %}
                                            <div class="slide">
                                                <div class="product-3 marginzero">
                                                    <div class="img">
                                                        {% if user_product.product.related_products.count %}
                                                            {% with first_image=user_product.product.related_products.first %}
                                                                <a href="{% url 'products:product-detail-view' user_product.product.slug %}" title="{{ first_image.img_title }}">
                                                                    <img src="{{ first_image.image.url }}" alt="{{ first_image.img_title }}" loading="lazy">
                                                                </a>
                                                            {% endwith %}
                                                        {% endif %}

                                                        {% if user_product.product.get_percentage %}
                                                        <span class="caption">
                                                            <span class="off">{{ user_product.product.get_percentage|floatformat:0 }}%</span>
                                                            <span class="best-price">En İyi Fiyat</span>
                                                        </span>
                                                        {% endif %}
                                                    </div>

                                                    {% if user_product.product.get_star_list %}
                                                    <div class="mt-stars-container">
                                                        <ul class="mt-stars">
                                                            {% for star in user_product.product.get_star_list %}
                                                            <li><i class="fa fa-star{% if not star %}-o{% endif %}"></i></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    {% endif %}

                                                    <div class="txt">
                                                        <strong class="title">
                                                            <a href="{% url 'products:product-detail-view' user_product.product.slug %}" title="{{ user_product.product.name }}">{{ user_product.product.name }}</a>
                                                        </strong>
                                                        <h4>{{ user_product.product.category.name }}</h4>
                                                        {% if user_product.product.selling_old_price != 0 %}
                                                        <del class="off"><i class="fa fa-try"></i> <span>{{user_product.product.selling_old_price}}</span></del>
                                                        {% endif %}
                                                        <span class="price"><i class="fa fa-try"></i> <span>{{user_product.product.selling_price}}</span></span>
                                                        <p>{{ user_product.product.truncated_description }}</p>
                                                    </div>

                                                    <ul class="links">
                                                        {% if request.user.is_authenticated %}
                                                        <li><a aria-label="Beğendiklerim" class="action-btn add-to-wishlist" data-product-item="{{user_product.product.id}}" ><i class="icon-heart"></i></a></li>
                                                        {% endif %}
                                                        <li><a href="{% url 'products:product-detail-view' user_product.product.slug %}" title="" class="lightbox"><i class="icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="mt-bestseller  text-center wow fadeInUp" >
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 mt-heading text-uppercase">
                                        <h2 class="heading">Çok Satanlar</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="bestseller-slider">
                                            {% for best_seller_product in best_seller_products  %}
                                            <div class="slide" >
                                                <!-- mt product1 center start here -->
                                                <div class="product-3 marginzero">
                                                    <!-- img start here -->
                                                    <div class="img">
                                                        {% if best_seller_product.related_products.count %}
                                                            {% with first_image=best_seller_product.related_products.first %}
                                                                <a href="{% url 'products:product-detail-view' best_seller_product.slug %}" title="{{ first_image.img_title }}">
                                                                    <img src="{{ first_image.image.url }}" alt="{{ first_image.img_title }}" loading="lazy">
                                                                </a>
                                                            {% endwith %}
                                                        {% endif %}
                                        
                                                        {% if best_seller_product.get_percentage %}
                                                        <span class="caption">
                                                            <span class="off">{{ best_seller_product.get_percentage|floatformat:0 }}%</span>
                                                            <span class="best-price">En İyi Fiyat</span>
                                                        </span>
                                                        {% endif %}
                                                    </div>
                                        
                                                    <!-- stars start here -->
                                                    {% if best_seller_product.get_star_list %}
                                                    <div class="mt-stars-container">
                                                        <ul class="mt-stars">
                                                            {% for star in best_seller_product.get_star_list %}
                                                            <li><i class="fa fa-star{% if not star %}-o{% endif %}"></i></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    {% endif %}
                                        
                                                    <!-- txt start here -->
                                                    <div class="txt">
                                                        <strong class="title">
                                                            <a href="{% url 'products:product-detail-view' best_seller_product.slug %}" title="{{ best_seller_product.name }}">{{ best_seller_product.name }}</a>
                                                        </strong>
                                                        <h4>{{ best_seller_product.category.name }}</h4>
                                                        {% if best_seller_product.selling_old_price != 0 %}
                                                        <del class="off"><i class="fa fa-try"></i> <span>{{best_seller_product.selling_old_price}}</span></del>
                                                        {% endif %}
                                                        <span class="price"><i class="fa fa-try"></i> <span>{{best_seller_product.selling_price}}</span></span>
                                                        <p>{{ best_seller_product.truncated_description }}</p>
                                                    </div>
                                        
                                                    <!-- links start here -->
                                                    <ul class="links">
                                                        {% if request.user.is_authenticated %}
                                                        <li><a aria-label="Beğendiklerim" class="action-btn add-to-wishlist" data-product-item="{{product.id}}" ><i class="icon-heart"></i></a></li>
                                                        {% endif %}
                                                        <li><a href="{% url 'products:product-detail-view' best_seller_product.slug %}" title="" class="lightbox"><i class="icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if brand_data %}
                        <div class="mt-patners wow fadeInUp" data-wow-delay="0.6s">
                            <h2 class="heading">Markalar</h2>
                            <div class="patner-slider">
                                {% for brand in brand_data %}
                                <div class="slide">
                                    {% if brand.image %}
                                    <div class="box1">
                                        <div class="box2"><a><img src="{{ brand.image.url }}" title="{{ brand.img_title }}" alt="{{ brand.img_alt }}" style="width: 200px; height: 150px;" loading="lazy"></a></div>
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </main>

    
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>


{%  endblock %}