{% extends 'partialsBase/base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %} Anasayfa {% endblock title %}

{% block content %}
<style>
    .address-list li {
    display: flex;
    align-items: center;
}

.address-list li i {
    margin-right: 0px; /* İkon ile metin arasındaki sağ boşluğu ayarlayın */
}
</style>

<!-- main container of all the page elements -->
<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
        </div>
    </div>
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}

        <!-- mt main slider start here -->
        <div class="mt-main-slider">
            <!-- slider banner-slider start here -->
            <div class="slider banner-slider">
                <!-- holder start here -->
                {% for banner in homemainbanners %}
                    <div class="holder text-center" style="background-image: url({{ banner.image.url }});">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="text {{ banner.title_position }}">
                                        <strong style="color: {{ banner.text_color }};" class="title">{{ banner.title }}</strong>
                                        <h1 style="color: {{ banner.text_color }};" >{{ banner.subtitle }}</h1>
                                        <div class="txt">
                                            <p style="color: {{ banner.text_color }};"  >{{ banner.description }}</p>
                                        </div>
                                        <a href="{{ banner.link }}" class="shop">Alışverişe Başla</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- holder end here -->

            </div>
            <!-- slider regular end here -->
        </div><!-- mt main slider end here -->
        <!-- mt main start here -->
        <main id="mt-main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- banner frame start here -->
                        <div class="banner-frame">
                            {% for homesubbanner in homesubbanners %}
                                {% if homesubbanner.choose == 'banner1' %}
                                    <div class="banner-1 wow fadeInLeft" data-wow-delay="0.4s">
                                        <img alt="image description" src="{{ homesubbanner.image.url }}">
                                        <div class="holder">
                                            <h2>{{ homesubbanner.title }}</h2>
                                            <div class="txts">
                                                <a class="btn-shop" href="{{ homesubbanner.link }}">
                                                    <span>Shop now</span>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                                {% if homesubbanner.discount %}
                                                    <div class="discount">
                                                        <span>{{ homesubbanner.discount }}</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% elif homesubbanner.choose == 'banner2' %}
                                    <div class="banner-box first">
                                        <div class="banner-2 wow fadeInUp" data-wow-delay="0.4s">
                                            <img alt="image description" src="{{ homesubbanner.image.url }}">
                                            <div class="holder">
                                                <h2>{{ homesubbanner.title }}</h2>
                                                <span class="price">{{ homesubbanner.price }}</span>
                                            </div>
                                        </div>
                                {% elif homesubbanner.choose == 'banner3' %}
                                        <div class="banner-3 right wow fadeInDown" data-wow-delay="0.4s">
                                            <img alt="image description" src="{{ homesubbanner.image.url }}">
                                            <div class="holder">
                                                <h2>{{ homesubbanner.title }}</h2>
                                                <a href="{{ homesubbanner.link }}" class="shop">SHOP NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                {% elif homesubbanner.choose == 'banner4' %}
                                    <div class="banner-4 hidden-sm wow fadeInRight" data-wow-delay="0.4s">
                                        <img alt="image description" src="{{ homesubbanner.image.url }}">
                                        <div class="holder">
                                            <h2>{{ homesubbanner.title }}</h2>
                                            <span class="price">{{ homesubbanner.price }}</span>
                                            <a class="btn-shop add" href="{{ homesubbanner.link }}">
                                                <span>shop now</span>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        
                        
                        
                        
                        <!-- banner frame end here -->
                        <!-- mt producttabs start here -->
                        <div class="mt-producttabs wow fadeInUp" data-wow-delay="0.4s">
                            <!-- producttabs start here -->
                            <ul class="producttabs">
                                <li><a href="#tab1" class="active">Öne Çıkanlar</a></li>
                                <li><a href="#tab2">Son Yüklenenler</a></li>
                                <li><a href="#tab3">Çok Satanlar</a></li>
                            </ul>
                            <!-- producttabs end here -->
                            <div class="tab-content text-center">
                                <div id="tab1">
                                    <!-- tabs slider start here -->
                                    <div class="tabs-slider">
                                        {% for featured_product in featured_products %}
                                        {% if forloop.counter0|divisibleby:2 %}<div class="slide">{% endif %}
                                            <div class="mt-product1 mt-paddingbottom20">
                                                <div class="box">
                                                    <div class="b1">
                                                        <div class="b2">
                                                            {% with first_image=featured_product.related_products.first %}
                                                            {% if first_image %}
                                                            <a href="{% url 'products:product-detail-view' featured_product.slug %}"><img src="{{ first_image.image.url }}" style="width: 216px; height: 265px;" alt="{{ first_image.img_title }}"></a>
                                                            {% endif %}
                                                            {% endwith %}
                                                            {% if featured_product.get_percentage %}
                                                                <span class="caption">
                                                                    <span class="off">{{ featured_product.get_percentage|floatformat:0 }}%</span>
                                                                    <span class="best-price">En İyi Fiyat</span>
                                                                </span>
                                                            {% endif %}
                                                            <ul class="mt-stars">
                                                                {% if featured_product.average_rating %}
                                                                {% for star in featured_product.average_rating|make_star_list %}
                                                                <li><i class="fa fa-star{% if not star %}-o{% endif %}"></i></li>
                                                                {% endfor %}
                                                                {% endif %}
                                                            </ul>
                                                            <ul class="links">
                                                                {% if request.user.is_authenticated %}
                                                                <li><a  aria-label="Beğendiklerim" class="action-btn add-to-wishlist" data-product-item="{{featured_product.id}}" href="#"><i class="icon-heart"></i></a></li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="txt">
                                                    <strong class="title"><a href="{% url 'products:product-detail-view' featured_product.slug %}">{{ featured_product.name }}</a></strong>
                                                    <strong class="title">Satış Fiyatı</strong>
                                                    {% if featured_product.selling_old_price != 0 %}
                                                    <del class="off"><i class="fa fa-try"></i> <span>{{ featured_product.selling_old_price }}</span></del>
                                                    {% endif %}
                                                    <span class="price"><i class="fa fa-try"></i> <span>{{ featured_product.selling_price }}</span></span>
                                                </div>
                                            </div><!-- mt product1 center end here -->
                                        {% if forloop.last or forloop.counter|divisibleby:2 %}</div>{% endif %}
                                        {% endfor %}
                                    </div>
                                    
                                    <!-- tabs slider end here -->
                                </div>
                                <div id="tab2">
                                    <!-- tabs slider start here -->
                                    <div class="tabs-slider">
                                        {% for latest_product in latest_products %}
                                        {% if forloop.counter0|divisibleby:2 %}<div class="slide">{% endif %}
                                            <div class="mt-product1 mt-paddingbottom20">
                                                <div class="box">
                                                    <div class="b1">
                                                        <div class="b2">
                                                            {% with first_image=latest_product.related_products.first %}
                                                            {% if first_image %}
                                                            <a href="{% url 'products:product-detail-view' latest_product.slug %}"><img src="{{ first_image.image.url }}" style="width: 216px; height: 265px;" alt="{{ first_image.img_title }}"></a>
                                                            {% endif %}
                                                            {% endwith %}
                                                            {% if latest_product.get_percentage %}
                                                                <span class="caption">
                                                                    <span class="off">{{ latest_product.get_percentage|floatformat:0 }}%</span>
                                                                    <span class="best-price">En İyi Fiyat</span>
                                                                </span>
                                                            {% endif %}
                                                            <ul class="mt-stars">
                                                                {% if latest_product.average_rating %}
                                                                {% for star in latest_product.average_rating|make_star_list %}
                                                                <li><i class="fa fa-star{% if not star %}-o{% endif %}"></i></li>
                                                                {% endfor %}
                                                                {% endif %}
                                                            </ul>
                                                            <ul class="links">
                                                                {% if request.user.is_authenticated %}
                                                                <li><a  aria-label="Beğendiklerim" class="action-btn add-to-wishlist" data-product-item="{{latest_product.id}}" href="#"><i class="icon-heart"></i></a></li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="txt">
                                                    <strong class="title"><a href="{% url 'products:product-detail-view' latest_product.slug %}">{{ latest_product.name }}</a></strong>
                                                    <strong class="title">Satış Fiyatı</strong>
                                                    {% if latest_product.selling_old_price != 0 %}
                                                    <del class="off"><i class="fa fa-try"></i> <span>{{ latest_product.selling_old_price }}</span></del>
                                                    {% endif %}
                                                    <span class="price"><i class="fa fa-try"></i> <span>{{ latest_product.selling_price }}</span></span>
                                                </div>
                                            </div><!-- mt product1 center end here -->
                                        {% if forloop.last or forloop.counter|divisibleby:2 %}</div>{% endif %}
                                        {% endfor %}
                                    </div>
                                    <!-- tabs slider end here -->
                                </div>
                                <div id="tab3">
                                    <!-- tabs slider start here -->
                                    <div class="tabs-slider">
                                        {% for best_product in best_products %}
                                        {% if forloop.counter0|divisibleby:2 %}<div class="slide">{% endif %}
                                            <div class="mt-product1 mt-paddingbottom20">
                                                <div class="box">
                                                    <div class="b1">
                                                        <div class="b2">
                                                            {% with first_image=best_product.related_products.first %}
                                                            {% if first_image %}
                                                            <a href="{% url 'products:product-detail-view' best_product.slug %}"><img src="{{ first_image.image.url }}" style="width: 216px; height: 265px;" alt="{{ first_image.img_title }}"></a>
                                                            {% endif %}
                                                            {% endwith %}
                                                            {% if best_product.get_percentage %}
                                                                <span class="caption">
                                                                    <span class="off">{{ best_product.get_percentage|floatformat:0 }}%</span>
                                                                    <span class="best-price">En İyi Fiyat</span>
                                                                </span>
                                                            {% endif %}
                                                            <ul class="mt-stars">
                                                                {% if best_product.average_rating %}
                                                                {% for star in best_product.average_rating|make_star_list %}
                                                                <li><i class="fa fa-star{% if not star %}-o{% endif %}"></i></li>
                                                                {% endfor %}
                                                                {% endif %}
                                                            </ul>
                                                            <ul class="links">
                                                                {% if request.user.is_authenticated %}
                                                                <li><a  aria-label="Beğendiklerim" class="action-btn add-to-wishlist" data-product-item="{{best_product.id}}" href="#"><i class="icon-heart"></i></a></li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="txt">
                                                    <strong class="title"><a href="{% url 'products:product-detail-view' best_product.slug %}">{{ best_product.name }}</a></strong>
                                                    <strong class="title">Satış Fiyatı</strong>
                                                    {% if best_product.selling_old_price != 0 %}
                                                    <del class="off"><i class="fa fa-try"></i> <span>{{ best_product.selling_old_price }}</span></del>
                                                    {% endif %}
                                                    <span class="price"><i class="fa fa-try"></i> <span>{{ best_product.selling_price }}</span></span>
                                                </div>
                                            </div><!-- mt product1 center end here -->
                                        {% if forloop.last or forloop.counter|divisibleby:2 %}</div>{% endif %}
                                        {% endfor %}
                                    </div>
                                    <!-- tabs slider end here -->
                                </div>
                            </div>
                        </div>
                        <!-- mt producttabs end here -->
                    </div>
                </div>
            </div>
            <!-- mt bestseller start here -->
            <div class="mt-bestseller bg-grey text-center wow fadeInUp" data-wow-delay="0.4s">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 mt-heading text-uppercase">
                            <h2 class="heading">Çok Satanlar</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bestseller-slider">
                                {% for best_seller_product in best_seller_products  %}
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 large">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    {% with first_image=best_seller_product.related_products.first %}
                                                        {% if first_image %}
                                                        <a href="{% url 'products:product-detail-view' best_seller_product.slug %}"><img src="{{ first_image.image.url }}" style="width: 216px; height: 265px;" alt="{{ first_image.img_title }}"></a>
                                                        {% endif %}
                                                    {% endwith %}
                                                    {% if best_seller_product.get_percentage %}
                                                        <span class="caption">
                                                            <span class="off">{{ best_seller_product.get_percentage|floatformat:0 }}%</span>
                                                            <span class="best-price">En İyi Fiyat</span>
                                                        </span>
                                                    {% endif %}
                                                    <ul class="links">
                                                        {% if request.user.is_authenticated %}
                                                        <li><a  aria-label="Beğendiklerim" class="action-btn add-to-wishlist" data-product-item="{{best_seller_product.id}}" href="#"><i class="icon-heart"></i></a></li>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="{% url 'products:product-detail-view' best_seller_product.slug %}">{{ best_seller_product.name }}</a></strong>
                                            <strong class="title">Satış Fiyatı</strong>
                                            {% if best_seller_product.selling_old_price != 0 %}
                                            <del class="off"><i class="fa fa-try"></i> <span>{{ best_seller_product.selling_old_price }}</span></del>
                                            {% endif %}
                                            <span class="price"><i class="fa fa-try"></i> <span>{{ best_seller_product.selling_price }}</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </main>

    
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>


{%  endblock %}