<div style="overflow-y: scroll,">
    <h2>Kimlik ve Findeks Raporu</h2>
    <p>

        Sitemiz esyala.com talep ve ilgilerinizi daha iyi analiz ederek en doğru hizmeti sunmak amacıyla bazı kişisel
        bilgilerinizi üyelik işlemi sırasında (İsim, soy isim, telefon numarası, T.C. Kimlik Numarası, kredi kartı
        bilgileri, e-posta adresi, kimlik görüntüsü, finansal durumunuz ve kimlik görüntüsünde ibraz edilen bilgiler)
        talep etmektedir.

        Esyala.com veri tabanında toplanan bu veriler; kampanya çalışmaları, daha iyi müşteri hizmetleri sunabilmek ya
        da size yönelik özel promosyon ve indirimlerin yapılabilmesi için şirketimiz bünyesinde kullanılmaktadır.

        Ayrıca sitemiz esyala.com üzerinden yapmış olduğunuz işlemlere ait istatistiksel veriler tarafımızdan analiz
        edilmekte ve bilgi güvenliği çerçevesinde saklanmaktadır.

    </p>



</div>