<div style="overflow-y: scroll;">
    <h3>Aydınlatma Metni</h3>
    <p>
        esyala.com (“esyala”) olarak güvenliğinizi göz önünde bulundurarak, başta özel hayatın gizliliği olmak üzere,
        temel hak ve özgürlüklerin korunması amacıyla, kişisel verilerle ilgili düzenlenen Kişisel Verilerin Korunması
        Kanunu (“KVK”) hususunda sizi bilgilendirmek istiyoruz.

        Sitemiz esyala.com talep ve ilgilerinizi daha iyi analiz ederek en doğru hizmeti sunmak amacıyla bazı kişisel
        bilgilerinizi üyelik işlemi sırasında (İsim, soy isim, telefon numarası, T.C. Kimlik Numarası, kredi kartı
        bilgileri, e-posta adresi, kimlik görüntüsü, finansal durumunuz ve kimlik görüntüsünde ibraz edilen bilgiler)
        talep etmektedir.

        Esyala.com veri tabanında toplanan bu veriler; kampanya çalışmaları, daha iyi müşteri hizmetleri sunabilmek ya
        da size yönelik özel promosyon ve indirimlerin yapılabilmesi için şirketimiz bünyesinde kullanılmaktadır.

        Ayrıca sitemiz Esyala.com üzerinden yapmış olduğunuz işlemlere ait istatistiksel veriler tarafımızdan analiz
        edilmekte ve bilgi güvenliği çerçevesinde saklanmaktadır.
    </p>
    <br>
    <p>
        Esyala.com internet sitesi üzerindeki formlardan, yazışmalardan ve sözlü olarak topladığı bilgileri, söz konusu
        üyenin haberi ya da aksi bir talimatı olmaksızın, Esyala.com ile sizin aranızdaki sözleşmenin ve sözleşme
        sonrası tamamlayıcı hizmetlerin (ürünün kargolanması, garanti süreçleri, ürün bakım ve onarımı, memnuniyet
        anketleri ve arşiv faaliyetleri, ile diğer müşteri talepleri ve benzeri) veya meşru menfaatlerinin korunması
        dışındaki bir amaç ile üçüncü şahıslarla kesinlikle paylaşmamakta olup Esyala.com ile aranızdaki ilişki hariç
        hiçbir ticari amaçla kullanmamakta ve de satmamaktadır. Bu verilerin toplanma ve saklanma amacı, üyenin müşteri
        hizmetlerinden faydalanabilmesi, çapraz ve tamamlayıcı satışların yapılabilmesi ve olası kampanyalarımızın
        iletişimini sadece ilgili kategorideki ziyaretçilerimize sunabilme ihtiyacıdır.
    </p>
    <br>

    <p>
        Esyala.com aynı zamanda Google, Facebook, Instagram ve diğer birçok sosyal mecrada reklam veren kimliğine ve
        pazarlama aktivitelerine sahiptir.

        Bu aktiviteler kapsamında sitemizde bulunan bu sosyal mecraların takip ve yeniden pazarlama özellikleri
        aracılığıyla en çok ilgi duyduğunuz kategorideki etkinliklerimizin ve yeni etkinliklerimizin reklamlarını bu
        mecralarda görebilirsiniz.
        Bu aktiviteler için herhangi bir veriniz depolanmamakta olup, sadece bu mecralar tarafından analiz edilerek
        tarafınıza gösterilmektedir. Google Analytics’in Yeniden Pazarlama & Demografi ve İlgi Alanı Raporlaması
        özelliklerini kullanmaktayız. Reklam ayarlarınızı kullanarak Görüntülü Reklamcılık için Google Analytics’in
        kapsamı dışında kalabilir ve Google Görüntülü Reklam Ağı reklamlarınızı özelleştirebilirsiniz.
        Google Analytics ile sağlanan demografik bilgiler, Esyala.com tarafından verilen reklamları, kullanıcılarımızın
        ilgi alanlarına göre özelleştirmek için kullanılmaktadır.
        Bu veriler ayrıca diğer sosyal medya mecralarında da tarafınızın ilgili olduğu reklamlarımızı
        görüntüleyebilmeniz ve son haberlerimizden bilgi sahibi olabilmeniz için kullanmaktayız.
        Bu bilgiler, hedef kitle çalışmalarında reklam yayıncıları ile paylaşılabilir.
    </p>
    <br> 
    <p>
        Google dahil üçüncü taraf sağlayıcılar, reklamlarımızı internet üzerindeki yayıncı sitelerde yer verdikleri
        banner alanlarında gösterecektir.

        Esyala.com form doldurarak veya profilinizi tamamlayarak girmiş olduğunuz her türlü kişisel veri (“Veri”)
        bakımından, şirketimiz veri sorumlusu ve veri işleyen sıfatıyla, kişisel bilgileri; kanunda açıklandığı
        çerçevede ve aşağıda açıklanan şart ve sınırlara bağlı kalarak; depolayabilecek, muhafaza edebilecek,
        hizmetlerini devam ettirebilmek amacıyla güncelleyebilecek, değiştirebilecek, yeniden düzenleyebilecek,
        mevzuatın izin verdiği durumlarda ve ölçüde üçüncü kişilerle ortak işleyebilecektir.

        Bu bilgiler finansal özel verilerinizi kapsamaz. Esyala.com kişisel verilerinizi burada belirtilen işleme
        amaçları dışında kullanmayacak, açık rızanız ya da ilgili mevzuatta öngörülen sebepler olmaksızın üçüncü
        kişilere aktarmayacak ve/veya ifşa etmeyecektir.
    </p>
    <br>
    <p>
        Resmi makamlarca talep edilmesi halinde ve yürürlükteki emredici mevzuat hükümleri gereğince açıklama yapmak
        zorunda olunduğu durumlarda müşteri bilgileri resmi makamlara açıklanabilir.

        Ödeme sayfasında istenen kredi kartı bilgileriniz, siteden alışveriş yapan siz değerli müşterilerimizin
        güvenliğini en üst seviyede tutmak amacıyla hiçbir şekilde sunucularda veya veri tabanlarımızda tutulmamaktadır.

        Ödemeye yönelik tüm işlemler iyzico https://www.iyzico.com/ altyapısı üzerinden banka ve bilgisayarınız ya da
        telefonunuz arasında gerçekleşmesi sağlanmaktadır. Herhangi bir ödeme bilginiz Esyala.com ekibi tarafından
        görüntülenememektedir.

        Esyala.com’dan gönderilen maillerin alt kısmında bulunan “Kampanya duyurularından haberdar olmak istemiyorum.”
        butonuna eğer e-posta listemizden çıkmak istiyorsanız tıklayabilirsiniz.

        Şirketimiz, temin ettiği kişisel verileri, tabii olduğu mevzuat hükümleri kapsamında öngörülen bir süre olması
        durumunda ilgili sürelere riayet ederek; eğer böyle bir süre öngörülmemişse işlendikleri amaç için gerekli olan
        azami süreyi takip eden 5 yıl süreyle saklanacaktır. Esyala.com ile olan kira sözleşmenizin sona ermesinden
        sonra veya başkaca meşru bir neden olmadıkça üyeliğinizi sonlandırmanız durumunda, kişisel verilerinizde
        tarafımızdan silinecektir.
    </p>
    <br>
    <p>
        Kişilerin ırkı, etnik kökeni, siyasi düşüncesi, felsefi inancı, dini, mezhebi veya diğer inançları, kılık ve
        kıyafeti, dernek, vakıf ya da sendika üyeliği, sağlığı, cinsel hayatı, ceza mahkûmiyeti ve güvenlik
        tedbirleriyle ilgili verileri ile biyometrik ve genetik verileri özel nitelikli kişisel veridir. Kural olarak
        Esyala.com kullanıcılarının özel nitelikli kişisel verilerini işlemez.

        Ancak kullanıcı doğrulama sırasında kullanıcıların eski kimlik görüntülerini ibraz etmeleri halinde, kullanıcı
        doğrulaması amacıyla kimlikte bulunan kan grubu ve din bilgisi özel nitelikte kişisel veri olarak kullanıcının
        açık rızasına dayanarak işlenecektir.

        Esyala.com aşağıda belirtilen hallerle sınırlı olmak üzere KVK 5.maddesi uyarınca açık rıza almaksızın kişisel
        verileri işleyebilme hakkı mevcuttur.
        • Kanunlarda açıkça öngörülmesi durumunda.
        • Sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla taraflarına ait kişisel verilerin
        işlenmesinin gerekli olması durumunda.
        • Veri Sorumlusu olarak hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olduğu hallerde.
        • İlgili kişi tarafından kişisel verinin alenileştirilmiş olması halinde.
        • Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması hallerinde İlgili kişinin
        temel hak ve özgürlüklerine zarar vermemek kaydıyla menfaatleri için veri işlenmesinin zorunlu olması
        hallerinde.
    </p>
    <br>
    <p>
        Ayrıca, Esyala.com tabii olduğu mevzuattan kaynaklanan kanuni yükümlülüklerini yerine getirmesi için ve/veya
        yasal zorunluluklar nedeniyle bilgi talep edebilecek kişi/kurumlara yapılacak açıklama, kullanım ve aktarımlar
        için açık rıza alınmasına gerek olmamaktadır.

        Kişisel verilerinizin rızanız dahilinde işlenmesi halinde, rızanızı her zaman, Esyala.com’ya ulaşarak geri
        alabilirsiniz.

        Bu konu hakkında Kanun’un “ilgili kişinin haklarını düzenleyen” 11’inci maddesi kapsamındaki taleplerinizi, Veri
        Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğe göre Esyala.com’ya aşağıdaki iletişim bilgilerinden yazılı
        olarak iletebilirsiniz.
    </p>
    <br>
    <p>
        Ticaret Ünvanı: Yakup ULUSOY - Esyala
    </p>
    <p>
        İletişim Adresi: Veysel Karani, Çolakoğlu Sokağı No: 10, Kat: 5, Daire: 87 - 34885 Sancaktepe/İstanbul
    </p>
    <p>
        İletişim Telefonu: 0530 582 04 55
    </p>
    <p>
        İletişim Web Adresi: esyala.com – <a href="mailto:info@esyala.com">info@esyala.com</a>
    </p>
    
    
</div>