<div style="overflow-y: scroll,">
    <h1>Ödeme ve Teslimat Bilgileri</h1>
    <h2>Ödeme</h2>
    <p>
        Her türlü kredi kartınıza çevrimiçi ödeme yapabilirsiniz. Çevrimiçi ödemelerinizde siparişiniz sonunda kredi
        kartınızdan seçtiğiniz ürün veya ürünler için belirlenen aylık tutar çekim işlemi gerçekleşecektir. Söz konusu
        sistem herhangi bir sorun nedeni ile işlemi gerçekleştirilemiyorsa ödeme sayfası sonucunda ziyaretçimiz bu
        durumdan haberdar edilmektedir.
    </p>
    <hr>
    <h2>Kimlik Teyidi ve Sipariş Onayı</h2>

    <p>
        Siparişinizin onaylanması için önce ödeme işleminizin tamamlanması gerekmektedir. İlk aylık kira bedelini
        kartınızdan çekimi gerçekleştiğinde ödeme işleminiz tamamlanır ve siparişiniz onaya düşer.

        Yaptığınız işlem, esyala.com’dan verdiğiniz ilk sipariş ise kimlik teyidi aşamasını tamamlamanız gerekir.
        Kimlik teyidi için talep edilen bilgiler gönderildikten sonra, ekibimiz kimlik teyidi işlemlerine başlar ve
        sipariş onayı değerlendirmesine başlar.
        Sipariş onayı verilebilmesi için:

    <ul>
        <li>Kimlik teyidi yapılabilmesi</li>
        <li>Kiralama süresinden en az 1 ay fazla son kullanım tarihi bulunan kredi kartınızla satın almayı tamamlamış
            olmanız;</li>
        <li>Findeks Raporu puan durumunuz olumlu bulunan puan sınırlarımız dahilinde olması; ve sipariş verilen ürün /
            ürünlerin tedarik edilebilir olması;</li>
    </ul>
    <p>
        Siparişin esyala.com tarafından onaylanmasından sonra mesafeli kira sözleşmesi kurulur.
    </p>

    </p>
    <hr>
    <h2>Kimlik Teyidi ve Sipariş Onay Süresi</h2>
    <p>
        Siparişinizi tamamlamanız akabinde tarafınıza gönderilen e-postada, kimlik teyidi ve onay sürecinde ihtiyaç
        duyduğumuz belgeleri içerir.
        Bu belgeleri ne kadar hızlı sürede paylaşırsanız, kimlik teyit ve sipariş onay süreci o kadar hızlı tamamlanır.
        Talep edilen belge ve görüntülerin anlaşılabilir, okunaklı ve net olması gerekir. Normal şartlarda, talep edilen
        belgeler tarafımıza ulaştıktan sonra kimlik teyidi ve sipariş onayı 48 saat içerisinde tamamlanmaktadır.

        Kimlik teyidi için talep edilen belgelerin 48 saat içerisinde gönderilmemesi veya esyala.com tarafından
        siparişin onaylanmaması halinde siparişler iptal edilir.

    </p>
    <hr>
    <h2>Sipariş İptali ve Bedel İadesi</h2>
    <p>
        Siparişin iptal edilmesi halinde esyala.com tarafından herhangi bir işlem ücreti alınmaz.
        İlgili tutarlar, azami yedi (7) iş günü içerisinde ödeme aracına uygun bir şekilde iade edilir.
        İadeye konu tutarın, bankaya iadesi işleminin ardından sizin hesabınıza yansıması banka işlem süreçleri ile
        ilgilidir.

    </p>
    <hr>
    <h2>Onay işlemi sonrasında teslimat ne kadar sürmektedir?</h2>
    <p>

        Onaylanan siparişler derhal işleme alınır ve kiraladığınız ürün / ürünler 7-10 iş günü içerisinde tarafınıza
        ulaştırılmak üzere kargo/kurye firmasına teslim edilir. Kiralamış olduğunuz cihazın stoklarımızda bulunmaması
        ve/veya tarafınız için tedarik edilmesinin uzayabileceği durumlarda müşteri hizmetlerimiz hızlıca tarafınıza
        ulaşarak güncel teslimat tarihi ile ilgili bilgi verecektir.

        Cihazınızın boyutlarına göre kargo süresi değişebilmekte olup; siparişiniz kargo firmasına teslim edildikten
        sonra kargonuzun güncel durumuna ilişkin bilgiler, SMS/e-posta yoluyla tarafınıza bildirilecektir.

    </p>
    <hr>
    <h2>Teslim Noktası</h2>
    <p>
        Esyala .com tüm Türkiye’ye gönderim yapmaktadır.

        Kiraladığınız ürün veya ürünleriniz, bulunduğunuz bölgeye göre anlaşmalı kurye firmalarımız tarafından
        belirttiğiniz adrese teslim edilecek veya belirttiğiniz adrese en yakın anlaşmalı kargo firmamızın şubesinde
        teslim edilecektir.

    </p>
    <hr>
    <h2>
        Siparişin Şahsen Teslim Alınması
    </h2>
    <p>Kiralanan ürün veya ürünlerin değeri nedeniyle bunların kiralayan tarafından şahsen teslim alınması gerekir.
        Teslimat esnasında kargo/kurye personeli tarafından kimlik kontrolü yapması zorunludur. Kimlik ibraz edilmemesi
        durumunda teslimat yapılmaz.

        Kimlik olarak geçerli evraklar nüfus cüzdanı, ehliyet veya pasaport belgelerinden biridir.
        Diğer kimlikler kurye veya kargo firması tarafından teslim sırasında kabul edilmeyebilir.
    </p>
    <hr>
    <h2>
        Hasarlı Ürün Teslimi
    </h2>
    <p>Sevkiyat sırasında zarar gördüğünü düşündüğünüz paketleri, teslim aldığınız firma yetkilisi önünde açıp kontrol
        ediniz.

        Eğer üründe herhangi bir zarar olduğunu düşünüyorsanız tutanak tutturularak ürünü teslim almayınız.

        Ürün teslim alındıktan sonra kargo firmasının görevini tam olarak yerine getirdiği kabul edilmektedir.

        Ürün hasarlı ise: Hazırlamış olduğunuz hasarlı ürün teslim tutanağının görüntüsünü en kısa zamanda
        info@esyala.com e-posta adresine gönderiniz.
    </p>
</div>