<div style="overflow-y: scroll,">
    <h3>Cayma, Fesih ve İade Koşulları</h3>

    <p>
        Bu metin, ticari veya mesleki olmayan amaçlarla hareket eden gerçek kişiler için hazırlanmış olup bu içerisinde
        ürün kiralayan kişiler “Kullanıcı” olarak anılacaktır. Bu metinin amacı, Kullanıcıları cayma hakkı, fesih, kira
        süresinin sona ermesi ile ürün / ürünlerin iadesi süreçleri ile ilgili bilgilendirmektir.


        Esyala.com internet sitesi üzerinden elektronik ortamda sipariş verdiğiniz takdirde, size sunulan Ön
        Bilgilendirme Formu’nu ve Mesafeli Kira Sözleşme’ni (“Sözleşme”) kabul etmiş sayılırsınız. Cayma, Fesih ve İade
        Koşulları metni, Bilgilendirme Formu ve Sözleşme’nin yerine geçmez.

    </p>
    <hr>
    <h2>Cayma</h2>
    <p>
        Kullanıcı, cayma hakkı bulunan hallerde, ürün / ürünlerin teslim alındığı gün başlayacak şekilde on dört (14)
        gün içinde herhangi bir gerekçe göstermeksizin ve cezai şart ödemeksizin sözleşmeden cayma hakkına sahiptir.
        Cayma hakkı süresinin belirlenmesinde,
    </p>
    <ul>
        <li>Tek sipariş konusu olup ayrı ayrı teslim edilen mallarda, Kullanıcı veya Kullanıcı tarafından belirlenen
            üçüncü kişinin son malı teslim aldığı gün,</li>
        <li>Birden fazla parçadan oluşan mallarda, Kullanıcı veya Kullanıcı tarafından belirlenen üçüncü kişinin son
            parçayı teslim aldığı gün,</li>
        <li>Belirli bir süre boyunca malın düzenli tesliminin yapıldığı sözleşmelerde, tüketicinin veya tüketici
            tarafından belirlenen üçüncü kişinin ilk malı teslim aldığı gün esas alınır.</li>
        <li>Kullanıcı aşağıdaki sözleşmelerde cayma hakkını kullanamaz:
            <ul>
                <li>Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının
                    kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmeler.</li>
                <li>Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin sözleşmeler.
                </li>
                <li>Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin sözleşmeler.</li>
                <li>Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan, iadesi
                    sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin sözleşmeler.</li>
                <li>Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara
                    ilişkin sözleşmeler.</li>
                <li>Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde
                    maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf malzemelerine ilişkin sözleşmeler.
                </li>
                <li>Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınların teslimine
                    ilişkin sözleşmeler.</li>
                <li>Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama,
                    yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine
                    ilişkin sözleşmeler.</li>
                <li>Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi
                    mallara ilişkin sözleşmeler.</li>
                <li>Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin
                    sözleşmeler.</li>
            </ul>
        </li>
    </ul>

    <p>
        Cayma hakkı, Kullanıcı’nın tek taraflı bildirimi ile gerçekleşir. Cayma hakkının belirtilen süre içerisinde
        Esyala.com’ya yöneltilmiş olması gerekir. Cayma hakkı bildirimi, (bu linkte bulunan) cayma formu doldurulup
        imzalandıktan sonra info@esyala.com

        adresine e-posta atılarak yapılır.

        Kullanıcı’nın, cayma süresi içerisinde ürün / ürünlerde meydana gelen değişiklik, hasar ve bozulmalar dâhil tüm
        zararlardan sorumludur.

        Kullanıcı’nın, ürün / ürünleri teslim aldıktan sonra cayma iradesini ortaya koyması durumunda, Kullanıcıya ürün
        / ürünlerin teslim tarihi ile Esyala.com’ya iade tarihi arasında geçen süre, Sözleşme’de belirlenen aylık kira
        tutarı doğrultusunda ücretlendirilir.

    </p>
    <hr>
    <h2>Sözleşme’nin Esyala.com Tarafından Feshedilmesi</h2>

    <p>
        Esyala.com, Sözleşmeyi:
    </p>
    <ul>
        <li>Kullanıcı tarafından ürün / ürünlerin belirlene kargo şubesi tarafından süresinde teslim alınmaması,</li>
        <li>Kullanıcı’nın, Üyelik Sözleşmesi veya Sözleşme hükümlerine aykırı davranışları,</li>
        <li>Ürün / ürünlerin kullanım amacına uygun, titiz bir şekilde, işleyişine, teknik özelliklerine ve kullanım
            talimatlarına uygun bir olarak kullanılmaması,</li>
        <li>Ürün / ürünlere kasıtlı olarak zarar vermesi,</li>
        <li>Ürün / ürünlerin Kullanıcı’nın şüpheli konumda olduğu bir soruşturma veya sanık olduğu bir kovuşturma
            kapsamında suç işlenmesi için ve bir suçun gerçekleştirilmesi için kullanıldığına yönelik iddia olması,</li>
        <li>Vadesi gelen aylık kira bedelinin, vadeyi takip eden on (10) gün içerisinde tahsil edilememesi,</li>
        <li>Kullanıcı tarafından Esyala.com ürün / ürünlerin tedarik edilememesi,</li>
        <li>nedeniyle derhal.</li>
    </ul>
    <hr>
    <h2>Ürün / Ürünlerin İadesi</h2>
    <p>
        Kullanıcı:
    </p>
    <ul>
        <li>Sözleşme’inden caydığını bildirdiği,</li>
        <li>Sözleşme’nin süresinin sona erdiğ,,</li>
        <li>Sözleşme’nin Kullanıcı veya Esyala.com tarafından feshedildiği, veya</li>
        <li>Sözleşme’nin başka bir nedenle sona ermesi.</li>
    </ul>
    <p>
        durumlarında Kullanıcı, ürün / ürünlerin kutusu, ambalajı, varsa aksesuarları ile birlikte eksiksiz ve hasarsız
        olarak teslim etmek ile yükümlüdür.

        Eksik gönderilen kutu, ambalaj ve aksesuarlar, iade tarihindeki perakende piyasa fiyatları üzerinden
        ücretlendirilecek ve Kullanıcı’dan tahsil edilecektir.

        Kullanıcı, kiraladığı ürün / ürünlerin aynısını teslim etmek zorundadır. Kiralanan ürün / ürünlerin Uluslararası
        Mobil Cihaz Kimliği (IMEI) numarası ve seri numaraları ile ürün / ürünlerin tespitine yarayan diğer işaret ve
        kayıt numaraları kontrol edilecektir. IMEI veya seri numaraları kasten silinmiş ürünlerin iadesi kabul
        edilmeyecek olup bunlar Sözleşme’de yer alan zayi koşullarına göre işleme alınacaktır.

    </p>
    <hr>
    <h2>İade Öncesi İşlemler</h2>
    <p>Ürün / ürünler iade edilmeden önce şifrelemeler kaldırılmalı ve fabrika ayarlarına geri getirilmelidir.

        Ürün / ürünler hafızasında yer alan bilgi, belge, resim, dosya ve türevleri dahil türlü veri Kullanıcı
        tarafından iade edilmeden önce silinmelidir. Esyala.com ürün / ürünlerde yer alan verilerin muhafazasından
        sorumlu değildir.
    </p>
    <hr>
    <h2>Ürün İade Süresi</h2>
    <p>
        Kullanıcı:
    </p>

    <ul>
        <li>cayma hakkını kullandığına ilişkin bildirimi yönelttiği;</li>
        <li>Sözleşme’nin Kullanıcı veya Esyala.com tarafından feshedildiği, veya</li>
        <li>Sözleşme’nin başka bir nedenle sona ermesi.</li>
    </ul>
    <p>durumlarında Esyala.com tarafından iadeye ilişkin yazılı bilgilendirme tarihinden itibaren iki (2) gün içerisinde
        cayma, fesih veya sona ermeye konu ürün / ürünleri Esyala.com geri göndermek zorundadır. Bilgilendirmeler,
        e-posta üzerinden yapılacaktır.

        Kullanıcı, Sözleşme’nin süresi bitmeden iki (2) gün önce ürün / ürünleri Esyala.com geri göndermek zorundadır.

        Kullanıcı’nın, ürün / ürünleri teslim aldıktan sonra cayma iradesini ortaya koyması durumunda, Kullanıcıya ürün
        / ürünlerin teslim tarihi ile Esyala.com iade tarihi arasında geçen süre, Sözleşme’de belirlenen aylık kira
        tutarı doğrultusunda ücretlendirilir.
    </p>
    <hr>
    <h2>İade Yöntemi</h2>
    <p>
        Ürün / ürünler, Esyala.com tarafından belirtilen kargo şirketi vasıtasıyla Esyala.com tarafından verilen posta
        adresine karşı ödemeli olarak gönderilecektir.
    </p>
    <hr>
    <h2>
        Hasarlar
    </h2>
    <p>
        Sözleşme hükümlerine uygun olağan kullanım dışında meydana gelen hasarlar ve eksilmeler Sözleşme’nde yer alan
        tamirat hükümlerine göre işleme alınacaktır.
        Yenilikler ve indirimler için bültenimize abone ol.
        Abone Ol
    </p>
</div>