{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Google Tag Manager -->
    <script async>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MV485Q4F');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <meta name="author" content="esyala.com">
    <meta name="robots" content="index,follow">
    <meta name="publisher" content="Esyala.com">
    {% block meta %}{% endblock %}

    <!-- Ana stil dosyası için preload -->
    <link rel="preload" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/main.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/main.css"></noscript>

    <!-- Diğer stil dosyaları -->
    <link rel="preload" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/bootstrap2.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/bootstrap2.css"></noscript>

    <link rel="preload" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/animate2.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/animate2.css"></noscript>

    <link rel="preload" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/icon-fonts2.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/icon-fonts2.css"></noscript>

    <link rel="preload" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/responsive.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/responsive.css"></noscript>

    <link rel="preload" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/custom2.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/custom2.css"></noscript>

    <link rel="preload" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/bcf16bd37f5afe2e2.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/css/bcf16bd37f5afe2e2.css"></noscript>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var canonicalLink = document.createElement('link');
            canonicalLink.rel = 'canonical';
            canonicalLink.href = window.location.href;
            document.head.appendChild(canonicalLink);
        });
    </script>

    <link rel="stylesheet" type="text/css" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <meta name="google-site-verification" content="rcp9ERDoEacGWrQI7ImCG3C9LdDj3wAO8Hn90zo3KsY" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J5ZNBS7353"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-J5ZNBS7353');
    </script>

    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js" ></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js" ></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-messaging.js" ></script>

    <script src="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/js/firebase-messaging.js" ></script>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MV485Q4F"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include 'message.html' %}
    {% block content %}{% endblock content %}

    <!-- JavaScript dosyaları -->
    <link rel="preload" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/js/jquery.main.js" as="script">
    <script type="text/javascript" src="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/js/jquery.main.js" defer></script>

    <link rel="preload" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/js/jquery.js" as="script">
    <script type="text/javascript" src="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/js/jquery.js" defer></script>

    <link rel="preload" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/js/function.js" as="script">
    <script type="text/javascript" src="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/js/function.js" defer></script>

    <link rel="preload" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/js/plugins.js" as="script">
    <script type="text/javascript" src="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/js/plugins.js" defer></script>

    <link rel="preload" href="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/js/main2.js" as="script">
    <script type="text/javascript" src="https://filestorages.fra1.cdn.digitaloceanspaces.com/esyabul/static/js/main2.js" defer></script>

</body>
</html>
