
.kiUOVR {
    position: relative;
}
.kiUOVR .inputWrapper .icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.kiUOVR .shadow {
    height: 48px;
    position: absolute;
    width: calc(100% - 10px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    box-shadow: 0 6px 30px 0 var(--dark-opacity-10);
}

.kiUOVR .inputWrapper {
    position: relative;
    z-index: 5;
    border-radius: 8px;
}
.kiUOVR .inputWrapper input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    background: white;
    border-radius: 8px;
    border: 1px solid var(--dark-opacity-10);
    padding: 8px 24px;
    color: var(--dark);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    outline: none;
}

.kiUOVR .inputWrapper .icon svg path, .kiUOVR .inputWrapper .icon svg circle {
    stroke: var(--primary);
}

.kiUOVR .inputWrapper .icon svg path, .kiUOVR .inputWrapper .icon svg circle {
    stroke: var(--primary);
}


.xqfpj + li {
    margin-top: 1rem;
}
.dCbnuA {
    display: block;
    padding: 0px;
    margin: 0px;
}

.xqfpj {
    padding: 0px;
    margin: 0px;
    display: block;
}

.edqiAa {
    padding: 0px 1.5rem;
    margin: 0px;
    height: 67px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 0.5rem;
    background-color: var(--dark-opacity-3);
    cursor: pointer;
    color: var(--dark);
    border: 0px;
    width: 100%;
    font-family: inherit;
    position: relative;
    outline: none;
}

.fwKUEs {
    padding: 0px 1.5rem;
    margin: 0px;
    height: 67px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: var(--primary);
    border: 0px;
    width: 100%;
    font-family: inherit;
    position: relative;
    outline: none;
}

.hUbRXH {
    padding: 2rem;
    border-radius: 8px;
    background: transparent;
    border: 1px solid var(--dark-opacity-10);
}

.bhQoUp {
    color: var(--primary);
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 0px;
}


.kABxmt {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.eeQyqX {
    margin-right: 0.5rem;
}

.bhQoUp svg {
    display: block;
}

.bhQoUp svg path, .bhQoUp svg rect {
    stroke: var(--primary);
}

.bhQoUp svg path, .bhQoUp svg rect {
    stroke: var(--primary);
}

.fwKUEs::before {
    content: "";
    position: absolute;
    inset: 0px;
    user-select: none;
    pointer-events: none;
    border-radius: inherit;
    border: 2px solid var(--primary);
}

.jvWqXo {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(163, 165, 173, 0.25);
    overflow: auto;
    left: 0px;
    top: 0px;
    z-index: 999999;
}

.fYDPaj {
    background: white;
    border-radius: 8px;
    box-sizing: border-box;
    max-height: 800px;
    min-height: 300px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: calc(100vw - 2rem);
    width: 682px;
}

.fYDPaj div.header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid var(--dark-opacity-10);
    box-sizing: border-box;
}


.fYDPaj div.header div.icon {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    transition: all 0.2s ease 0s;
}

.fYDPaj div.content {
    padding: 24px;
    overflow: auto;
    position: relative;
}

.fYDPaj div.buttons {
    padding: 24px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    box-sizing: border-box;
    border-top: 1px solid var(--dark-opacity-10);
    flex-direction: row-reverse;
    gap: 0px;
}

.hSCzLe {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    padding: 0px 24px;
    font-family: var(--font-family-sans-serif);
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background-color: var(--primary);
    color: white;
    border: none;
    height: 56px;
}


.fYDPaj div.buttons button + button {
    margin-right: 24px;
}

.cIIrOK {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    padding: 0px 24px;
    font-family: var(--font-family-sans-serif);
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background-color: transparent;
    color: var(--primary);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: var(--primary);
    height: 56px;
}

.fYMixk {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    cursor: pointer;
}

.fYMixk input[type="radio"] {
    height: 0px;
    width: 0px;
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.fYMixk input[type="radio"]:checked ~ .indicator {
    background-image: url(data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%0D%0A%3Csvg%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20name%3D%22RadioButtonElementChecked%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%239763F6%22%3E%3C%2Fcircle%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%224%22%20fill%3D%22white%22%3E%3C%2Fcircle%3E%3C%2Fsvg%3E);
}

.fYMixk div.indicator {
    background-image: url(data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%0D%0A%3Csvg%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20name%3D%22RadioButtonElementUnchecked%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8%2016C12.4183%2016%2016%2012.4183%2016%208C16%203.58172%2012.4183%200%208%200C3.58172%200%200%203.58172%200%208C0%2012.4183%203.58172%2016%208%2016ZM8%2014C11.3137%2014%2014%2011.3137%2014%208C14%204.68629%2011.3137%202%208%202C4.68629%202%202%204.68629%202%208C2%2011.3137%204.68629%2014%208%2014Z%22%20fill%3D%22%23C2C3CE%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
    background-size: 100% 100%;
    display: block;
    position: relative;
    margin: 0px 8px 0px 0px;
    width: 16px;
    height: 16px;
}
.fYMixk div.labelsWrapper {
    position: relative;
    display: grid;
    row-gap: 8px;
    cursor: pointer;
    margin: 0px;
    color: rgb(0, 0, 0);
}

.fYMixk div.labelsWrapper label.label {
    display: block;
}

.hSCzLe .children {
    margin-right: 10px;
}

.bfDmgA {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.hSCzLe svg path[stroke-width], .hSCzLe svg rect[stroke-width] {
    stroke-width: 3px;
}

.hSCzLe svg path, .hSCzLe svg rect {
    stroke: white;
}



/* Genel radioGroup stil */
.radioGroup {
    margin-bottom: 15px;
}

/* Fatura tipi başlığı stil */
.radioGroupTitle {
    font-weight: 600; /* veya title-semi-bold-16-19 stilini kullanabilirsiniz */
    font-size: 16px; /* veya title-semi-bold-16-19 stilini kullanabilirsiniz */
    margin-bottom: 5px;
    display: block;
}

/* radioButtons container */
.radioButtons {
    display: flex;
    flex-direction: row; /* Yan yana sıralama */
}

/* Her bir radio button container */
.radioButtons div {
    margin-right: 10px; /* Opsiyonel, radio button'lar arasına boşluk bırakır */
    display: inline-block; /* Yan yana sıralama */
}

/* Radio button input stil */
.radioButtons input[type="radio"] {
    margin-right: 5px; /* Opsiyonel, etiket ile arasına boşluk bırakır */
}

/* Radio button etiket stil */
.radioButtons label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.gqpMJG {
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    background: var(--dark-opacity-3);
    border-radius: 8px;
    border: 1px solid var(--dark-opacity-10);
    padding: 19.5px 24px;
    color: var(--dark);
    font-family: var(--font-family-sans-serif);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    user-select: initial;
    pointer-events: initial;
}
.hcabXJ .input {
    position: relative;
}

.hcabXJ {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dWXVxB {
    color: var(--primary);
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 0px;
}

@media only screen and (max-width: 576px){
    .fYDPaj {
        display: grid;
        height: 100dvh;
        align-content: space-between;
        border-radius: 0px;
        width: 100%;
        max-width: 100%;
        max-height: initial;
    }
}


.iaPLbC {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    padding: 0px 24px;
    font-family: var(--font-family-sans-serif);
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background-color: transparent;
    color: var(--primary);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: var(--primary);
    height: 48px;
}

.iaPLbC .children {
    margin-right: 0px;
}

.dhSLWf {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    padding: 0px 24px;
    font-family: var(--font-family-sans-serif);
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background-color: var(--primary);
    color: white;
    border: none;
    height: 48px;
}

.dhSLWf .children {
    margin-right: 0px;
}

.bhQoUp {
    color: var(--primary);
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 0px;
}

.kABxmt {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.bvQtLI {
    padding: 2rem;
    border-radius: 8px;
    background: transparent;
    border: 1px solid var(--dark-opacity-10);
}


.hIpJTj {
    padding: 0px 1.5rem;
    margin: 0px;
    height: 67px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: var(--primary);
    border: 0px;
    width: 100%;
    font-family: inherit;
    position: relative;
    outline: none;
}

.hIpJTj::before {
    content: "";
    position: absolute;
    inset: 0px;
    user-select: none;
    pointer-events: none;
    border-radius: inherit;
    border: 2px solid var(--primary);
}

.hcabXJ .top {
    display: flex;
    margin-bottom: 16px;
}

.hcabXJ .top p {
    margin: 0px;
    color: var(--dark-opacity-50);
}

.fyDxag:disabled:not(.loading) {
    background-color: var(--dark-opacity-5);
    color: var(--dark-opacity-25);
}

.fyDxag:disabled {
    cursor: not-allowed;
}

.fyDxag {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    padding: 0px;
    font-family: var(--font-family-sans-serif);
    cursor: pointer;
    transition: all 0.2s ease 0s;
    width: 188px;
    background-color: var(--primary);
    color: white;
    border: none;
    height: 56px;
}

.fyDxag .children {
    margin-right: 0px;
}

.iwneyt {
    position: absolute;
    right: 8px;
    top: -20px;
    height: 28px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgb(234, 233, 240) 0px 6px 30px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 1rem;
    user-select: none;
    pointer-events: none;
    transition: opacity 0.4s ease 0s;
    opacity: 0;
}

.hcabXJ .input .inputIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.hcabXJ .input .inputIcon path {
    stroke: var(--dark-opacity-50);
}
.hcabXJ .input .inputIcon path {
    stroke: var(--dark-opacity-50);
}

.customForm .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.5rem;
}

.bvQtLI {
    padding: 2rem;
    border-radius: 8px;
    background: transparent;
    border: 1px solid var(--dark-opacity-10);
}

.fzJmuv {
    flex: 1 1 0%;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: auto 1fr;
}

.fzJmuv input[type="checkbox"] {
    height: 0px;
    width: 0px;
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.fzJmuv div.labelsWrapper {
    position: relative;
    display: grid;
    row-gap: 8px;
    cursor: pointer;
    margin: 0px;
    color: rgb(0, 0, 0);
}

.fzJmuv div.labelsWrapper label.label {
    display: block;
    margin: 0px;
}

.ezewJf {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    padding: 0px 24px;
    font-family: var(--font-family-sans-serif);
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background-color: var(--primary);
    color: white;
    border: none;
    height: 56px;
}

.iwaTuT {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin: 12.5px auto;
    max-width: 1050px;
}

.cSWPAL {
    display: block;
    position: relative;
    margin: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.jFARBW {
    text-decoration: none;
    padding: 12px 16px;
    color: var(--dark-opacity-75);
    margin: 0px;
    transition: all 0.2s ease-in-out 0s;
    text-align: center;
    display: block;
    position: relative;
    border: 0px;
    background: transparent;
    outline: 0px;
    width: 100%;
    font-family: inherit;
    cursor: pointer;
    box-sizing: border-box;
}

.iiZYPB {
    height: 24px;
    display: block;
}


.jFARBW::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    color: var(--dark-opacity-75);
    background-color: white;
    border-radius: 8px;
    z-index: -1;
    transition: all 0.2s ease-in-out 0s;
}

.cSWPAL:not(:last-child) path, .cSWPAL:not(:last-child) circle {
    stroke: var(--dark-opacity-75);
}
.kGnodn {
    margin-top: 8px;
    display: block;
}


.hUMHBc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin: 12.5px auto;
    max-width: 1050px;
}

.hUOPpR {
    display: block;
    position: relative;
    margin: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.hUMHBc a {
    text-decoration: none;
}

.fjiCBF::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    color: var(--dark-opacity-75);
    background-color: white;
    border-radius: 8px;
    z-index: -1;
    transition: all 0.2s ease-in-out 0s;
}

.gEMhdk {
    height: 24px;
    display: block;
}



.eHjACQ {
    margin-top: 8px;
    display: block;
}

.gObxsy > a > span {
    color: var(--dark);
}


    
.hUOPpR:not(:last-child):not(:nth-last-child(2)) path, .hUOPpR:not(:last-child):not(:nth-last-child(2)) circle {
    stroke: var(--dark-opacity-75);
}

.hhosGh {
    display: block;
}
.dKrhyP {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.bGrkxs {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bGrkxs > a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
}

.ksbpfb {
    position: relative;
    margin: 0px;
    display: block;
    color: var(--dark-opacity-50);
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media only screen and (max-width: 1050px){
    .bGrkxs:not(:nth-child(2)) {
        display: none;
    }
}



/* .dIcBim sınıfını stilize et */
.dIcBim {
    display: none;
    margin-left: 0px;
    margin-right: 16px;
}

/* Eğer ekran genişliği 1050 piksel veya daha azsa */
@media only screen and (max-width: 1050px) {
    /* .dIcBim sınıfına sahip elementi görünür yap */
    .dIcBim {
        display: block;
    }
}

/* .dIcBim sınıfına ait svg elementini stilize et */
.dIcBim svg {
    display: block;
}


@media only screen and (max-width: 1050px) {
    /* .hSLwkI sınıfına sahip elementi gizle */
    .hSLwkI {
        display: none;
    }
}

/* .hSLwkI sınıfını stilize et */
.hSLwkI {
    margin-left: 16px;
    margin-right: 16px;
}

/* .hSLwkI sınıfına ait svg elementini stilize et */
.hSLwkI svg {
    display: block;
}
.hhosGh a {
    text-decoration: none;
    color: inherit;
}
:not(svg) {
    transform-origin: 0px 0px;
}

.left {
    display: block;
}

@media only screen and (max-width: 1050px) {
    /* .dIcBim sınıfına sahip elementi görünür yap */
    .left {
        display: none;
    }
}

.historyBack {
    display: none;
}

@media only screen and (max-width: 1050px) {
    /* .dIcBim sınıfına sahip elementi görünür yap */
    .historyBack {
        display: block;
    }
}

.RZBnd {
    color: var(--primary);
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 0px;
}

.inMzQv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hyoizp {
    margin-right: 0.5rem;
}


.RZBnd svg {
    display: block;
}

.fjMAPz {
    box-shadow: rgb(234, 233, 240) 0px 6px 30px 0px;
    border-radius: 0.5rem;
    min-width: 240px;
    padding: 1rem;
    transition: all 0.2s ease 0s;
    position: relative;
    box-sizing: border-box;
}

.fjMAPz a {
    text-decoration: none;
    color: inherit;
}

.fjMAPz .img {
    border-radius: 0.5rem;
    border: 1px solid var(--dark-opacity-5);
    background: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    height: 150px;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
}


.fjMAPz .img > * {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fjMAPz .productCardContent {
    padding: 1rem 0px 0.5rem;
}