{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div id="__next">
    <div class="site-container">

        {% include 'core/header.html' %}
        <main class="site-main">
            <div class="site-main__container">
                <div class="container">
                    <h1 class="pageTitle headline-bold-24-29">Hesabım</h1>
                    <div class="profileLayout">
                        <div class="left">
                            <div class="accountList">
                                <ul class="sc-ecPEgm dCbnuA">
                                    <li class="sc-gdyeKB xqfpj"><button
                                            class="sc-kzqdkY edqiAa title-bold-16-19">Kiraladıklarım</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button class="sc-kzqdkY edqiAa title-bold-16-19">Satın
                                            Aldıklarım</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getAddress()" class="sc-kzqdkY hIpJTj title-bold-16-19">Adres
                                            Bilgilerim</button></li>
                                            <li class="sc-gdyeKB xqfpj"><button onclick="getProfile()" class="sc-kzqdkY edqiAa title-bold-16-19">Kişisel
                                                Bilgiler</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getNotify()" class="sc-kzqdkY edqiAa title-bold-16-19">Bildirim
                                            Ayarları</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getPasswordProcess()" class="sc-kzqdkY edqiAa title-bold-16-19">Şifre
                                            İşlemleri</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button class="sc-kzqdkY edqiAa title-bold-16-19">Çıkış
                                            Yap</button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="right">
                            <!-- <div class="historyBack body-bold-14-17" id="historyBack">
                                <a class="sc-iHGNWf dWXVxB">
                                    <div class="sc-kOHTFB kABxmt">
                                        <div class="sc-dtBdUo eeQyqX">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                name="ArrowSmallLeft">
                                                <path d="M14 16L10 12L14 8" stroke="#0A103D" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round">
                            
                                                </path>
                                            </svg>
                                        </div>Hesabıma dön
                                    </div>
                                </a>
                            </div> -->
                            <div id="addressPage" class="sc-bVHCgj bvQtLI">
                                <div class="contentTitle heading">
                                    <strong class="d-block headline-bold-20-24">Adres bilgilerim</strong>
                                    <div class="insertAddress body-bold-14-17">
                                        <a class="sc-iHGNWf bhQoUp d-block" href="{% url 'customerauth:create-address' %}">
                                            <div class="sc-kOHTFB kABxmt">
                                                <div class="sc-dtBdUo eeQyqX">
                                                    <svg width="24px" height="24px" viewBox="0 0 16 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg" name="PlusSmall">
                                                        <g id="arrow/+">
                                                            <g id="i-add">
                                                                <path id="Path" d="M10.666 8.00104L5.33268 8.00104"
                                                                    stroke="#0A103D" stroke-width="2" stroke-linecap="round"
                                                                    stroke-linejoin="round"></path>
                                                                <path id="Path_2" d="M7.99896 10.6673L7.99896 5.33398"
                                                                    stroke="#0A103D" stroke-width="2" stroke-linecap="round"
                                                                    stroke-linejoin="round"></path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                                Yeni adres ekle
                                            </div>
                                        </a>
                                    </div>
                                </div>
        
                                <div class="addressList">
                                    {% for address in addresses %}
                                        <div class="addressBox">
                                            <div class="header">
                                                <strong class="title body-semi-bold-14-17">{{ address.address_name }}</strong>
                                                <div class="body-bold-14-17">
                                                    <a href="{% url 'customerauth:delete-address' address.id %}"
                                                        class="sc-iHGNWf bhQoUp d-block edit-address">
                                                        <div class="sc-kOHTFB kABxmt">Sil</div>
                                                    </a>
                                                    
                                                </div>
                                                <div class="body-bold-14-17">
                                                    <a href="{% url 'customerauth:edit-address' address.id %}"
                                                        class="sc-iHGNWf bhQoUp d-block edit-address">
                                                        <div class="sc-kOHTFB kABxmt">Düzenle</div>
                                                    </a>
                                                    
                                                </div>
                                                
                                            </div>
                                            <div class="body">
                                                <p class="description body-regular-14-17">{{ address.address_line1 }}</p>
                                                <p class="description body-regular-14-17">{{ address.city.name }} /
                                                    {{ address.region.name }} / {{ address.country.name }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
        {% include 'core/footer.html' %}
    </div>
</div>




{% endblock %}
