{% extends 'partialsBase/base.html' %}
{% block title %} {{title}} - EşyaBul {% endblock %}
{% load static %}
{% block content %}


<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
        </div>
    </div>
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}
        <main id="mt-main">  
            <section class="mt-contact-banner mt-banner-22" style="background-image: url({% static 'basestatic/images/img-76.jpg' %}); background-size: cover; background-position: center;">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 class="text-center">Hesabım</h1>
                      <!-- Breadcrumbs of the Page -->
                      <nav class="breadcrumbs">
                        <ul class="list-unstyled">
                          <li><a href="{% url 'main:home' %}">Anasayfa <i class="fa fa-angle-right"></i></a></li>
                          <li><a href="{% url 'customerauth:dashboard' %}">Hesabım <i class="fa fa-angle-right"></i></a></li>
                          <li>Adreslerim</li>
                        </ul>
                      </nav>
                      <!-- Breadcrumbs of the Page end -->
                    </div>
                  </div>
                </div>
              </section>

        </main>
        
        <main class="site-main">
            <div class="site-main__container">
                <div class="container">
                    <h1 class="pageTitle headline-bold-24-29">Adreslerim</h1>
                    <div class="profileLayout">
                        <div class="left">
                            <div class="accountList">
                                <ul class="sc-ecPEgm dCbnuA">
                                    <li class="sc-gdyeKB xqfpj"><button
                                            class="sc-kzqdkY edqiAa title-bold-16-19">Kiraladıklarım</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button class="sc-kzqdkY edqiAa title-bold-16-19">Satın
                                            Aldıklarım</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getAddress()" class="sc-kzqdkY hIpJTj title-bold-16-19">Adres
                                            Bilgilerim</button></li>
                                            <li class="sc-gdyeKB xqfpj"><button onclick="getProfile()" class="sc-kzqdkY edqiAa title-bold-16-19">Kişisel
                                                Bilgiler</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getNotify()" class="sc-kzqdkY edqiAa title-bold-16-19">Bildirim
                                            Ayarları</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getPasswordProcess()" class="sc-kzqdkY edqiAa title-bold-16-19">Şifre
                                            İşlemleri</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="logOut()" class="sc-kzqdkY edqiAa title-bold-16-19">Çıkış
                                            Yap</button></li>
                                </ul>
                            </div>
                        </div>

                        <div class="right">
                            
                            <div id="addressPage" class="sc-bVHCgj bvQtLI">
                                <div class="contentTitle heading">
                                    <strong class="d-block headline-bold-20-24">Adres bilgilerim</strong>
                                    <div class="insertAddress body-bold-14-17">
                                        <a class="sc-iHGNWf bhQoUp d-block" href="{% url 'customerauth:create-address' %}">
                                            <div class="sc-kOHTFB kABxmt">
                                                <div class="sc-dtBdUo eeQyqX">
                                                    <svg width="24px" height="24px" viewBox="0 0 16 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg" name="PlusSmall">
                                                        <g id="arrow/+">
                                                            <g id="i-add">
                                                                <path id="Path" d="M10.666 8.00104L5.33268 8.00104"
                                                                    stroke="#0A103D" stroke-width="2" stroke-linecap="round"
                                                                    stroke-linejoin="round"></path>
                                                                <path id="Path_2" d="M7.99896 10.6673L7.99896 5.33398"
                                                                    stroke="#0A103D" stroke-width="2" stroke-linecap="round"
                                                                    stroke-linejoin="round"></path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                                Yeni adres ekle
                                            </div>
                                        </a>
                                    </div>
                                </div>
        
                                <div class="addressList">
                                    {% for address in addresses %}
                                        <div class="addressBox">
                                            <div class="header">
                                                <strong class="title body-semi-bold-14-17">{{ address.address_name }}</strong>
                                                <div class="body-bold-14-17">
                                                    <a href="{% url 'customerauth:delete-address' address.id %}"
                                                        class="sc-iHGNWf bhQoUp d-block edit-address">
                                                        <div class="sc-kOHTFB kABxmt">Sil</div>
                                                    </a>
                                                    
                                                </div>
                                                <div class="body-bold-14-17">
                                                    <a href="{% url 'customerauth:edit-address' address.id %}"
                                                        class="sc-iHGNWf bhQoUp d-block edit-address">
                                                        <div class="sc-kOHTFB kABxmt">Düzenle</div>
                                                    </a>
                                                    
                                                </div>
                                                
                                            </div>
                                            <div class="body">
                                                <p class="description body-regular-14-17">{{ address.address_line1 }}</p>
                                                <p class="description body-regular-14-17">{{ address.city.name }} /
                                                    {{ address.region.name }} / {{ address.country.name }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
                <div class="shoppingCartBackdrop hidden"></div>
            </div>
        </main>
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>



{% endblock %}



