{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div id="__next">
    <div class="site-container">

        {% include 'core/header.html' %}
        <main class="site-main">
            <div class="site-main__container">
                <div class="container">
                    <h1 class="pageTitle headline-bold-24-29">Hesabım</h1>
                    <div class="profileLayout">
                        <div class="left">
                            <div class="accountList">
                                <ul class="sc-ecPEgm dCbnuA">
                                    <li class="sc-gdyeKB xqfpj"><button
                                            class="sc-kzqdkY edqiAa title-bold-16-19">Kiraladıklarım</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button class="sc-kzqdkY edqiAa title-bold-16-19">Satın
                                            Aldıklarım</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getAddress()" class="sc-kzqdkY hIpJTj title-bold-16-19">Adres
                                            Bilgilerim</button></li>
                                            <li class="sc-gdyeKB xqfpj"><button onclick="getProfile()" class="sc-kzqdkY edqiAa title-bold-16-19">Kişisel
                                                Bilgiler</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getNotify()" class="sc-kzqdkY edqiAa title-bold-16-19">Bildirim
                                            Ayarları</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getPasswordProcess()" class="sc-kzqdkY edqiAa title-bold-16-19">Şifre
                                            İşlemleri</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button class="sc-kzqdkY edqiAa title-bold-16-19">Çıkış
                                            Yap</button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="right">
                            <!-- <div class="historyBack body-bold-14-17" id="historyBack">
                                <a class="sc-iHGNWf dWXVxB">
                                    <div class="sc-kOHTFB kABxmt">
                                        <div class="sc-dtBdUo eeQyqX">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                name="ArrowSmallLeft">
                                                <path d="M14 16L10 12L14 8" stroke="#0A103D" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round">
                            
                                                </path>
                                            </svg>
                                        </div>Hesabıma dön
                                    </div>
                                </a>
                            </div> -->
                            <div id="addressPage" class="sc-bVHCgj bvQtLI">
                                <div class="contentTitle heading">
                                    <strong class="d-block headline-bold-20-24">Adres bilgilerim</strong>
                                    <div class="insertAddress body-bold-14-17">
                                        <a class="sc-iHGNWf bhQoUp d-block" onclick="toggleAddressForm()">
                                            <div class="sc-kOHTFB kABxmt">
                                                <div class="sc-dtBdUo eeQyqX">
                                                    <svg width="24px" height="24px" viewBox="0 0 16 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg" name="PlusSmall">
                                                        <g id="arrow/+">
                                                            <g id="i-add">
                                                                <path id="Path" d="M10.666 8.00104L5.33268 8.00104"
                                                                    stroke="#0A103D" stroke-width="2" stroke-linecap="round"
                                                                    stroke-linejoin="round"></path>
                                                                <path id="Path_2" d="M7.99896 10.6673L7.99896 5.33398"
                                                                    stroke="#0A103D" stroke-width="2" stroke-linecap="round"
                                                                    stroke-linejoin="round"></path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                                Yeni adres ekle
                                            </div>
                                        </a>
                                    </div>
                                </div>
        
                                <div class="addressList">
                                    {% for address in addresses %}
                                        <div class="addressBox">
                                            <div class="header">
                                                <strong class="title body-semi-bold-14-17">{{ address.address_name }}</strong>
                                                <div class="body-bold-14-17">
                                                    <a data-address-id="{{address.id}}"
                                                        class="sc-iHGNWf bhQoUp d-block edit-address"
                                                        onclick="">
                                                        <div class="sc-kOHTFB kABxmt">Düzenle</div>
                                                    </a>
                                                    
                                                </div>
                                            </div>
                                            <div class="body">
                                                <p class="description body-regular-14-17">{{ address.address_line1 }}</p>
                                                <p class="description body-regular-14-17">{{ address.city.name }} /
                                                    {{ address.region.name }} / {{ address.country.name }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
        {% include 'core/footer.html' %}
    </div>
</div>

<div class="sc-kOPcWz jvWqXo" style="display: none;" id="addressModal">
    <!-- Adres Ekleme Formu -->
    <div title="Adres bilgilerim" id="addressModal" class="sc-dtInlm fYDPaj">
        <div class="header">
            <div class="title">
                <h5 class="headline-semi-bold-18-22">Adres bilgilerim</h5>
            </div>
            <div onclick="closeAddressForm1()" class="icon">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" name="Close">
                    <path d="M21.3327 10.666L10.666 21.3327" stroke="#0A103D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M21.3327 21.3327L10.666 10.666" stroke="#0A103D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
        </div>
        <div class="content">
            <div class="contentInner">
                <form id="CreateForm" class="edit-address-form" method="POST" >
                    {% csrf_token %}
                    <div class="input-container">
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Ad</p>
                            </div>
                            <div class="input"><input type="text" name="firstName" width="100%" label="Ad" placeholder="Adını gir"
                                    class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Soyad</p>
                            </div>
                            <div class="input"><input type="text" name="lastName" width="100%" label="Soyad" placeholder="Soyadını gir"
                                    class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Telefon numarası</p>
                            </div>
                            <div class="input"><input inputmode="numeric" name="phone" width="100%" autocomplete="tel"
                                    label="Telefon numarası" placeholder="0 (5__) ___ ____" type="text" class="sc-bmzYkS gqpMJG"
                                    value="0 (5__) ___ ____">
                            </div>
                        </div>
                    </div>
                    <div class="input-container">
                        <div width="100%" class="sc-dBmzty gYaowX">
                            <div class="top caption-bold-12-15">
                                <p>Şehir</p>
                            </div>
                            <div class="select">
                                <div class="customSelect isSearchable css-b62m3t-container"><span
                                        id="react-select-citySelect-live-region" class="css-7pg0cj-a11yText"></span><span
                                        aria-live="polite" aria-atomic="false" aria-relevant="additions text" role="log"
                                        class="css-7pg0cj-a11yText"></span>
                                    <div class="customSelect__control css-13cymwt-control">
                                        <div class="customSelect__value-container css-hlgwow">
                                            <div class="customSelect__placeholder css-1jqq78o-placeholder"
                                                id="react-select-citySelect-placeholder">Şehir gir</div>
                                            <div class="customSelect__input-container css-19bb58m" data-value=""><input
                                                    class="customSelect__input" autocapitalize="none" autocomplete="off"
                                                    autocorrect="off" id="react-select-citySelect-input" spellcheck="false" tabindex="0"
                                                    type="text" aria-autocomplete="list" aria-expanded="false" aria-haspopup="true"
                                                    role="combobox" value="" aria-describedby="react-select-citySelect-placeholder"
                                                    style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                            </div>
                                        </div>
                                        <div class="customSelect__indicators css-1wy0on6"><span
                                                class="customSelect__indicator-separator css-1u9des2-indicatorSeparator"></span>
                                            <div class="customSelect__indicator customSelect__dropdown-indicator css-1xc3v61-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                                                    focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div><input name="cityId" type="hidden" value="">
                                </div>
                            </div>
                        </div>
                        <div width="100%" class="sc-dBmzty gYaowX">
                            <div class="top caption-bold-12-15">
                                <p>İlçe</p>
                            </div>
                            <div class="select">
                                <div class="customSelect isSearchable css-b62m3t-container"><span
                                        id="react-select-countySelect-live-region" class="css-7pg0cj-a11yText"></span><span
                                        aria-live="polite" aria-atomic="false" aria-relevant="additions text" role="log"
                                        class="css-7pg0cj-a11yText"></span>
                                    <div class="customSelect__control css-13cymwt-control">
                                        <div class="customSelect__value-container css-hlgwow">
                                            <div class="customSelect__placeholder css-1jqq78o-placeholder"
                                                id="react-select-countySelect-placeholder">İlçe gir</div>
                                            <div class="customSelect__input-container css-19bb58m" data-value=""><input
                                                    class="customSelect__input" autocapitalize="none" autocomplete="off"
                                                    autocorrect="off" id="react-select-countySelect-input" spellcheck="false"
                                                    tabindex="0" type="text" aria-autocomplete="list" aria-expanded="false"
                                                    aria-haspopup="true" role="combobox" value=""
                                                    aria-describedby="react-select-countySelect-placeholder"
                                                    style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                            </div>
                                        </div>
                                        <div class="customSelect__indicators css-1wy0on6"><span
                                                class="customSelect__indicator-separator css-1u9des2-indicatorSeparator"></span>
                                            <div class="customSelect__indicator customSelect__dropdown-indicator css-1xc3v61-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                                                    focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div><input name="countyId" type="hidden" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Adres</p>
                            </div>
                            <div class="input"><input type="text" name="streetAddress" width="100%" label="Adres"
                                    placeholder="Adres gir" class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Adres başlığı</p>
                            </div>
                            <div class="input"><input type="text" name="title" width="100%" label="Adres başlığı"
                                    placeholder="Adres başlığı gir" class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                    </div>
                    <div class="radioGroup"><label class="radioGroupTitle title-semi-bold-16-19">Fatura tipi</label>
                        <div class="radioButtons"><label for="type_1" class="sc-uVWWZ fYMixk"><input id="type_1" type="radio"
                                    name="type" value="1" checked="">
                                <div class="indicator"></div>
                                <div class="labelsWrapper"><label class="label body-medium-14-17" for="type_1">Bireysel</label></div>
                            </label><label for="type_2" class="sc-uVWWZ fYMixk"><input id="type_2" type="radio" name="type" value="2">
                                <div class="indicator"></div>
                                <div class="labelsWrapper"><label class="label body-medium-14-17" for="type_2">Kurumsal</label></div>
                            </label></div>
                    </div>
                    <div class="firmName d-none">
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Firma adı</p>
                            </div>
                            <div class="input"><input type="text" name="corporateName" width="100%" label="Firma adı"
                                    placeholder="Firma adı gir" class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                    </div>
                    <div class="input-container firm-container d-none">
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Vergi numarası</p>
                            </div>
                            <div class="input"><input type="text" name="taxNumber" width="100%" label="Vergi numarası"
                                    placeholder="Vergi numarası gir" class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Vergi dairesi</p>
                            </div>
                            <div class="input"><input type="text" name="taxOffice" width="100%" label="Vergi dairesi"
                                    placeholder="Vergi dairesi gir" class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="buttons">
                <button class="sc-aXZVg hSCzLe body-bold-14-17" id="createAddressBtn">
                    <div class="children">Adresimi Kaydet</div>
                    <div class="sc-gEvEer bfDmgA"><svg width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" name="ArrowMediumRight">
                            <path d="M8.5 5L15.5 12L8.5 19" stroke="#0A103D" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg></div>
                </button>
            <button class="sc-aXZVg cIIrOK body-bold-14-17">
                <div class="children">Vazgeç</div>
            </button>
        </div>
    </div>
</div>

<div class="sc-kOPcWz jvWqXo" style="display: none;" id="addressEditModal">
    <div title="Adres Düzenleme Formu" class="sc-dtInlm fYDPaj">
        <div class="header">
            <div class="title">
                <h5 class="headline-semi-bold-18-22">Adres Düzenleme Formu</h5>
            </div>
            <div onclick="closeAddressForm()" class="icon">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
                    name="Close">
                    <path d="M21.3327 10.666L10.666 21.3327" stroke="#0A103D" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path d="M21.3327 21.3327L10.666 10.666" stroke="#0A103D" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </div>
        </div>
        <div class="content">
            <div class="contentInner">
                <form id="EditAddressForm" class="edit-address-form" method="POST" data-address-id="{{address.id}}">
                    {% csrf_token %}
                    <div class="input-container">
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Ad</p>
                            </div>
                            <div class="input"><input type="text" name="firstName" width="100%" label="Ad" placeholder="Adını gir"
                                    class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Soyad</p>
                            </div>
                            <div class="input"><input type="text" name="lastName" width="100%" label="Soyad" placeholder="Soyadını gir"
                                    class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Telefon numarası</p>
                            </div>
                            <div class="input"><input inputmode="numeric" name="phone" width="100%" autocomplete="tel"
                                    label="Telefon numarası" placeholder="0 (5__) ___ ____" type="text" class="sc-bmzYkS gqpMJG"
                                    value="0 (5__) ___ ____">
                            </div>
                        </div>
                    </div>
                    <div class="input-container">
                        <div width="100%" class="sc-dBmzty gYaowX">
                            <div class="top caption-bold-12-15">
                                <p>Şehir</p>
                            </div>
                            <div class="select">
                                <div class="customSelect isSearchable css-b62m3t-container"><span
                                        id="react-select-citySelect-live-region" class="css-7pg0cj-a11yText"></span><span
                                        aria-live="polite" aria-atomic="false" aria-relevant="additions text" role="log"
                                        class="css-7pg0cj-a11yText"></span>
                                    <div class="customSelect__control css-13cymwt-control">
                                        <div class="customSelect__value-container css-hlgwow">
                                            <div class="customSelect__placeholder css-1jqq78o-placeholder"
                                                id="react-select-citySelect-placeholder">Şehir gir</div>
                                            <div class="customSelect__input-container css-19bb58m" data-value=""><input
                                                    class="customSelect__input" autocapitalize="none" autocomplete="off"
                                                    autocorrect="off" id="react-select-citySelect-input" spellcheck="false" tabindex="0"
                                                    type="text" aria-autocomplete="list" aria-expanded="false" aria-haspopup="true"
                                                    role="combobox" value="" aria-describedby="react-select-citySelect-placeholder"
                                                    style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                            </div>
                                        </div>
                                        <div class="customSelect__indicators css-1wy0on6"><span
                                                class="customSelect__indicator-separator css-1u9des2-indicatorSeparator"></span>
                                            <div class="customSelect__indicator customSelect__dropdown-indicator css-1xc3v61-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                                                    focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div><input name="cityId" type="hidden" value="">
                                </div>
                            </div>
                        </div>
                        <div width="100%" class="sc-dBmzty gYaowX">
                            <div class="top caption-bold-12-15">
                                <p>İlçe</p>
                            </div>
                            <div class="select">
                                <div class="customSelect isSearchable css-b62m3t-container"><span
                                        id="react-select-countySelect-live-region" class="css-7pg0cj-a11yText"></span><span
                                        aria-live="polite" aria-atomic="false" aria-relevant="additions text" role="log"
                                        class="css-7pg0cj-a11yText"></span>
                                    <div class="customSelect__control css-13cymwt-control">
                                        <div class="customSelect__value-container css-hlgwow">
                                            <div class="customSelect__placeholder css-1jqq78o-placeholder"
                                                id="react-select-countySelect-placeholder">İlçe gir</div>
                                            <div class="customSelect__input-container css-19bb58m" data-value=""><input
                                                    class="customSelect__input" autocapitalize="none" autocomplete="off"
                                                    autocorrect="off" id="react-select-countySelect-input" spellcheck="false"
                                                    tabindex="0" type="text" aria-autocomplete="list" aria-expanded="false"
                                                    aria-haspopup="true" role="combobox" value=""
                                                    aria-describedby="react-select-countySelect-placeholder"
                                                    style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                            </div>
                                        </div>
                                        <div class="customSelect__indicators css-1wy0on6"><span
                                                class="customSelect__indicator-separator css-1u9des2-indicatorSeparator"></span>
                                            <div class="customSelect__indicator customSelect__dropdown-indicator css-1xc3v61-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                                                    focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div><input name="countyId" type="hidden" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Adres</p>
                            </div>
                            <div class="input"><input type="text" name="streetAddress" width="100%" label="Adres"
                                    placeholder="Adres gir" class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Adres başlığı</p>
                            </div>
                            <div class="input"><input type="text" name="title" width="100%" label="Adres başlığı"
                                    placeholder="Adres başlığı gir" class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                    </div>
                    <div class="radioGroup"><label class="radioGroupTitle title-semi-bold-16-19">Fatura tipi</label>
                        <div class="radioButtons"><label for="type_1" class="sc-uVWWZ fYMixk"><input id="type_1" type="radio"
                                                name="type" value="1" checked="">
                                        <div class="indicator"></div>
                                        <div class="labelsWrapper"><label class="label body-medium-14-17" for="type_1">Bireysel</label>
                                        </div>
                                </label><label for="type_2" class="sc-uVWWZ fYMixk"><input id="type_2" type="radio" name="type"
                                                value="2">
                                        <div class="indicator"></div>
                                        <div class="labelsWrapper"><label class="label body-medium-14-17" for="type_2">Kurumsal</label>
                                        </div>
                                </label></div>
                </div>
                    <div class="firmName d-none">
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Firma adı</p>
                            </div>
                            <div class="input"><input type="text" name="corporateName" width="100%" label="Firma adı"
                                    placeholder="Firma adı gir" class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                    </div>
                    <div class="input-container firm-container d-none">
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Vergi numarası</p>
                            </div>
                            <div class="input"><input type="text" name="taxNumber" width="100%" label="Vergi numarası"
                                    placeholder="Vergi numarası gir" class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                        <div width="100%" class="sc-koXPp hcabXJ">
                            <div class="top caption-bold-12-15">
                                <p>Vergi dairesi</p>
                            </div>
                            <div class="input"><input type="text" name="taxOffice" width="100%" label="Vergi dairesi"
                                    placeholder="Vergi dairesi gir" class="sc-bmzYkS gqpMJG" value="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="buttons">
            <button class="sc-aXZVg hSCzLe body-bold-14-17 update-address" data-address-id="{{address.id}}">
                <div class="children">Adresimi Kaydet</div>
                <div class="sc-gEvEer bfDmgA"><svg width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg" name="ArrowMediumRight">
                        <path d="M8.5 5L15.5 12L8.5 19" stroke="#0A103D" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg></div>
            </button>
        <button class="sc-aXZVg cIIrOK body-bold-14-17 delete-address" data-address-id="{{address.id}}">
            <div class="children">Adresimi Sil</div>
        </button></div>
    </div>
</div>



{% endblock %}
