{% extends 'partialsBase/base.html' %}
{% block title %} {{ title }} - Eşyala {% endblock %}
{% load static %}
{% block content %}


<div id="wrapper">
    <!-- Page Loader -->
    <!-- <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'images/svg/rings.svg' %}" alt="loader">
        </div>
    </div> -->
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}
        <main id="mt-main">  
            <section class="mt-contact-banner mt-banner-22" style="background-image: url({% static 'images/img-76.jpg' %}); background-size: cover; background-position: center;">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 class="text-center">Hesabım</h1>
                      <!-- Breadcrumbs of the Page -->
                      <nav class="breadcrumbs">
                        <ul class="list-unstyled">
                          <li><a href="{% url 'main:home' %}">Anasayfa <i class="fa fa-angle-right"></i></a></li>
                          <li><a href="{% url 'customerauth:dashboard' %}">Hesabım <i class="fa fa-angle-right"></i></a></li>
                          <li>Siparişlerim</li>
                        </ul>
                      </nav>
                      <!-- Breadcrumbs of the Page end -->
                    </div>
                  </div>
                </div>
              </section>

        </main>
        
        <main class="site-main">
            <div class="site-main__container">
                <div class="container">
                    <h1 class="pageTitle headline-bold-24-29">Adreslerim</h1>
                    <div class="profileLayout">
                        <div class="left">
                            <div class="accountList">
                                <ul class="sc-ecPEgm dCbnuA">
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getOrders()" class="sc-kzqdkY hIpJTj title-bold-16-19">Siparişlerim</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getAddress()" class="sc-kzqdkY edqiAa title-bold-16-19">Adres
                                            Bilgilerim</button></li>
                                            <li class="sc-gdyeKB xqfpj"><button onclick="getProfile()" class="sc-kzqdkY edqiAa title-bold-16-19">Kişisel
                                                Bilgiler</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getNotify()" class="sc-kzqdkY edqiAa title-bold-16-19">Bildirim
                                            Ayarları</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getPasswordProcess()" class="sc-kzqdkY edqiAa title-bold-16-19">Şifre
                                            İşlemleri</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="logOut()" class="sc-kzqdkY edqiAa title-bold-16-19">Çıkış
                                            Yap</button></li>
                                </ul>
                            </div>
                        </div>

                        <div class="right">
                            
                            <div id="addressPage" class="sc-bVHCgj bvQtLI">   
                                
                                <div class="contentTitle heading">
                                    <strong class="d-block headline-bold-20-24">Siparişlerim</strong>
                               
                                </div>
                                <div class="addressList">
                                    {% for order in order_lists %}
                                        <div class="addressBox">
                                            <div class="header">
                                                <strong class="title body-semi-bold-14-17">Sipariş Numarası: {{ order.order_number }}</strong>
                                                <div class="body-bold-14-17">
                                                    <a href=""
                                                        class="sc-iHGNWf bhQoUp d-block edit-address">
                                                        <div class="sc-kOHTFB kABxmt">
                                                            
                                                            <a class="sc-iHGNWf bhQoUp d-block" href="{% url 'customerauth:orders-detail' order.order_number %}">Detay</a>
                                                            </div>
                                                    </a> 
                                                </div>
                                            </div>
                                            <div class="body">
                                          
                                                <p class="description body-regular-14-17"><strong>Toplam Tutar: </strong> {{ order.total_amount }} <i class="fa fa-try"></i></p>
                                                <p class="description body-regular-14-17"><strong>Sipariş Tarihi: </strong>{{ order.created_at }}</p>
                                                {% if order.status == 'Pending' %}
                                                    <p class="description body-regular-14-17"> <strong>Sipariş Durumu: </strong>Beklemede</p>
                                                {% elif order.status == 'Completed' %}
                                                    <p class="description body-regular-14-17"><strong>Sipariş Durumu: </strong>Tamamlandı</p>
                                                {% elif order.status == 'Cancelled' %}
                                                    <p class="description body-regular-14-17"><strong>Sipariş Durumu: </strong>İptal Edildi</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
                <div class="shoppingCartBackdrop hidden"></div>
            </div>
        </main>
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>



{% endblock %}



