{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<div id="__next"><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BR43KH" height="0"
    width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="site-container">

        {% include 'core/header.html' %}
        <main class="site-main">
            <div class="site-main__container">
                <div class="container">
                    <h1 class="pageTitle headline-bold-24-29">Hesabım</h1>
                    <div class="profileLayout">
                        <div class="left">
                            <div class="accountList">
                                <ul class="sc-ecPEgm dCbnuA">
                                    <li class="sc-gdyeKB xqfpj"><button
                                            class="sc-kzqdkY edqiAa title-bold-16-19">Kiraladıklarım</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button class="sc-kzqdkY edqiAa title-bold-16-19">Satın
                                            Aldıklarım</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getAddress()" class="sc-kzqdkY edqiAa title-bold-16-19">Adres
                                            Bilgilerim</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button class="sc-kzqdkY edqiAa title-bold-16-19">Kişisel
                                            Bilgiler</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button class="sc-kzqdkY edqiAa title-bold-16-19">Bildirim
                                            Ayarları</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button class="sc-kzqdkY edqiAa title-bold-16-19">Şifre
                                            İşlemleri</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button class="sc-kzqdkY edqiAa title-bold-16-19">Çıkış
                                            Yap</button></li>
                                </ul>
                            </div>
                        </div>
                  
                    </div>
                </div>
                <div class="shoppingCartBackdrop hidden"></div>
            </div>
        </main>
        {% include 'core/footer.html' %}

    </div>
</div>  

<script>
    function getAddress() {
        const previousPageUrl = "{% url 'customerauth:address-list' %}";
        
        window.location.href = previousPageUrl;
    }
</script>

{% endblock content %}
