{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<div id="__next">
    <div class="site-container">

        {% include 'core/header.html' %}
        <main class="site-main">
            <div class="site-main__container">
                <div class="container">
                    <h1 class="pageTitle headline-bold-24-29">Hesabım</h1>
                    <div class="profileLayout">
                        <div class="left">
                            <div class="accountList">
                                <ul class="sc-ecPEgm dCbnuA">
                                    <li class="sc-gdyeKB xqfpj"><button
                                            class="sc-kzqdkY edqiAa title-bold-16-19">Kiraladıklarım</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button class="sc-kzqdkY edqiAa title-bold-16-19">Satın
                                            Aldıklarım</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getAddress()" class="sc-kzqdkY edqiAa title-bold-16-19">Adres
                                            Bilgilerim</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getProfile()" class="sc-kzqdkY hIpJTj title-bold-16-19">Kişisel
                                            Bilgiler</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getNotify()" class="sc-kzqdkY edqiAa title-bold-16-19">Bildirim
                                            Ayarları</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button onclick="getPasswordProcess()" class="sc-kzqdkY edqiAa title-bold-16-19">Şifre
                                            İşlemleri</button></li>
                                    <li class="sc-gdyeKB xqfpj"><button class="sc-kzqdkY edqiAa title-bold-16-19">Çıkış
                                            Yap</button></li>
                                </ul>
                            </div>
                        </div>

                        <div class="right">
                            <div id="profileInfo" class="sc-bVHCgj bvQtLI">
                                    <div class="contentTitle"><strong class="d-block headline-bold-20-24">Kişisel bilgiler</strong></div>
                                    <div id="identity">
                                        <form id="IdentityForm" class="customForm" method="POST">
                                            {% csrf_token %}
                                            <div class="input-container">
                                                <div width="100%" class="sc-koXPp hcabXJ">
                                                    <div class="top caption-bold-12-15">
                                                        <p>Kullanıcı Adı</p>
                                                    </div>
                                                    {{ form.username }}
                                                </div>
                                            </div>
                                            
                                            <div class="input-container">
                                                <div width="100%" class="sc-koXPp hcabXJ">
                                                    <div class="top caption-bold-12-15">
                                                        <p>Ad</p>
                                                    </div>
                                                    {{ form.first_name }}
                                                </div>
                                            </div>
                                        
                                            <div class="input-container">
                                                <div width="100%" class="sc-koXPp hcabXJ">
                                                    <div class="top caption-bold-12-15">
                                                        <p>Soyad</p>
                                                    </div>
                                                    {{ form.last_name }}
                                                </div>
                                            </div>
                                        
                                            <div class="input-container">
                                                <div width="100%" class="sc-koXPp hcabXJ">
                                                    <div class="top caption-bold-12-15">
                                                        <p>Telefon</p>
                                                    </div>
                                                    {{ form.phone }}
                                                </div>
                                            </div>
                                            
                                            <div class="buttonContainer">
                                                <button class="sc-aXZVg ezewJf body-bold-14-17">
                                                    <div class="children">Değişiklikleri Kaydet</div>
                                                </button>
                                            </div>
                                        </form>
                                        
                                    </div>
                            </div>
                            
                    </div>
                  
                    </div>
                </div>
                <div class="shoppingCartBackdrop hidden"></div>
            </div>
        </main>
        {% include 'core/footer.html' %}

    </div>
</div>  



{% endblock %}
