{% extends 'partialsBase/base.html' %}
{% load static %}
{% block title %} Giriş Yap - Eşyala {% endblock title %}

{% block content %}
<style>
  .bold-text {
      font-weight: bold;
  }
</style>

  <!-- main container of all the page elements -->
  <div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
      <div class="loader">
        <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
      </div>
    </div>
    <div class="w1">
      <!-- mt header style4 start here -->
      {% include 'coreBase/header.html' %}
      <!-- mt header style4 end here -->
      <!-- mt search popup start here -->
      <div class="mt-search-popup">
        <div class="mt-holder">
          <a href="#" class="search-close"><span></span><span></span></a>
          <div class="mt-frame">
            <form action="#">
              <fieldset>
                <input type="text" placeholder="Search...">
                <span class="icon-microphone"></span>
                <button class="icon-magnifier" type="submit"></button>
              </fieldset>
            </form>
          </div>
        </div>
      </div><!-- mt search popup end here -->
      <!-- Main of the Page -->
      <main id="mt-main">
        <!-- Mt Content Banner of the Page -->
        <section class="mt-contact-banner" style="background-image: url({% static 'basestatic/images/img43.jpg' %}); background-size: cover; background-position: center;">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h1>Giriş</h1>
                <nav class="breadcrumbs">
                  <ul class="list-unstyled">
                    <li><a href="{% url 'main:home' %}">Anasayfa <i class="fa fa-angle-right"></i></a></li>
                    <li>Giriş</li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt Content Banner of the Page end -->
        <!-- Mt About Section of the Page -->
        <section class="mt-about-sec" style="padding-bottom: 0;">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="txt wow fadeInUp" data-wow-delay="0.4s">
                  <h2>Giriş</h2>
                  <p>Morbi in erat malesuada, sollicitudin massa at, tristique nisl. Maecenas id eros scelerisque, vulputate tortor quis, efficitur arcu sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Umco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit sse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat <strong>Vestibulum sit amet metus euismod, condimentum lectus id, ultrices sem.</strong></p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt About Section of the Page -->
        <!-- Mt Detail Section of the Page -->
        <section class="mt-detail-sec toppadding-zero">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-push-2">
                <div class="holder" style="margin: 0;">
                    <div class="mt-side-widget">
                      <header>
                        <h2 style="margin: 0 0 5px;">Giriş Yap</h2>
                        <p>Tekrar hoşgeldiniz! Hesabınıza giriş yapın</p>
                        <p>Hesabınız yok mu? <a href="{% url 'customerauth:sign-up' %}"class="bold-text" >Kaydolun</a></p>
                    </header>
                      <form method="POST">
                        {% csrf_token %}
                        <fieldset>
                          <input type="text" class="input" required name="email_or_username" placeholder="Kullanıcı Adınız veya Mail Adresiniz" style="width: 100%;" />
                          <input class="input" required type="password" name="password" placeholder="Şifreniz *" style="width: 100%;" />
                          <div class="box">
                            <span class="left"><input class="checkbox" name="checkbox" id="exampleCheckbox1" type="checkbox" id="exampleCheckbox1"><label for="exampleCheckbox1">Beni Hatırla</label></span>
                            <a href="{% url 'customerauth:forgot_password' %}" class="help">Şifremi Unuttum!</a>
                          </div>
                          <button type="submit" name="login" class="btn-type1">Giriş Yap</button>
                        </fieldset>
                      </form>
                      <header>
                        <h2 style="margin-top: 10px;">Sosyal Medya ile Giriş Yap</h2>
                        <p>Sosyal medya kullanarak giriş yap</p>
                      </header>
                      <ul class="mt-socialicons">
                        <li class="mt-google"><a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google" aria-hidden="true"></i>
                        </a></li>
                        <li class="mt-twitter"></li>
                        <li class="mt-linkedin"></li>
                        <li class="mt-dribbble"></li>
                        <li class="mt-pinterest"></li>
                        <li class="mt-youtube"></li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt Detail Section of the Page end -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <!-- banner frame start here -->
              <div class="banner-frame toppadding-zero">
                <!-- banner 5 white start here -->
                <div class="banner-5 white wow fadeInLeft" data-wow-delay="0.6s">
                  <img src="{% static 'basestatic/images/banner/img05.jpg' %}" alt="image description">
                  <div class="holder">
                    <div class="texts">
                      <strong class="title">FURNITURE DESIGNS IDEAS</strong>
                      <h3><strong>New</strong> Collection</h3>
                      <p>Consectetur adipisicing elit. Beatae accusamus, optio, repellendus inventore</p>
                      <span class="price-add">$ 79.00</span>
                    </div>
                  </div>
                </div><!-- banner 5 white end here -->
                <!-- banner 6 white start here -->
                <div class="banner-6 white wow fadeInRight" data-wow-delay="0.6s">
                  <img src="{% static 'basestatic/images/banner/img06.jpg' %}" alt="image description">
                  <div class="holder">
                    <strong class="sub-title">SOFAS &amp; ARMCHAIRS</strong>
                    <h3>3 Seater Leather Sofa</h3>
                    <span class="offer">
                      <span class="price-less">$ 659.00</span>
                      <span class="prices">$ 499.00</span>
                    </span>
                    <a href="product-detail.html" class="btn-shop">
                      <span>shop now</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </div><!-- banner 5 white end here -->
                <!-- banner box two start here -->
                <div class="banner-box two">
                  <!-- banner 7 right start here -->
                  <div class="banner-7 right wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{% static 'basestatic/images/banner/img07.jpg' %}" alt="image description">
                    <div class="holder">
                      <h2><strong>ACRYLIC FABRIC <br>BEAN BAG</strong></h2>
                      <ul class="mt-stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                      </ul>
                      <div class="price-tag">
                        <span class="price">$ 99.00</span>
                        <a class="shop-now" href="product-detail.html">SHOP NOW</a>
                      </div>
                    </div>
                  </div><!-- banner 7 right end here -->
                  <!-- banner 8 start here -->
                  <div class="banner-8 wow fadeInDown" data-wow-delay="0.6s">
                    <img src="{% static 'basestatic/images/banner/img08.jpg' %}" alt="image description">
                    <div class="holder">
                      <h2><strong>CHAIR WITH <br>ARMRESTS</strong></h2>
                      <ul class="mt-stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                      </ul>
                      <div class="price-tag">
                        <span class="price-off">$ 129.00</span>
                        <span class="price">$ 99.00</span>
                        <a class="btn-shop" href="product-detail.html">
                          <span>HURRY UP!</span> 
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </div>
                  </div><!-- banner 8 start here -->
                </div>
              </div><!-- banner frame end here -->
            </div>
          </div>
        </div>
      </main><!-- Main of the Page end -->
      <!-- footer of the Page -->
      {% include 'coreBase/footer.html' %}
      <!-- footer of the Page end -->
    </div>
    <span id="back-top" class="fa fa-arrow-up"></span>
  </div>



{% endblock content %}
