{% extends 'partialsBase/base.html' %}
{% load static %}
{% block title %} Kayıt Ol - Eşyala {% endblock title %}

{% block content %}


  <!-- main container of all the page elements -->
  <div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
      <div class="loader">
        <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
      </div>
    </div>
    <div class="w1">
      <!-- mt header style4 start here -->
      {% include 'coreBase/header.html' %}
      <!-- mt header style4 end here -->

      <!-- Main of the Page -->
      <main id="mt-main">
        <!-- Mt Content Banner of the Page -->
        <section class="mt-contact-banner" style="background-image: url({% static 'basestatic/images/img43.jpg' %}); background-size: cover; background-position: center;">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h1>Kayıt Ol</h1>
                <nav class="breadcrumbs">
                  <ul class="list-unstyled">
                    <li><a href="{% url 'main:home' %}">Anasayfa <i class="fa fa-angle-right"></i></a></li>
                    <li>Kayıt Ol</li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt Content Banner of the Page end -->
        <!-- Mt About Section of the Page -->
        <section class="mt-about-sec" style="padding-bottom: 0;">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="txt wow fadeInUp" data-wow-delay="0.4s">
                  <h2>Kayıt Olun ve Alışverişe Başlayın!</h2>
                  <p>Merhaba! Esyala.com'a hoş geldiniz. Hesabınıza giriş yaparak alışveriş yapmaya başlayabilirsiniz. Eğer daha önce hesap oluşturduysanız, lütfen kullanıcı adınızı veya e-posta adresinizi ve şifrenizi girerek giriş yapın.</p>
                  <p>Hesabınızı oluşturmadıysanız, hemen ücretsiz bir hesap oluşturabilir ve Esyala.com'un sunduğu avantajlardan yararlanmaya başlayabilirsiniz.</p>
                  <p>Giriş yapmak için aşağıdaki formu doldurun ve "Giriş Yap" butonuna tıklayın. Eğer şifrenizi unuttuysanız, "Şifremi Unuttum" seçeneğiyle şifrenizi sıfırlayabilirsiniz.</p>
                  <p>Eğer hala bir hesabınız yoksa, hemen kayıt olun ve Esyala.com'un dünyasına adım atın. Kayıt olmak hızlı, kolay ve ücretsizdir!</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt About Section of the Page -->
        <!-- Mt Detail Section of the Page -->
        <section class="mt-detail-sec toppadding-zero">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-push-1">
                <div class="holder" style="margin: 0;">
                    <div class="mt-side-widget">
                      <header>
                        <h2 style="margin: 0 0 5px;">Kayıt Ol</h2>
                        <p>Hesabınız var mı? <a href="{% url 'customerauth:sign-in' %}"class="bold-text" >Giriş Yap</a></p>

                      </header>
                      <form method="post" method="POST" style="margin: 0 0 80px;">
                        <fieldset>
                          <div class="row">
                              <div class="col-xs-12">
                                  <input type="text" class="input" name="username" placeholder="Kullanıcı Adı" required="" id="id_username">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12">
                                  <input type="email" name="email" class="input" placeholder="Email" autofocus="" required="" id="id_email">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12">
                                  <input type="password" class="input" name="password1" placeholder="Şifreniz" required="" id="id_password1">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12">
                                  <input type="password" class="input" name="password2" placeholder="Tekrar Şifreniz" required="" id="id_password2">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12 col-sm-6">
                                  <button type="submit" class="btn-type1" name="login">Kayıt Ol</button>
                              </div>
                           
                          </div>
                      
                      </fieldset>
                      
                      
                      </form>
                      <header>
                        <h2 style="margin: 0 0 5px;">Sosyal Medya ile Kayıt Ol</h2>
                        <p>Sosyal medya kullanarak bir hesap oluşturun</p>
                      </header>
                      <ul class="mt-socialicons">
                        <li class="mt-google"><a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google"></i></a></li>
                        <li class="mt-twitter"></li>
                        <li class="mt-linkedin"></li>
                        <li class="mt-dribbble"></li>
                        <li class="mt-pinterest"></li>
                        <li class="mt-youtube"></li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt Detail Section of the Page end -->
        <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <!-- banner frame start here -->
                <div class="banner-frame toppadding-zero">
                  {% for homesubbanner in homesubbanners %}
                {% if homesubbanner.choose == 'banner1' %}
                    <div class="banner-1 wow fadeInLeft" data-wow-delay="0.4s">
                        <img alt="image description" src="{{ homesubbanner.image.url }}">
                        <div class="holder">
                            <h2>{{ homesubbanner.title }}</h2>
                            <div class="txts">
                                <a class="btn-shop" href="{{ homesubbanner.link }}">
                                    <span>Shop now</span>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                {% if homesubbanner.discount %}
                                    <div class="discount">
                                        <span>{{ homesubbanner.discount }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% elif homesubbanner.choose == 'banner2' %}
                    <div class="banner-box first">
                        <div class="banner-2 wow fadeInUp" data-wow-delay="0.4s">
                            <img alt="image description" src="{{ homesubbanner.image.url }}">
                            <div class="holder">
                                <h2>{{ homesubbanner.title }}</h2>
                                <span class="price">{{ homesubbanner.price }}</span>
                            </div>
                        </div>
                {% elif homesubbanner.choose == 'banner3' %}
                        <div class="banner-3 right wow fadeInDown" data-wow-delay="0.4s">
                            <img alt="image description" src="{{ homesubbanner.image.url }}">
                            <div class="holder">
                                <h2>{{ homesubbanner.title }}</h2>
                                <a href="{{ homesubbanner.link }}" class="shop">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                {% elif homesubbanner.choose == 'banner4' %}
                    <div class="banner-4 hidden-sm wow fadeInRight" data-wow-delay="0.4s">
                        <img alt="image description" src="{{ homesubbanner.image.url }}">
                        <div class="holder">
                            <h2>{{ homesubbanner.title }}</h2>
                            <span class="price">{{ homesubbanner.price }}</span>
                            <a class="btn-shop add" href="{{ homesubbanner.link }}">
                                <span>shop now</span>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}   
                </div><!-- banner frame end here -->
              </div>
            </div>
          </div>
      </main><!-- Main of the Page end -->
      <!-- footer of the Page -->
      {% include 'coreBase/footer.html' %}
      <!-- footer of the Page end -->
    </div>
    <span id="back-top" class="fa fa-arrow-up"></span>
  </div>


{% endblock content %}
