{% extends 'partialsBase/base.html' %}
{% load static %}
{% block title %} Giriş Yap - Eşyala {% endblock title %}

{% block content %}
<style>
  .bold-text {
      font-weight: bold;
  }
</style>

  <!-- main container of all the page elements -->
  <div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
      <div class="loader">
        <img src="{% static 'images/svg/rings.svg' %}" alt="loader">
      </div>
    </div>
    <div class="w1">
      <!-- mt header style4 start here -->
      {% include 'coreBase/header.html' %}
      <!-- mt header style4 end here -->

      <!-- Main of the Page -->
      <main id="mt-main">
        <!-- Mt Content Banner of the Page -->
        <section class="mt-contact-banner" style="background-image: url({% static 'images/img43.jpg' %}); background-size: cover; background-position: center;">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h1>Giriş</h1>
                <nav class="breadcrumbs">
                  <ul class="list-unstyled">
                    <li><a href="{% url 'main:home' %}">Anasayfa <i class="fa fa-angle-right"></i></a></li>
                    <li>Giriş</li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt Content Banner of the Page end -->
        <!-- Mt About Section of the Page -->
        <section class="mt-about-sec" style="padding-bottom: 0;">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="txt wow fadeInUp" data-wow-delay="0.4s">
                  <h2>Hesabınıza Giriş Yapın ve Alışverişe Başlayın!</h2>
                  <p>Merhaba! Esyala.com'a hoş geldiniz. Hesabınıza giriş yaparak alışveriş yapmaya başlayabilirsiniz. Eğer daha önce hesap oluşturduysanız, lütfen kullanıcı adınızı veya e-posta adresinizi ve şifrenizi girerek giriş yapın.</p>
                  <p>Hesabınızı oluşturmadıysanız, hemen ücretsiz bir hesap oluşturabilir ve Esyala.com'un sunduğu avantajlardan yararlanmaya başlayabilirsiniz.</p>
                  <p>Giriş yapmak için aşağıdaki formu doldurun ve "Giriş Yap" butonuna tıklayın. Eğer şifrenizi unuttuysanız, "Şifremi Unuttum" seçeneğiyle şifrenizi sıfırlayabilirsiniz.</p>
                  <p>Eğer hala bir hesabınız yoksa, hemen kayıt olun ve Esyala.com'un dünyasına adım atın. Kayıt olmak hızlı, kolay ve ücretsizdir!</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt About Section of the Page -->
        <!-- Mt Detail Section of the Page -->
        <section class="mt-detail-sec toppadding-zero">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-push-2">
                <div class="holder" style="margin: 0;">
                    <div class="mt-side-widget">
                      <header>
                        <h2 style="margin: 0 0 5px;">Giriş Yap</h2>
                        <p>Tekrar hoşgeldiniz! Hesabınıza giriş yapın</p>
                        <p>Hesabınız yok mu? <a href="{% url 'customerauth:sign-up' %}"class="bold-text" >Kaydolun</a></p>
                    </header>
                      <form method="POST">
                        {% csrf_token %}
                        <fieldset>
                          <input type="text" class="input" required name="email_or_username" placeholder="Kullanıcı Adınız veya Mail Adresiniz" style="width: 100%;" />
                          <input class="input" required type="password" name="password" placeholder="Şifreniz *" style="width: 100%;" />
                          <div class="box">
                            <span class="left"><input class="checkbox" name="checkbox" id="exampleCheckbox1" type="checkbox" id="exampleCheckbox1"><label for="exampleCheckbox1">Beni Hatırla</label></span>
                            <a href="{% url 'customerauth:password_reset_request' %}" class="help">Şifremi Unuttum!</a>
                          </div>
                          <button type="submit" name="login" class="btn-type1">Giriş Yap</button>
                        </fieldset>
                      </form>
                      <!-- <header>
                        <h2 style="margin-top: 10px;">Sosyal Medya ile Giriş Yap</h2>
                        <p>Sosyal medya kullanarak giriş yap</p>
                      </header>
                      <ul class="mt-socialicons">
                        <li class="mt-google"><a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google" aria-hidden="true"></i>
                        </a></li>
                        <li class="mt-twitter"></li>
                        <li class="mt-linkedin"></li>
                        <li class="mt-dribbble"></li>
                        <li class="mt-pinterest"></li>
                        <li class="mt-youtube"></li>
                      </ul> -->
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt Detail Section of the Page end -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <!-- banner frame start here -->
              <div class="banner-frame toppadding-zero">
                {% for homesubbanner in homesubbanners %}
                {% if homesubbanner.choose == 'banner1' %}
                    <div class="banner-1 wow fadeInLeft" data-wow-delay="0.4s">
                        <img alt="image description" src="{{ homesubbanner.image.url }}">
                        <div class="holder">
                            <h2>{{ homesubbanner.title }}</h2>
                            <div class="txts">
                                <a class="btn-shop" href="{{ homesubbanner.link }}">
                                    <span>Alışverişe Başla</span>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                {% if homesubbanner.discount %}
                                    <div class="discount">
                                        <span>{{ homesubbanner.discount }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% elif homesubbanner.choose == 'banner2' %}
                    <div class="banner-box first">
                        <div class="banner-2 wow fadeInUp" data-wow-delay="0.4s">
                            <img alt="image description" src="{{ homesubbanner.image.url }}">
                            <div class="holder">
                                <h2>{{ homesubbanner.title }}</h2>
                                <span class="price">{{ homesubbanner.price }}</span>
                            </div>
                        </div>
                {% elif homesubbanner.choose == 'banner3' %}
                        <div class="banner-3 right wow fadeInDown" data-wow-delay="0.4s">
                            <img alt="image description" src="{{ homesubbanner.image.url }}">
                            <div class="holder">
                                <h2>{{ homesubbanner.title }}</h2>
                                <a href="{{ homesubbanner.link }}" class="shop">Alışverişe Başla</a>
                            </div>
                        </div>
                    </div>
                {% elif homesubbanner.choose == 'banner4' %}
                    <div class="banner-4 hidden-sm wow fadeInRight" data-wow-delay="0.4s">
                        <img alt="image description" src="{{ homesubbanner.image.url }}">
                        <div class="holder">
                            <h2>{{ homesubbanner.title }}</h2>
                            <span class="price">{{ homesubbanner.price }}</span>
                            <a class="btn-shop add" href="{{ homesubbanner.link }}">
                                <span>Alışverişe Başla</span>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}                
              </div><!-- banner frame end here -->
            </div>
          </div>
        </div>
      </main><!-- Main of the Page end -->
      <!-- footer of the Page -->
      {% include 'coreBase/footer.html' %}
      <!-- footer of the Page end -->
    </div>
    <span id="back-top" class="fa fa-arrow-up"></span>
  </div>



{% endblock content %}
