{% extends 'partialsBase/base.html' %}
{% load static %}
{% block title %} Kayıt Ol - Eşyala {% endblock title %}

{% block content %}


  <!-- main container of all the page elements -->
  <div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
      <div class="loader">
        <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
      </div>
    </div>
    <div class="w1">
      <!-- mt header style4 start here -->
      {% include 'coreBase/header.html' %}
      <!-- mt header style4 end here -->
      <!-- mt search popup start here -->
      <div class="mt-search-popup">
        <div class="mt-holder">
          <a href="#" class="search-close"><span></span><span></span></a>
          <div class="mt-frame">
            <form action="#">
              <fieldset>
                <input type="text" placeholder="Search...">
                <span class="icon-microphone"></span>
                <button class="icon-magnifier" type="submit"></button>
              </fieldset>
            </form>
          </div>
        </div>
      </div><!-- mt search popup end here -->
      <!-- Main of the Page -->
      <main id="mt-main">
        <!-- Mt Content Banner of the Page -->
        <section class="mt-contact-banner" style="background-image: url({% static 'basestatic/images/img43.jpg' %}); background-size: cover; background-position: center;">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h1>Kayıt Ol</h1>
                <nav class="breadcrumbs">
                  <ul class="list-unstyled">
                    <li><a href="{% url 'main:home' %}">Anasayfa <i class="fa fa-angle-right"></i></a></li>
                    <li>Kayıt Ol</li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt Content Banner of the Page end -->
        <!-- Mt About Section of the Page -->
        <section class="mt-about-sec" style="padding-bottom: 0;">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="txt wow fadeInUp" data-wow-delay="0.4s">
                  <h2>Kayıt Ol</h2>
                  <p>Morbi in erat malesuada, sollicitudin massa at, tristique nisl. Maecenas id eros scelerisque, vulputate tortor quis, efficitur arcu sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Umco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit sse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat <strong>Vestibulum sit amet metus euismod, condimentum lectus id, ultrices sem.</strong></p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt About Section of the Page -->
        <!-- Mt Detail Section of the Page -->
        <section class="mt-detail-sec toppadding-zero">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-push-1">
                <div class="holder" style="margin: 0;">
                    <div class="mt-side-widget">
                      <header>
                        <h2 style="margin: 0 0 5px;">Kayıt Ol</h2>
                        <p>Hesabınız yok mu?</p>
                      </header>
                      <form method="post" method="POST" style="margin: 0 0 80px;">
                        <fieldset>
                          
                          <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="input" name="username" placeholder="Kullanıcı Adı" required="" id="id_username">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                            <input type="email" name="email"  class="input" placeholder="Email" autofocus="" required="" id="id_email">
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <input type="password" class="input" name="password1" placeholder="Şifreniz" required="" id="id_password1">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <input type="password" class="input" name="password2" placeholder="Tekrar Şifreniz" required="" id="id_password2">
                            </div>
                          </div>
                          <div class="box">
                            <a href="{% url 'customerauth:sign-in' %}" class="help">Giriş Yap</a>
                          </div>
                          <button type="submit" class="btn-type1" name="login">Kayıt Ol</button>
                        </fieldset>
                      </form>
                      <header>

                      </header>
                      <ul class="mt-socialicons">
                        <li class="mt-google"><a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google"></i></a></li>
                        <li class="mt-twitter"></li>
                        <li class="mt-linkedin"></li>
                        <li class="mt-dribbble"></li>
                        <li class="mt-pinterest"></li>
                        <li class="mt-youtube"></li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt Detail Section of the Page end -->
        <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <!-- banner frame start here -->
                <div class="banner-frame toppadding-zero">
                  <!-- banner 5 white start here -->
                  <div class="banner-5 white wow fadeInLeft" data-wow-delay="0.6s">
                    <img src="{% static 'basestatic/images/banner/img05.jpg' %}" alt="image description">
                    <div class="holder">
                      <div class="texts">
                        <strong class="title">FURNITURE DESIGNS IDEAS</strong>
                        <h3><strong>New</strong> Collection</h3>
                        <p>Consectetur adipisicing elit. Beatae accusamus, optio, repellendus inventore</p>
                        <span class="price-add">$ 79.00</span>
                      </div>
                    </div>
                  </div><!-- banner 5 white end here -->
                  <!-- banner 6 white start here -->
                  <div class="banner-6 white wow fadeInRight" data-wow-delay="0.6s">
                    <img src="{% static 'basestatic/images/banner/img06.jpg' %}" alt="image description">
                    <div class="holder">
                      <strong class="sub-title">SOFAS &amp; ARMCHAIRS</strong>
                      <h3>3 Seater Leather Sofa</h3>
                      <span class="offer">
                        <span class="price-less">$ 659.00</span>
                        <span class="prices">$ 499.00</span>
                      </span>
                      <a href="product-detail.html" class="btn-shop">
                        <span>shop now</span>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </div><!-- banner 5 white end here -->
                  <!-- banner box two start here -->
                  <div class="banner-box two">
                    <!-- banner 7 right start here -->
                    <div class="banner-7 right wow fadeInUp" data-wow-delay="0.6s">
                      <img src="{% static 'basestatic/images/banner/img07.jpg' %}" alt="image description">
                      <div class="holder">
                        <h2><strong>ACRYLIC FABRIC <br>BEAN BAG</strong></h2>
                        <ul class="mt-stars">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <div class="price-tag">
                          <span class="price">$ 99.00</span>
                          <a class="shop-now" href="product-detail.html">SHOP NOW</a>
                        </div>
                      </div>
                    </div><!-- banner 7 right end here -->
                    <!-- banner 8 start here -->
                    <div class="banner-8 wow fadeInDown" data-wow-delay="0.6s">
                      <img src="{% static 'basestatic/images/banner/img08.jpg' %}" alt="image description">
                      <div class="holder">
                        <h2><strong>CHAIR WITH <br>ARMRESTS</strong></h2>
                        <ul class="mt-stars">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <div class="price-tag">
                          <span class="price-off">$ 129.00</span>
                          <span class="price">$ 99.00</span>
                          <a class="btn-shop" href="product-detail.html">
                            <span>HURRY UP!</span> 
                            <i class="fa fa-angle-right"></i>
                          </a>
                        </div>
                      </div>
                    </div><!-- banner 8 start here -->
                  </div>
                </div><!-- banner frame end here -->
              </div>
            </div>
          </div>
      </main><!-- Main of the Page end -->
      <!-- footer of the Page -->
      {% include 'coreBase/footer.html' %}
      <!-- footer of the Page end -->
    </div>
    <span id="back-top" class="fa fa-arrow-up"></span>
  </div>


{% endblock content %}
