{% extends 'partials/customerauthbase.html' %}
{% load static %}

{% block content %}
<style>
    
    body {
        background-color: #FFFFFF;
    }

    @media screen  and (min-width:768px) {
        
        .left-side,.right-side{
            height: 100vh;
        }
    }

    
    .text-center {
        text-align: center;
    }

    .vertical-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .image-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
      }

      .option-image {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 10px;
        cursor: pointer;
      }

      .option-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

</style>

<div class="row no-gutters justify-content-center align-items-center">
    <div class="vertical-center">
        <div class="text-center">
            <div class="mb-5">
                <h1>{{ success_messages }}</h1>

                <div class="image-container">
                    <div class="option-image">
                      <img src="{% static 'assets/imgs/banner/wave.png' %}" />
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
</div>


<div id="targetUrl" data-url="{% url target_url %}"></div>

<script>
    var targetUrl = document.getElementById('targetUrl').dataset.url;
    console.log(targetUrl);

    setTimeout(function() {
        window.location.href = targetUrl;
    }, 5000);
</script>



{% endblock content %}
