{% extends 'partialsBase/base.html' %}
{% load static %}
{% block title %} Esyala {% endblock title %}
{% block content %}

<style>
    body {
        background-color: #FFFFFF;
    }

    .vertical-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .image-container {
        text-align: center; /* Görüntüleri ortalamak için */
    }

    .option-image {
        display: inline-block; /* Görüntülerin yan yana gelmesini sağlamak için */
        margin: 0 10px; /* Boşlukları ayarla */
        cursor: pointer;
    }

    .option-image img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }
</style>

<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
        </div>
    </div>
    <div class="w1">
        <!-- mt -header style14 start from here -->
        {% include 'coreBase/header.html' %}
        <!-- mt -header style14 end here -->

        <!-- Main of the Page -->
        <main id="mt-main">
            <div class="vertical-center">
                <div class="text-center">
                    <div class="mb-5">
                        <h1>{{ success_messages }}</h1>

                        <div class="image-container">
                            <div class="option-image">
                                <img src="{% static 'basestatic/images/wave.png' %}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer of the Page -->
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div>
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>

<div id="targetUrl" data-url="{% url target_url %}"></div>
        
        <script>
            var targetUrl = document.getElementById('targetUrl').dataset.url;
            console.log(targetUrl);
        
            setTimeout(function() {
                window.location.href = targetUrl;
            }, 5000);
        </script>

{% endblock content %}
