{% extends 'partialsBase/base.html' %}
{% load static %}
{% block title %} Esyala {% endblock title %}
{% block content %}

<style>
    body {
        background-color: #FFFFFF;
    }

    .vertical-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .image-container {
        text-align: center; /* Görüntüleri ortalamak için */
    }

    .option-image {
        display: inline-block; /* Görüntülerin yan yana gelmesini sağlamak için */
        margin: 0 10px; /* Boşlukları ayarla */
        cursor: pointer;
    }

    .option-image img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }
</style>

<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
        </div>
    </div>
    <div class="w1">
        <!-- mt -header style14 start from here -->
        {% include 'coreBase/header.html' %}
        <!-- mt -header style14 end here -->
        <!-- mt search popup start here -->
        <div class="mt-search-popup">
            <div class="mt-holder">
                <a href="#" class="search-close"><span></span><span></span></a>
                <div class="mt-frame">
                    <form action="#">
                        <fieldset>
                            <input type="text" placeholder="Search...">
                            <span class="icon-microphone"></span>
                            <button class="icon-magnifier" type="submit"></button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div><!-- mt search popup end here -->
        <!-- Main of the Page -->
        <main id="mt-main">
            <div class="vertical-center">
                <div class="text-center">
                    <div class="mb-5">
                        <h1>{{ success_messages }}</h1>

                        <div class="image-container">
                            <div class="option-image">
                                <img src="{% static 'basestatic/images/wave.png' %}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer of the Page -->
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div>
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>

<script>
    // Sayfanın yönlendirilme zamanlayıcısı
    setTimeout(function() {
        window.location.href = '/hedef-url'; // Hedef URL'yi değiştir
    }, 5000);
</script>

{% endblock content %}
