{% extends 'partialsBase/base.html' %}

{% load static %}

{% block title %} Beğendiklerim - Eşyala {% endblock title %}

{% block content %}


  <!-- main container of all the page elements -->  
  <div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
      <div class="loader">
        <img src="{% static 'basestatic/images/svg/rings.svg' %}" alt="loader">
      </div>
    </div>
    <div class="w1">
      <!-- mt -header style14 start from here -->
      {% include 'coreBase/header.html' %}
      <!-- mt -header style14 end here -->
      <!-- Main of the Page -->
      <main id="mt-main">            
        <section class="mt-contact-banner mt-banner-22" style="background-image: url({% static 'basestatic/images/img-76.jpg' %}); background-size: cover; background-position: center;">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1 class="text-center">Beğendiklerim</h1>
                <!-- Breadcrumbs of the Page -->
                <nav class="breadcrumbs">
                  <ul class="list-unstyled">
                    <li><a href="{% url 'main:home' %}">Anasayfa <i class="fa fa-angle-right"></i></a></li>
                    <li>Beğendiklerim</li>
                  </ul>
                </nav>
                <!-- Breadcrumbs of the Page end -->
              </div>
            </div>
          </div>
        </section>
        <div class="paddingbootom-md hidden-xs"></div>
        <!-- Mt Product Table of the Page -->
        <div class="mt-product-table paddingtop-md paddingbootom-md">
          <div class="container">
            {% if wishlistProducts %}
            {% for w in wishlistProducts %}
            <div class="row border">
                <div class="col-xs-12 col-sm-2">
                    <div class="img-holder">
                        {% with first_image=w.product.related_products.first %}
                            {% if first_image %}
                                <img src="{{ first_image.image.url }}" title="{{ first_image.img_title }}" alt="{{ first_image.img_alt }}">
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <strong class="product-name">{{ w.product.name|truncatechars:30 }}</strong>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <strong class="product-name"><i class="fa fa-try"></i> {{ w.product.selling_price }}</strong>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <strong class="product-name"><a href="{% url 'products:product-detail-view' w.product.slug %}" style="margin-top: 15px;">Ürünü İncele</a></strong>
                    
                </div>
                <div class="col-xs-12 col-sm-1">
                    <a href="" data-wishlist-product="{{ w.id }}" class="delete-wishlist-product" ><i class="fa fa-close"></i></a>
                </div>
            </div>
        {% endfor %}
        
            {% else %}
            <div style="text-align: center;">
              <h1>Beğendiklerim sayfasında ürün bulunamadı.</h1>
              <button class="btn-type3" onclick="handleArrowClick()" type="submit">Anasayfa</button> 
            </div>
            {% endif %}
            

            
            
          </div>
        </div><!-- Mt Product Table of the Page end -->
        <div class="paddingbootom-md hidden-xs"></div>
      </main><!-- Main of the Page end here -->
      <!-- footer of the Page -->
      {% include 'coreBase/footer.html' %}
      <!-- footer of the Page end -->
    </div>
    <span id="back-top" class="fa fa-arrow-up"></span>
  </div>

  <script>

    function handleArrowClick() {
        var redirectURL = "{% url 'main:home' %}";
        window.location.href = redirectURL;
    }
</script>

{%  endblock %}