{% extends 'partials/customerauthbase.html' %}
{% load static %}

{% block content %}

<div id="__next">
    <div class="site-container">

        {% include 'core/header.html' %}
        <style>
            .left-side {
                background-color: #FFFFFF;
                height: 50vh;
                width: 100%;
            }
        
            .right-side {
                background-color: #F3F0EB;
                height: 50vh;
                width: 100%;
                position: relative;
            }
        
            @media screen and (min-width: 768px) {
                .left-side,
                .right-side {
                    height: 100vh;
                }
            }
        
            .custom-btn {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-bottom: 20px;
                margin-right: 20px;
                background-color: #F2C791;
            }
        
            .custom-btn1 {
                position: absolute;
                bottom: 0;
                left: 0;
                margin-bottom: 20px;
                margin-left: 20px;
                background-color: #F2C791;
            }
        
            .left-side h1 {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 2em;
            }
        
            .left-side h6 {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
            }
        
            .option-image.selected img {
                background-color: orange;
            }
        
            .image-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        
            .option-image {
                position: relative;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-left: 10px;
                cursor: pointer;
                background-color: #f0f0f0;
                margin-right: 10px;
            }
        
            .option-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        
            .checkmark {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: none;
                color: rgb(61, 147, 0);
                font-size: 4em; /* Checkmark boyutu */
                font-weight: bold; /* Checkmark kalınlığı */
                /* Diğer özelleştirmeleri buraya ekleyin */
            }
        </style>
        
        <div class="row no-gutters">
            <div class="col-md-4 no-gutters">
                <div class="left-side d-flex flex-column align-items-center justify-content-center" style="margin-top: -60px;">
                    <h1 class="mb-5">Yerinizi kiralıyor musunuz, yoksa sahibi misiniz?</h1>
                    <p>Bu ne tür değişiklikler yapabileceğimize yardımcı olur.</p>
                </div>
            </div>
        
            <div class="col-md-8 no-gutters">
                <div class="right-side d-flex justify-content-center align-items-center">
                    <div class="image-container">
                        {% for home_type in home_types %}
                            <div class="option-image text-center" onclick="selectImage(this)" data-home-type-id="{{ home_type.id }}">
                                <img src="{{ home_type.image.url }}" alt="{{ home_type.img_alt }}" title="{{ home_type.img_title }}" />
                                <i class="fas fa-check checkmark"></i>
                                <span>{{ home_type.name }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-heading btn-block hover-up custom-btn" onclick="save_type()" name="login">Sonraki Adım</button>
                    <button type="submit" class="btn btn-heading btn-block hover-up custom-btn1" onclick="goToPreviousPage()" name="prev">Önceki Adım</button>
                </div>
            </div>
        </div>
        
        <form id="roomTypeForm" method="post">
            {% csrf_token %}
            <input type="hidden" id="selectedHomeTypeId" name="selected_home_type_id" value="">
        </form>
        
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            
        
            let selectedImage = null;
        
            function selectImage(divElement) {
                const imagePath = $(divElement).find("img").attr("src");
                const checkmark = $(divElement).find(".checkmark");
        
                if (selectedImage === imagePath) {
                    selectedImage = null;
                    $(divElement).removeClass("selected-image");
                    $(divElement).css("background-color", "#f0f0f0");
                    checkmark.hide();
                    return;
                }
        
                if (selectedImage) {
                    const messageContainer = document.querySelector('.popup-message');
                    messageContainer.innerHTML = '<div class="alert alert-danger">Sadece bir seçim yapabilirsiniz!</div>';
                    messageContainer.style.display = 'block';
        
                    setTimeout(function () {
                        messageContainer.style.display = 'none';
                    }, 5000); // 5 saniye
                    return;
                }
        
                selectedImage = imagePath;
        
                $(divElement).addClass("selected-image");
                $(divElement).css("background-color", "orange");
                checkmark.show();
            }
        
            function save_type() {
                if (selectedImage) {
                    const selectedHomeTypeId = $(".selected-image").attr("data-home-type-id");
                    $("#selectedHomeTypeId").val(selectedHomeTypeId);
        
                    console.log(selectedHomeTypeId);
                    
                    $.ajax({
                        url: "{% url 'customerauth:home-type' %}",
                        type: "POST",
                        data: $("#roomTypeForm").serialize(),
                        success: function (response) {
                            window.location.href = "{% url 'customerauth:home-model' %}";
                        },
                        error: function (error) {
                            //console.error(selectedHomeTypeId);
                        }
                    });
                } else {
                    const messageContainer = document.querySelector('.popup-message');
                    messageContainer.innerHTML = '<div class="alert alert-danger">Lütfen bir ev modeli seçin!</div>';
                    messageContainer.style.display = 'block';
        
                    setTimeout(function () {
                        messageContainer.style.display = 'none';
                    }, 5000); // 5 saniye
                }
            }
        
            function goToPreviousPage() {
                // Önceki sayfanın URL'ini al
                const previousPageUrl = "{% url 'customerauth:room-type' %}";
                
                // Yeni sayfaya yönlendir
                window.location.href = previousPageUrl;
            }
        </script>
          
        {% include 'core/footer.html' %}
    </div>
</div>

{% endblock content %}
