{% extends 'partialsBase/base.html' %}
{% load static %}
{% block title %} Ev Modeliniz - Eşyala {% endblock title %}
{% block content %}

<!-- main container of all the page elements -->
<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'images/svg/rings.svg' %}" alt="loader">
        </div>
    </div> 
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}
        
        <main id="mt-main">
            <div class="split-container">
                <div class="split left-side">
                    <div class="centered">
                        <h1 class="mb-5">Harika! İlk önce hangi odaya odaklanmalıyız?</h1>
                    </div>
                </div>
                <div class="split right-side">
                    <div class="centered">
                        <div class="image-container">
                            {% for room_type in room_types %}
                                <div class="option-image text-center" onclick="selectImage(this)" data-room-type-id="{{ room_type.id }}">
                                    <img src="{{ room_type.image.url }}" alt="{{ room_type.img_alt }}" title="{{ room_type.img_title }}" />
                                    <i class="fas fa-check checkmark"></i>
                                    <span>{{ room_type.name }}</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="button-container">
                            <button type="submit" class="btn btn-heading custom-btn" onclick="save_type()" name="login">Sonraki Adım</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <form id="roomTypeForm" method="post">
            {% csrf_token %}
            <input type="hidden" id="selectedRoomTypeId" name="selected_room_type_id" value="">
        </form>
        
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            
        
            let selectedImage = null;
        
            function selectImage(divElement) {
                const imagePath = $(divElement).find("img").attr("src");
                const checkmark = $(divElement).find(".checkmark");
        
                if (selectedImage === imagePath) {
                    selectedImage = null;
                    $(divElement).removeClass("selected-image");
                    $(divElement).css("background-color", "#f0f0f0");
                    checkmark.hide();
                    return;
                }
        
                if (selectedImage) {
                    const messageContainer = document.querySelector('.popup-message');
                    messageContainer.innerHTML = '<div class="alert alert-danger">Sadece bir seçim yapabilirsiniz!</div>';
                    messageContainer.style.display = 'block';
        
                    setTimeout(function () {
                        messageContainer.style.display = 'none';
                    }, 5000); // 5 saniye
                    return;
                }
        
                selectedImage = imagePath;
        
                $(divElement).addClass("selected-image");
                $(divElement).css("background-color", "orange");
                checkmark.show();
            }
        
            function save_type() {
                if (selectedImage) {
                    const selectedRoomTypeId = $(".selected-image").attr("data-room-type-id");
                    $("#selectedRoomTypeId").val(selectedRoomTypeId);
        
                    console.log(selectedRoomTypeId);
                    
                    $.ajax({
                        url: "{% url 'customerauth:room-type' %}",
                        type: "POST",
                        data: $("#roomTypeForm").serialize(),
                        success: function (response) {
                            window.location.href = "{% url 'customerauth:home-type' %}";
                        },
                        error: function (error) {
                            console.error(selectedRoomTypeId);
                        }
                    });
                } else {
                    const messageContainer = document.querySelector('.popup-message');
                    messageContainer.innerHTML = '<div class="alert alert-danger">Lütfen bir oda türü seçin!</div>';
                    messageContainer.style.display = 'block';
        
                    setTimeout(function () {
                        messageContainer.style.display = 'none';
                    }, 5000); // 5 saniye
                }
            }
        </script>

{%  endblock %}
