{% extends 'partialsBase/base.html' %}
{% load static %}
{% block title %} Zamanınız - Eşyala {% endblock title %}
{% block content %}

<!-- main container of all the page elements -->
<div id="wrapper">
    <!-- Page Loader -->
    <!-- <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img src="{% static 'images/svg/rings.svg' %}" alt="loader">
        </div>
    </div> -->
    <!-- W1 start here -->
    <div class="w1">
        <!-- mt header style4 start here -->
        {% include 'coreBase/header.html' %}
        
        <main id="mt-main">
            <div class="split-container">
                <div class="split left-side">
                    <div class="centered">
                        <h1 class="mb-5">Mükemmel Odanıza Ne Zaman İhtiyacınız Var?</h1>
                    </div>
                </div>
                <div class="split right-side">
                    <div class="centered">
                        <div class="image-container">
                            {% for time_range in time_ranges %}
                                <div class="option-image text-center" onclick="selectImage(this)" data-time-range-id="{{ time_range.id }}">
                                    <img src="{{ time_range.image.url }}" alt="{{ time_range.img_alt }}" title="{{ time_range.img_title }}" />
                                    <i class="fas fa-check checkmark"></i>
                                    <span>{{ time_range.name }}</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="button-container">
                            <button type="submit" class="btn btn-heading custom-btn" onclick="save_type()" name="login">Sonraki Adım</button>
                            <button type="submit" class="btn btn-heading custom-btn" onclick="goToPreviousPage()" name="prev">Önceki Adım</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <form id="roomTypeForm" method="post">
            {% csrf_token %}
            <input type="hidden" id="selectedTimeRangeId" name="selected_time_range_id" value="">
        </form>
        
        {% include 'coreBase/footer.html' %}
        <!-- footer of the Page end -->
    </div><!-- W1 end here -->
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    

    let selectedImage = null;

    function selectImage(divElement) {
        const imagePath = $(divElement).find("img").attr("src");
        const checkmark = $(divElement).find(".checkmark");

        if (selectedImage === imagePath) {
            selectedImage = null;
            $(divElement).removeClass("selected-image");
            $(divElement).css("background-color", "#f0f0f0");
            checkmark.hide();
            return;
        }

        if (selectedImage) {
            const messageContainer = document.querySelector('.popup-message');
            messageContainer.innerHTML = '<div class="alert alert-danger">Sadece bir seçim yapabilirsiniz!</div>';
            messageContainer.style.display = 'block';

            setTimeout(function () {
                messageContainer.style.display = 'none';
            }, 5000); // 5 saniye
            return;
        }

        selectedImage = imagePath;

        $(divElement).addClass("selected-image");
        $(divElement).css("background-color", "orange");
        checkmark.show();
    }

    function save_type() {
        if (selectedImage) {
            const selectedTimeRangeId = $(".selected-image").attr("data-time-range-id");
            $("#selectedTimeRangeId").val(selectedTimeRangeId);

            console.log(selectedTimeRangeId);
            
            $.ajax({
                url: "{% url 'customerauth:time-range' %}",
                type: "POST",
                data: $("#roomTypeForm").serialize(),
                success: function (response) {
                    window.location.href = "{% url 'main:home' %}";
                },
                error: function (error) {
                    //console.error(selectedTimeRangeId);
                }
            });
        } else {
            const messageContainer = document.querySelector('.popup-message');
            messageContainer.innerHTML = '<div class="alert alert-danger">Lütfen bir model seçin!</div>';
            messageContainer.style.display = 'block';

            setTimeout(function () {
                messageContainer.style.display = 'none';
            }, 5000); // 5 saniye
        }
    }

    function goToPreviousPage() {
        // Önceki sayfanın URL'ini al
        const previousPageUrl = "{% url 'customerauth:space-definations' %}";
        
        // Yeni sayfaya yönlendir
        window.location.href = previousPageUrl;
    }
</script>

{%  endblock %}
