{% load static %}
<div class="popup-message">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <div class="popup-content">
                <div class="popup-image">
                    {% if message.tags == 'success' %}
                        <img src="https://filestorages.fra1.digitaloceanspaces.com/message/check.png" alt="Success">
                    {% elif message.tags == 'warning' %}
                        <img src="https://filestorages.fra1.digitaloceanspaces.com/message/cross.png" alt="Warning">
                    {% elif message.tags == 'error' %}
                        <img src="https://filestorages.fra1.digitaloceanspaces.com/message/cross.png" alt="Error">
                    {% endif %}
                </div>
                <div class="popup-text">
                    <p>{{ message.message }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>




<style>
    .popup-message {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: #fff; /* Popup arka plan rengi */
        border-radius: 8px; /* Köşe yuvarlaklığı */
    }

    .popup-content {
        display: flex;
        align-items: center;
    }

    .popup-image {
        flex: 1;
    }

    .popup-image img {
        max-width: 80%;
        height: auto;
        display: block;
    }

    .popup-text {
        flex: 2;
        padding: 20px;
    }

    .popup-text p {
        margin: 0;
        font-size: 16px;
        color: #333;
    }
</style>



<script>
document.addEventListener("DOMContentLoaded", function() {
    const popupMessage = document.querySelector('.popup-message');
    
    // Eğer mesajlar varsa, popup mesajı göster
    if (popupMessage && popupMessage.innerHTML.trim() !== '') {
        popupMessage.style.display = 'block';
        
        // Sayfa yüklendiğinde mesajın otomatik olarak kapanması için bir süre bekleyin (örneğin 5 saniye)
        setTimeout(function() {
            popupMessage.style.display = 'none';
        }, 5000); // 5 saniye
    } else {
        popupMessage.style.display = 'none';
    }
});


</script>